interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dashboard.prodsec.redhat.com/rest/api/latest/product-definitions
  response:
    body:
      string: '{"cc_groups": {"security_liabilities": {"description": "WARNING: Never
        add this to embargoed issues. These people are not to be trusted.", "members":
        [{"jira": "sdherr", "comment": "Probably a spy for Oracle.", "bugzilla": "sherr@redhat.com",
        "name": "Stephen Herr"}, {"comment": "Super-Duper Senior Principal Engineer
        isn''t even a real title.", "bugzilla": "gmollett@redhat.com", "name": "Garth
        Mollett"}]}}, "ps_update_streams": {"dts-4.1": {"version": "DTS 4.1 RHEL 7",
        "flags": ["rhdts-4.1.z"], "pp_label": "dts-4-1"}, "openshift-container-storage-4.7.z":
        {"version": "4.7", "flags": ["ocs-4.7.z"], "brew_tags": [{"tag": "ocs-4.7-rhel-8",
        "inherit": true}, {"tag": "ocs-4.7-rhel-8-container-released", "inherit":
        true}]}, "rhev-m-4.1.z": {"additional_fields": {"bugzilla": {"cf_ovirt_team":
        "Node"}}, "version": "4.1.0", "flags": ["rhevm-4.1.z"], "pp_label": "rhv-4-1"},
        "rhmi-default": {"version": "unspecified"}, "eap-6.3.0": {"target_release":
        "One-off release", "version": "6.3.0", "pp_label": "jbosseap-6-3.0"}, "eap-6.3.3":
        {"target_release": "One-off release", "version": "6.3.3", "pp_label": "jbosseap-6-3.0"},
        "eap-6.3.2": {"target_release": "One-off release", "version": "6.3.2", "pp_label":
        "jbosseap-6-3.0"}, "eap-5.2.0": {"target_release": "One-off release", "version":
        "5.2.0", "pp_label": "jbosseap-50-2.0"}, "oadp-1.0": {"version": "oadp-1.0",
        "brew_tags": [{"tag": "OADP-1.0-rhel-8-container-released", "inherit": false}],
        "pp_label": "oadp-1"}, "maistra-1.1.0": {"target_release": "maistra-1.1.0",
        "version": "maistra-1.1.0", "pp_label": "osmm-1.1-0"}, "oadp-1": {"version":
        "oadp-1", "pp_label": "oadp-1"}, "openshift-4.7.z": {"brew_tags": [{"tag":
        "rhaos-4.7-rhel-7-container-released", "inherit": false}, {"tag": "rhaos-4.7-rhel-8-container-released",
        "inherit": false}], "target_release": "4.7.z", "yum_repositories": ["http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/aarch64/rhocp/4.7/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/ppc64le/rhocp/4.7/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/s390x/rhocp/4.7/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/x86_64/rhocp/4.7/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/ose/4.7/os/"],
        "version": "4.7", "exclude_components": ["kernel", "kernel-rt"], "pp_label":
        "openshift-4.7"}, "services-advisor-default": {"version": null}, "jdg-6":
        {"version": "6.6.2", "pp_label": "jdg-6.6.2"}, "devtools-eclipse-2021-2":
        {"version": "DevTools-2021.2", "pp_label": "devtools-2021-2"}, "devtools-eclipse-2021-3":
        {"version": "DevTools-2021.3", "pp_label": "devtools-2021-3"}, "devtools-eclipse-2021-1":
        {"version": "DevTools-2020.4", "pp_label": "devtools-2021-1"}, "openstack-13-els":
        {"version": "13.0 (Queens)", "flags": ["rhos-13.0.z", "blocker"], "brew_tags":
        [{"tag": "rhos-13.0-rhel-7", "inherit": true}], "pp_label": "rhosp-13.0"},
        "eap-6.3.1": {"target_release": "One-off release", "version": "6.3.1", "pp_label":
        "jbosseap-6-3.0"}, "openstack-11-optools": {"version": "11.0 (Ocata)", "flags":
        ["rhos-optools-11.0.z", "blocker"], "pp_label": ""}, "rhel-7.1": {"keywords":
        ["ZStream"], "rhsa_sla_applicable": false, "version": "7.1", "flags": ["rhel-7.1.0",
        "blocker"], "pp_label": "rhel-7-1"}, "rhcertification-6": {"version": "1.0",
        "flags": []}, "rhcertification-7": {"version": "1.0", "flags": []}, "rhel-7.7.z":
        {"additional_fields": {"bugzilla": {"cf_zstream_target_release": "7.7.0"}},
        "pp_label": "rhel-7-7", "version": "7.7", "flags": ["release", "zstream"],
        "keywords": ["ZStream"], "errata_info": [{"product_name": "RHEL", "product_versions":
        [{"variants": ["7Server-7.7.TUS", "7Server-optional-7.7.TUS", "7Server-HighAvailability-7.7.TUS"],
        "name": "RHEL-7.7-TUS"}, {"variants": ["7Server-7.7.E4S", "7Server-HighAvailability-7.7.E4S",
        "7Server-SAP-7.7.E4S", "7Server-SAPHANA-7.7.E4S", "7Server-optional-7.7.E4S"],
        "name": "RHEL-7.7-E4S"}, {"variants": ["7Server-7.7.AUS", "7Server-optional-7.7.AUS"],
        "name": "RHEL-7.7-AUS"}]}]}, "openshift-4.9.z": {"yum_repositories": ["http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/aarch64/rhocp/4.9/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/ppc64le/rhocp/4.9/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/s390x/rhocp/4.9/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/x86_64/rhocp/4.9/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/ose/4.9/os/"],
        "target_release": "4.9.z", "version": "4.9", "brew_tags": [{"tag": "rhaos-4.9-rhel-7-container-released",
        "inherit": false}, {"tag": "rhaos-4.9-rhel-8-container-released", "inherit":
        false}], "pp_label": "openshift-4.9"}, "rhcertification-8": {"version": "1.0",
        "flags": []}, "jdg-7.2.1": {"version": "JDG 7.2.1 GA", "pp_label": "rhdg-7.2.1"},
        "mta-5": {"version": "5.3", "pp_label": "mt-mta-5.3"}, "jbds-10": {"version":
        "jbds-10.4", "pp_label": "jbds-10-4"}, "jbds-11": {"version": "jbds-11.0",
        "pp_label": "jbds-11-0"}, "eap-6.3.z": {"target_release": "EAP 6.3.3", "version":
        "6.3.3", "pp_label": "jbosseap-6-3.0"}, "rhel-8.6.0": {"additional_fields":
        {"bugzilla": {"cf_internal_target_release": "8.6.0"}}, "rhsa_sla_applicable":
        false, "pp_label": "rhel-8-6.0", "version": "8.6", "flags": ["release", "blocker"],
        "composes": [{"url": "http://download-node-02.eng.bos.redhat.com/rhel-8/rel-eng/RHEL-8/latest-RHEL-8.6.0/compose",
        "variants": ["AppStream", "BaseOS", "HighAvailability", "NFV", "RT", "ResilientStorage",
        "SAP", "SAPHANA"]}, {"url": "http://download-node-02.eng.bos.redhat.com/rhel-8/rel-eng/Supp-8/latest-Supp-8.6.0-RHEL-8/compose",
        "variants": ["Supplementary"]}], "keywords": ["ZStream"]}, "fedora-18": {"version":
        "18", "rhsa_sla_applicable": false}, "fedora-19": {"version": "19", "rhsa_sla_applicable":
        false}, "fedora-16": {"version": "16", "rhsa_sla_applicable": false}, "fedora-17":
        {"version": "17", "rhsa_sla_applicable": false}, "fedora-14": {"version":
        "14", "rhsa_sla_applicable": false}, "fedora-15": {"version": "15", "rhsa_sla_applicable":
        false}, "fedora-12": {"version": "12", "rhsa_sla_applicable": false}, "fedora-13":
        {"version": "13", "rhsa_sla_applicable": false}, "openstack-10": {"version":
        "10.0 (Newton)", "flags": ["rhos-10.0.z", "blocker"], "pp_label": "rhosp-10.0"},
        "openstack-11": {"version": "11.0 (Ocata)", "flags": ["rhos-11.0.z", "blocker"],
        "pp_label": "rhosp-11.0"}, "jdg-6.6.2": {"version": "6.6.2", "pp_label": "jdg-6.6.2"},
        "jdg-6.6.1": {"version": "6.6.1", "pp_label": "jdg-6.6.1"}, "jdg-6.6.0": {"version":
        "6.6.0", "pp_label": "jdg-6.6.0"}, "rhint-debezium-1": {"version": "1.1.GA",
        "brew_tags": [{"tag": "amq-cdc-1-pnc-candidate", "inherit": true}], "pp_label":
        "mw_integration-dbz_1.1"}, "dts-11": {"additional_fields": {"bugzilla": {"cf_zstream_target_release":
        "11.1"}}, "version": "DTS 11.1 RHEL 7"}, "dts-10": {"additional_fields": {"bugzilla":
        {"cf_zstream_target_release": "10.1"}}, "version": "DTS 10.1 RHEL 7"}, "services-api-management-default":
        {"version": "1.0.0"}, "dts-12": {"additional_fields": {"bugzilla": {"cf_internal_target_release":
        "12.0"}}, "version": "DTS 12.0 RHEL 7", "pp_label": "dts-12-0"}, "dotnet-5.0-default":
        {"version": "5.0", "flags": ["dotnet-5.0.z"], "pp_label": "dotnet-5.0"}, "jdg-6.4.0":
        {"version": "6.4.0", "pp_label": "jdg-6-4.0"}, "jbcs-httpd-2.4.29": {"version":
        "httpd 2.4.29 GA", "pp_label": "jboss_core-httpd-2.4.29"}, "eapcd": {"version":
        "7.4.0.CD19", "pp_label": "jbosseap-7-3.0"}, "jbcs-httpd-2.4.23": {"version":
        "httpd 2.4.23 GA", "pp_label": "jbcs_mgmt-1.0"}, "rhscl-3.1.z": {"collections":
        ["httpd24", "python27", "rh-eclipse46", "rh-git29", "rh-haproxy18", "rh-java-common",
        "rh-mariadb101", "rh-mariadb102", "rh-maven33", "rh-maven35", "rh-mongodb32",
        "rh-mongodb34", "rh-mongodb36", "rh-mysql57", "rh-nginx110", "rh-nginx112",
        "rh-nginx18", "rh-nodejs6", "rh-nodejs8", "rh-perl524", "rh-perl526", "rh-php70",
        "rh-php71", "rh-postgresql10", "rh-postgresql95", "rh-postgresql96", "rh-python35",
        "rh-python36", "rh-redis32", "rh-ror42", "rh-ror50", "rh-ruby23", "rh-ruby24",
        "rh-ruby25", "rh-scala210", "rh-varnish4", "rh-varnish5"], "version": "",
        "flags": ["rhscl-3.1.z"], "pp_label": "rhscl-3-1"}, "brms-7.0.0": {"target_release":
        "7.0.0.GA", "version": "7.0.0", "pp_label": "jbossbrms-7-0.0"}, "openshift-4.3.z":
        {"target_release": "4.3.z", "version": "4.3.z", "pp_label": "openshift-4.3"},
        "rhel-6.5.z": {"version": "6.5", "flags": ["rhel-6.5.z"], "pp_label": "rhel-6-5"},
        "jbcs-httpd-2.4.29-sp2-native": {"version": "httpd 2.4.29 SP2 Natives GA",
        "pp_label": "jboss_core-httpd-2.4.29.SP2"}, "openshift-4.5.z": {"target_release":
        "4.5.z", "version": "4.5", "brew_tags": [{"tag": "rhaos-4.5-rhel-7-container-released",
        "inherit": true}, {"tag": "rhaos-4.5-rhel-8-container-released", "inherit":
        true}], "pp_label": "openshift-4.5"}, "rhscl-3.8.z": {"additional_fields":
        {"bugzilla": {"cf_zstream_target_release": "3.8"}}, "brew_tags": [{"tag":
        "rhscl-3.8-rhel-7", "inherit": true}], "pp_label": "rhscl-3-8", "version":
        "", "flags": ["release", "zstream"], "keywords": ["ZStream"], "collections":
        ["httpd24", "python27", "rh-git227", "rh-haproxy18", "rh-jmc", "rh-mariadb103",
        "rh-mariadb105", "rh-maven36", "rh-mysql80", "rh-nginx118", "rh-nginx120",
        "rh-nodejs12", "rh-nodejs14", "rh-perl530", "rh-php73", "rh-postgresql10",
        "rh-postgresql12", "rh-postgresql13", "rh-python38", "rh-redis5", "rh-redis6",
        "rh-ruby26", "rh-ruby27", "rh-ruby30", "rh-varnish6"], "exclude_components":
        ["devtoolset-[0-9]+.*", ".*-docker"]}, "eap-6.1.1": {"target_release": "One-off
        release", "version": "6.1.1", "pp_label": "jbosseap-6-1.1"}, "eap-6.1.0":
        {"target_release": "One-off release", "version": "6.1.0", "pp_label": "jbosseap-6-1.0"},
        "rhel-8.2.1": {"additional_fields": {"bugzilla": {"cf_internal_target_release":
        "8.2.1"}}, "rhsa_sla_applicable": false, "pp_label": "rhel-8-2.1", "version":
        "8.2", "flags": ["release", "blocker"], "keywords": ["ZStream"]}, "jdg-6.2.1":
        {"version": "6.2.1", "pp_label": "jdg-6-2.1"}, "eap-7.0.7": {"target_release":
        "7.0.z.GA", "version": "7.0.7.GA", "pp_label": "jbosseap-7-0.0"}, "eap-7.0.6":
        {"target_release": "7.0.z.GA", "version": "7.0.6.GA", "pp_label": "jbosseap-7-0.0"},
        "eap-7.0.5": {"target_release": "7.0.z.GA", "version": "7.0.5.GA", "pp_label":
        "jbosseap-7-0.0"}, "eap-7.0.4": {"target_release": "7.0.z.GA", "version":
        "7.0.4.GA", "pp_label": "jbosseap-7-0.0"}, "bpms-6.1.x": {"version": "unspecified"},
        "eap-7.0.2": {"target_release": "7.0.z.GA", "version": "7.0.2.GA", "pp_label":
        "jbosseap-7-0.0"}, "brms-6.1.x": {"version": "unspecified", "target_release":
        "One-off release"}, "eap-7.0.0": {"target_release": "7.0.2.GA", "version":
        "7.0.0.GA", "pp_label": "jbosseap-7-0.0"}, "rhel-8.1.0": {"additional_fields":
        {"bugzilla": {"cf_internal_target_release": "8.1.0"}}, "rhsa_sla_applicable":
        false, "pp_label": "rhel-8-1.0", "version": "8.1", "flags": ["release", "blocker"],
        "keywords": ["ZStream"]}, "services-assisted-installer-default": {"version":
        "4.6"}, "devtools-eclipse-2020-3.z": {"version": "DevTools-2020.3", "pp_label":
        "devtools-2020-3"}, "eap-7.0.8": {"target_release": "7.0.z.GA", "version":
        "7.0.8.GA", "pp_label": "jbosseap-7-0.0"}, "eap-7.2.5": {"target_release":
        "7.2.6.GA", "version": "7.2.5.GA", "pp_label": "jbosseap-7-2.0"}, "eap-7.2.4":
        {"target_release": "7.2.5.GA", "version": "7.2.4.GA", "pp_label": "jbosseap-7-2.0"},
        "eap-7.2.7": {"target_release": "7.2.8.GA", "version": "7.2.7.GA", "pp_label":
        "jbosseap-7-2.0"}, "eap-7.2.6": {"target_release": "7.2.7.GA", "version":
        "7.2.6.GA", "pp_label": "jbosseap-7-2.0"}, "rhev-m-2.2.z": {"rhsa_sla_applicable":
        true, "version": "2.2.10", "flags": ["rhevm-2.2.z"], "pp_label": "rhv-rm1-2"},
        "eap-7.2.0": {"target_release": "7.2.1.GA", "version": "7.2.0.GA", "pp_label":
        "jbosseap-7-2.0"}, "eap-7.2.3": {"target_release": "7.2.4.GA", "version":
        "7.2.3.GA", "pp_label": "jbosseap-7-2.0"}, "eap-7.2.2": {"target_release":
        "7.2.3.GA", "version": "7.2.2.GA", "pp_label": "jbosseap-7-2.0"}, "eap-4":
        {"version": "4.3.0"}, "eap-6": {"version": "6.4.23", "pp_label": "jbosseap-6-4.0"},
        "devtools-compilers-2019-3.z": {"version": "2019.3", "flags": ["devtools-2019.3.z"],
        "pp_label": "devtools-2019-3"}, "codeready_studio-12-default": {"version":
        "12.19.0.GA", "pp_label": "codeready_studio-12-19"}, "eap-7.2.8": {"target_release":
        "7.2.9.GA", "version": "7.2.8.GA", "pp_label": "jbosseap-7-2.0"}, "rhel-alt-7.6.z":
        {"version": "7.6-Alt", "flags": ["rhel-alt-7.6.z"], "errata_info": [{"product_name":
        "RHEL", "product_versions": [{"variants": ["7Server-RHELALT-7.6", "7Server-optional-RHELALT-7.6"],
        "name": "RHEL-ALT-7.6"}]}, {"product_name": "RHEL-EXTRAS", "product_versions":
        [{"variants": ["7Server-Alt-EXTRAS-7.6"], "name": "EXTRAS-7.6-RHEL-ALT-7"}]}],
        "pp_label": "rhel-7-6"}, "soap-5.3.1": {"target_release": "One-off release",
        "version": "5.3.1", "pp_label": "jbosssoa-5-3.1"}, "amq-6.2.1": {"version":
        "JBoss A-MQ 6.2.1", "pp_label": "jbossamq-6-2.1"}, "mrg-m-3.0.0": {"version":
        "3.0", "flags": ["mrg-m-3.0.0"], "pp_label": "mrgm-3-0"}, "devtools-compilers-2020-1":
        {"version": "2020.1", "flags": ["devtools-2020.1"], "pp_label": "devtools-2020-1"},
        "eap-6.4.9": {"target_release": "EAP 6.4.10", "version": "6.4.9", "pp_label":
        "jbosseap-6-4.0"}, "fis-2.0": {"version": "FIS 2.0", "pp_label": "jbossfuse-fis-2.0.0"},
        "devtools-compilers-2020-4": {"version": "2020.4", "flags": ["devtools-2020.4"],
        "pp_label": "devtools-2020-4"}, "certificate_system_9-default": {"version":
        "9.7", "flags": []}, "ossm-2.0.0": {"target_release": "OSSM 2.0.0", "version":
        "OSSM 2.0.0", "brew_tags": [{"tag": "rhossm-2.0-rhel-8", "inherit": true}],
        "pp_label": "osmm-2.0-0"}, "quay-3.5": {"version": "quay-v3.5.0", "brew_tags":
        [{"tag": "quay-3.5-rhel-8-container-released", "inherit": true}], "pp_label":
        "quay-3.5"}, "rhpam-7.2.0": {"target_release": "7.2.1.GA", "version": "7.2.0.GA",
        "pp_label": "rhpam-7.2.0"}, "mrg-2": {"rhsa_sla_applicable": true, "version":
        "2.5", "flags": ["mrg-2.5.x"], "pp_label": "mrg-2-5"}, "rhel-av-8": {"version":
        "8.6", "flags": []}, "wfk-1.2.0": {"version": "1.2.0.GA"}, "certificate_system_10":
        {"version": "10.3", "flags": ["certsys-10.3"]}, "rhscl-3.7.z": {"additional_fields":
        {"bugzilla": {"cf_zstream_target_release": "3.7"}}, "pp_label": "rhscl-3-7",
        "version": "", "flags": ["release", "zstream"], "keywords": ["ZStream"], "collections":
        ["httpd24", "python27", "rh-git227", "rh-haproxy18", "rh-jmc", "rh-mariadb103",
        "rh-mariadb105", "rh-maven36", "rh-mysql80", "rh-nginx116", "rh-nginx118",
        "rh-nodejs12", "rh-nodejs14", "rh-perl530", "rh-php73", "rh-postgresql10",
        "rh-postgresql12", "rh-postgresql13", "rh-python38", "rh-redis5", "rh-ruby26",
        "rh-ruby27", "rh-ruby30", "rh-varnish6"]}, "ansible_automation_platform-2.0":
        {"version": "2.0", "flags": ["ansible-automation-platform-2.0"], "brew_tags":
        [{"tag": "ansible-automation-platform-2.0-rhel-8", "inherit": true}], "pp_label":
        "ansible_platform-2.0"}, "ansible_automation_platform-2.1": {"version": "2.1",
        "flags": ["ansible-automation-platform-2.1"], "brew_tags": [{"tag": "ansible-automation-platform-2.1-rhel-8",
        "inherit": true}], "pp_label": "ansible_platform-2.1"}, "ansible_automation_platform-2.2":
        {"version": "2.2", "flags": ["ansible-automation-platform-2.2"], "brew_tags":
        [{"tag": "ansible-automation-platform-2.2-rhel-9", "inherit": true}], "pp_label":
        "ansible_platform-2.2"}, "jws-5.0.0-native": {"version": "JWS 5.0_Native_GA",
        "pp_label": "jws-5.0-0"}, "jpp-6.0.0": {"target_release": "One-off release",
        "version": "", "pp_label": "epp-6-0.0"}, "openshift-hosted-aro4": {"version":
        "unspecified"}, "jbds-10.4": {"version": "jbds-10.4", "pp_label": "jbds-10-4"},
        "quarkus-2": {"version": "2.2.3.GA", "brew_tags": [{"tag": "qrks-2.2-pnc-candidate",
        "inherit": true}], "pp_label": "rh_quarkus-2-0"}, "rhscl-3.5.z": {"collections":
        ["httpd24", "python27", "rh-git218", "rh-haproxy18", "rh-jmc", "rh-mariadb103",
        "rh-maven36", "rh-mongodb36", "rh-mysql80", "rh-nginx116", "rh-nodejs10",
        "rh-nodejs12", "rh-perl526", "rh-perl530", "rh-php73", "rh-postgresql10",
        "rh-postgresql12", "rh-python38", "rh-redis5", "rh-ruby25", "rh-ruby26", "rh-ruby27",
        "rh-varnish5", "rh-varnish6"], "version": "", "flags": ["rhscl-3.5.z"], "pp_label":
        "rhscl-3-5"}, "bpms-6.1.0": {"version": "6.1.0", "pp_label": "jbossbpms-6-1.0"},
        "rhscon-2": {"version": "2", "flags": ["rhscon-2"]}, "brms-6.1.0": {"target_release":
        "One-off release", "version": "6.1.0", "pp_label": "jbossbrms-6-1.0"}, "rhoar-nodejs-8":
        {"version": "RHOAR 8.x", "pp_label": "rhoar-1-0.0"}, "jdg-7.3.2": {"version":
        "JDG 7.3.2 GA", "pp_label": "rhdg-7-3"}, "jdg-7.3.1": {"version": "JDG 7.3.1
        GA", "pp_label": "rhdg-7-3"}, "services-has-default": {"version": null}, "brms-6.3.x":
        {"version": "6.3.0", "target_release": "6.3.1"}, "rhdm-7.0.0": {"target_release":
        "7.0.1.GA", "version": "7.0.0.GA", "pp_label": "rhdm-7.0.0"}, "rhev-m-2.2.9":
        {"version": "2.2.9", "flags": ["rhevm-2.2.z"], "pp_label": "rhv-rm1-2"}, "jpp-6":
        {"version": ""}, "rhdts-9.0.z": {"version": "DTS 9.0 RHEL 7", "flags": ["rhdts-9.0.z"],
        "pp_label": "dts-9-0"}, "rhosc-1": {"version": "Alongside OpenShift 4.8",
        "brew_tags": [{"tag": "osc-1.2.0-rhel-8-container-released", "inherit": false}]},
        "amq-7.1.0": {"version": "A-MQ 7.1.0.GA", "pp_label": "jbossamq-7-1.0"}, "jdg-7.1.1":
        {"version": "JDG 7.1.1 GA", "pp_label": "jdg-7.1.1"}, "jdg-7.1.0": {"version":
        "JDG 7.1.0 GA", "pp_label": "jdg-7.1.0"}, "jdg-7.1.2": {"version": "JDG 7.1.2
        GA", "pp_label": "jdg-7.1.2"}, "qci-1": {"version": "1.2", "flags": ["qci-1.2"],
        "pp_label": "qci-1.2"}, "openstack-8-optools": {"version": "8.0 (Liberty)",
        "flags": ["rhos-optools-8.0.z", "blocker"], "pp_label": ""}, "jdg-6.4.x":
        {"version": "6.4.0", "pp_label": "jdg-6-4.0"}, "rhel-br-8": {"rhsa_sla_applicable":
        false, "version": "8.6", "flags": []}, "openshift-enterprise-3.0.z": {"version":
        "3.0.0", "flags": ["ose-3.0.z"], "pp_label": "openshift-3.0"}, "sam-1-default":
        {"version": "1.4", "flags": ["sam-1.4.z"], "pp_label": "sam-1-4"}, "rhscl-1.0.z":
        {"collections": ["mariadb55", "mysql55", "nodejs010", "perl516", "php54",
        "postgresql92", "python27", "python33", "ruby193"], "version": "", "flags":
        ["rhscl-1.0.z"], "pp_label": "rhscl-1-0"}, "ceph-1.3": {"version": "1.3.4",
        "flags": ["ceph-1.3.z"]}, "jdv-6.0.0": {"target_release": "One-off release",
        "version": "6.0.0", "pp_label": "jdv-6-0.0"}, "rhev-m-3.1.z": {"rhsa_sla_applicable":
        true, "version": "3.1.0", "flags": ["rhevm-3.1.z"], "pp_label": "rhv-rm3-1"},
        "openstack-14-optools": {"version": "14.0 (Rocky)", "flags": ["rhos-optools-14.0.z",
        "blocker"], "pp_label": ""}, "maistra-1.0.10": {"target_release": "maistra-1.0.10",
        "version": "maistra-1.0.10", "pp_label": "osmm-1.0-10"}, "openshift-4.4":
        {"target_release": "4.4.0", "version": "4.4", "pp_label": "openshift-4.4"},
        "rhdm-7.2.1": {"target_release": "7.3.0.GA", "version": "7.2.1.GA", "pp_label":
        "rhdm-7.2.0"}, "eap-6.4.3": {"target_release": "One-off release", "version":
        "6.4.3", "pp_label": "jbosseap-6-4.0"}, "rhes-3.4": {"version": "rhgs-3.4",
        "flags": ["rhgs-3.4.z"]}, "rhes-3.5": {"version": "rhgs-3.5", "flags": ["rhgs-3.5.z"],
        "brew_tags": [{"tag": "rhgs-3.5.7-rhel-7", "inherit": true}, {"tag": "rhgs-3.5.7-rhel-8",
        "inherit": true}, {"tag": "ocs-3.11.9-rhel-7", "inherit": true}]}, "rhes-3.0":
        {"version": "3.0", "flags": ["rhs-3.0.0"]}, "amq-7.3.0": {"version": "AMQ
        7.3.0.GA", "pp_label": "jbossamq-7-3.0"}, "rhes-3.2": {"version": "3.2", "flags":
        ["rhgs-3.2.z"]}, "rhes-3.3": {"version": "3.3", "flags": ["rhgs-3.3.z"]},
        "epel-5": {"version": "el5", "rhsa_sla_applicable": false}, "rhdm-7.4.0":
        {"target_release": "7.4.1.GA", "version": "7.4.0.GA", "pp_label": "rhdm-7.4.0"},
        "epel-7": {"yum_repositories": ["https://dl.fedoraproject.org/pub/epel/7/x86_64/",
        "https://dl.fedoraproject.org/pub/epel/7/ppc64le/"], "version": "epel7", "rhsa_sla_applicable":
        false}, "epel-6": {"version": "el6", "rhsa_sla_applicable": false}, "amq-6.2.1.x":
        {"version": "JBoss A-MQ 6.2.1", "pp_label": "jbossamq-6-2.1"}, "dotnet-1.1-default":
        {"version": "1.1", "flags": ["dotnet-1.1.z"], "pp_label": "dotnet-1.1"}, "fdp-el7-ovs":
        {"version": "FDP 22.D", "flags": ["blocker", "fast-datapath-rhel-7"], "brew_tags":
        [{"tag": "fast-datapath-rhel-7", "inherit": false}]}, "nhc-0.2.z": {"version":
        "OpenShift 4.10", "brew_tags": [{"tag": "ose-nhc-0.2.0-rhel-8-container-released",
        "inherit": false}]}, "rhel-av-8.0.0.z": {"keywords": ["ZStream"], "additional_fields":
        {"bugzilla": {"cf_zstream_target_release": "8.0.0"}}, "version": "8.0", "flags":
        ["release", "zstream"], "pp_label": "rhel_av-8.0.0"}, "eap-6.4.6": {"target_release":
        "EAP 6.4.7", "version": "6.4.6", "pp_label": "jbosseap-6-4.0"}, "rhel-5.3":
        {"keywords": ["ZStream"], "rhsa_sla_applicable": false, "version": "5.3",
        "flags": ["rhel-5.3.0", "blocker"], "pp_label": "rhel-5-3"}, "epel-8": {"yum_repositories":
        ["https://dl.fedoraproject.org/pub/epel/8/Everything/x86_64/", "https://dl.fedoraproject.org/pub/epel/8/Everything/aarch64/",
        "https://dl.fedoraproject.org/pub/epel/8/Everything/ppc64le/", "https://dl.fedoraproject.org/pub/epel/8/Everything/s390x/",
        "https://dl.fedoraproject.org/pub/epel/8/Modular/x86_64/", "https://dl.fedoraproject.org/pub/epel/8/Modular/aarch64/",
        "https://dl.fedoraproject.org/pub/epel/8/Modular/ppc64le/", "https://dl.fedoraproject.org/pub/epel/8/Modular/s390x/"],
        "version": "epel8", "rhsa_sla_applicable": false}, "openstack-12-optools-default":
        {"version": "12.0 (Pike)", "flags": ["rhos-optools-12.0.z"], "pp_label": ""},
        "eap-6.4.7": {"target_release": "EAP 6.4.8", "version": "6.4.7", "pp_label":
        "jbosseap-6-4.0"}, "dts-11.1.z": {"additional_fields": {"bugzilla": {"cf_zstream_target_release":
        "11.1"}}, "brew_tags": [{"tag": "devtoolset-11.0-rhel-7", "inherit": false},
        {"tag": "devtoolset-11.1-rhel-7", "inherit": false}], "pp_label": "dts-11-1",
        "version": "DTS 11.1 RHEL 7", "flags": ["release", "zstream"], "keywords":
        ["ZStream"]}, "rhn_satellite_6.8": {"version": "6.8.0", "flags": ["sat-6.8.z"],
        "brew_tags": [{"tag": "satellite-6.8.0-rhel-7", "inherit": true}], "pp_label":
        "sat-6-8"}, "rhn_satellite_6.9": {"version": "6.9.0", "flags": ["sat-6.9.z"],
        "brew_tags": [{"tag": "satellite-6.9.0-rhel-7", "inherit": true}], "pp_label":
        "sat-6-9"}, "rhel-6.8.z": {"version": "6.8", "flags": ["rhel-6.8.z"], "pp_label":
        "rhel-6-8"}, "eap-6.4.4": {"target_release": "One-off release", "version":
        "6.4.4", "pp_label": "jbosseap-6-4.0"}, "rhn_satellite_6.2": {"version": "6.2.0",
        "flags": ["sat-6.2.z"], "pp_label": "sat-6-2.0"}, "rhn_satellite_6.3": {"version":
        "6.3.0", "flags": ["sat-6.3.z"], "pp_label": "sat-6-3"}, "rhn_satellite_6.1":
        {"version": "6.1.2", "pp_label": "sat-6-1.0"}, "rhn_satellite_6.6": {"version":
        "6.6.0", "flags": ["sat-6.6.z"], "pp_label": "sat-6-6"}, "rhn_satellite_6.7":
        {"version": "6.7.0", "flags": ["sat-6.7.z"], "brew_tags": [{"tag": "satellite-6.7.0-rhel-7",
        "inherit": true}], "pp_label": "sat-6-7"}, "rhn_satellite_6.4": {"version":
        "6.4.0", "flags": ["sat-6.4.z"], "pp_label": "sat-6-4"}, "rhn_satellite_6.5":
        {"version": "6.5.0", "flags": ["sat-6.5.z"], "pp_label": "sat-6-5"}, "openshift-4.10.z":
        {"yum_repositories": ["http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/aarch64/rhocp/4.10/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/ppc64le/rhocp/4.10/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/s390x/rhocp/4.10/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/x86_64/rhocp/4.10/os/",
        "http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/ose/4.10/os/"],
        "target_release": "4.10.z", "version": "4.10", "brew_tags": [{"tag": "rhaos-4.10-rhel-7-container-released",
        "inherit": false}, {"tag": "rhaos-4.10-rhel-8-container-released", "inherit":
        false}], "pp_label": "openshift-4.10"}, "mrg-1.3": {"version": "1.3", "pp_label":
        "mrg-1-3"}, "rhel-6.6.z": {"version": "6.6", "flags": ["rhel-6.6.z"], "pp_label":
        "rhel-6-6"}, "mta-5.3": {"target_release": "5.3.0.Final", "version": "5.3",
        "pp_label": "mt-mta-5.3"}, "rhn_satellite_6-default": {"version": "Unspecified",
        "pp_label": "sat-6-9"}, "mrg-1.2": {"version": "1.2", "pp_label": "mrg-1-2"},
        "jdv-6.2.x": {"version": "unspecified", "pp_label": "jdv-6-2.0"}, "ansible_engine-2.6":
        {"version": "2.6", "pp_label": "ansible_engine-2.6"}, "cnv-2.2": {"target_release":
        "2.2.0", "version": "2.2.0", "flags": ["cnv-2", "blocker"], "pp_label": "cnv-2.2"},
        "openshift-4.6": {"target_release": "4.6.0", "version": "4.6", "rhsa_sla_applicable":
        false, "pp_label": "openshift-4.6"}, "ansible_engine-2.7": {"version": "2.7",
        "pp_label": "ansible_engine-2.7"}, "rhel-8": {"version": "8.6", "flags": []},
        "rhel-9": {"version": "9.0", "flags": []}, "rhel-br-8.1.0.z": {"additional_fields":
        {"bugzilla": {"cf_zstream_target_release": "8.1.0"}}, "rhsa_sla_applicable":
        false, "pp_label": "rhel-8-1.0", "version": "8.1", "flags": ["release", "zstream"],
        "composes": [{"url": "https://download-node-02.eng.bos.redhat.com/rhel-8/rel-eng/BUILDROOT-8/latest-BUILDROOT-8.1.0-RHEL-8/compose/",
        "variants": ["Buildroot"]}], "keywords": ["ZStream"]}, "services-compliance-default":
        {"version": "unspecified"}, "bpms-7.0.0": {"target_release": "7.0.0.GA", "version":
        "7.0.0", "pp_label": "jbossbpms-7-0.0"}, "rhel-6": {"version": "6.10", "flags":
        []}, "rhel-7": {"version": "7.9", "flags": []}, "rhev-m-3.5.z": {"additional_fields":
        {"bugzilla": {"cf_ovirt_team": "Node"}}, "rhsa_sla_applicable": true, "version":
        "3.5.0", "flags": ["rhevm-3.5.z"], "pp_label": "rhv-rm3-5"}, "openstack-11-default":
        {"version": "11.0 (Ocata)", "flags": ["rhos-11.0.z"], "pp_label": "rhosp-11.0"},
        "rhev-m-3.3.z": {"rhsa_sla_applicable": true, "version": "3.3.0", "flags":
        ["rhevm-3.3.z"], "pp_label": "rhv-rm3-3"}, "fsw-6.1.0": {"version": ""}, "atomic-7.3":
        {"version": "7.3"}, "rhel-br-8.4.0.z": {"additional_fields": {"bugzilla":
        {"cf_zstream_target_release": "8.4.0"}}, "rhsa_sla_applicable": false, "pp_label":
        "rhel-8-4.0", "version": "8.4", "flags": ["release", "zstream"], "composes":
        [{"url": "https://download-node-02.eng.bos.redhat.com/rhel-8/rel-eng/BUILDROOT-8/latest-BUILDROOT-8.4.0-RHEL-8/compose/",
        "variants": ["Buildroot"]}], "keywords": ["ZStream"], "exclude_components":
        ["httpd"], "errata_info": [{"product_name": "RHEL", "product_versions": [{"variants":
        ["CRB-8.4.0.Z.EUS"], "name": "RHEL-8.4.0.Z.EUS"}]}]}, "certificate_system_10.0":
        {"rhsa_sla_applicable": false, "version": "10.0", "flags": ["certsys-10.0"],
        "pp_label": "cs-10-0"}, "certificate_system_10.1": {"rhsa_sla_applicable":
        false, "version": "10.1", "flags": ["certsys-10.1"], "pp_label": "cs-10-1"},
        "certificate_system_10.2": {"rhsa_sla_applicable": false, "version": "10.2",
        "flags": ["certsys-10.2"], "pp_label": "cs-10-2"}, "certificate_system_10.3":
        {"rhsa_sla_applicable": false, "version": "10.3", "flags": ["certsys-10.3"],
        "pp_label": "cs-10-3"}, "certificate_system_10.4": {"rhsa_sla_applicable":
        false, "yum_repositories": ["http://rhsm-pulp.corp.redhat.com/content/dist/layered/rhel8/x86_64/certsys/10.3/os/"],
        "version": "10.4", "flags": ["certsys-10.4"], "pp_label": "cs-10-4"}, "rhel-6.10.z":
[...]
