interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://issues.redhat.com/rest/api/2/issue/ENTESB-8726
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "12746639", "self": "https://issues.redhat.com/rest/api/2/issue/12746639",
        "key": "ENTESB-8726", "fields": {"customfield_12322244": null, "fixVersions":
        [{"self": "https://issues.redhat.com/rest/api/2/version/12324810", "id": "12324810",
        "description": "", "name": "fuse-7.0", "archived": false, "released": true,
        "releaseDate": "2018-05-23"}], "resolution": {"self": "https://issues.redhat.com/rest/api/2/resolution/1",
        "id": "1", "description": "This issue is closed, and complete.", "name": "Done"},
        "customfield_12314740": "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@78b7b2e1[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@7e4a4a73[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@76a34b18[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@5a169e6d[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@644232fa[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@61b85ed6[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@daf3272[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@63a4205c[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@16840b30[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@35e9a9d8[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@41a131b5[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@3c55f1d[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}",
        "customfield_12312442": null, "customfield_12312848": null, "customfield_12315950":
        null, "customfield_12317338": null, "customfield_12310940": null, "lastViewed":
        "2023-04-19T10:32:37.658+0000", "customfield_12313140": null, "priority":
        {"self": "https://issues.redhat.com/rest/api/2/priority/4", "iconUrl": "https://issues.redhat.com/images/icons/priorities/minor.svg",
        "name": "Minor", "id": "4"}, "labels": ["CVE-2016-5002", "Security", "SecurityTracking",
        "pscomponent:xmlrpc-common"], "customfield_12311244": null, "customfield_12311640":
        [{"self": "https://issues.redhat.com/rest/api/2/customFieldOption/10650",
        "value": "This issue is security relevant", "id": "10650", "disabled": false}],
        "customfield_12311641": [{"self": "https://issues.redhat.com/rest/api/2/user?username=hooman_b2455",
        "name": "hooman_b2455", "key": "hooman_b2455", "emailAddress": "hghasemb@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=32"},
        "displayName": "Hooman Broujerdi", "active": false, "timeZone": "Australia/Sydney"}],
        "customfield_12313145": null, "customfield_12311242": null, "customfield_12311243":
        null, "customfield_12311240": null, "aggregatetimeoriginalestimate": null,
        "timeestimate": null, "versions": [{"self": "https://issues.redhat.com/rest/api/2/version/12337860",
        "id": "12337860", "description": "", "name": "FIS 2.0", "archived": false,
        "released": true, "releaseDate": "2017-02-21"}], "customfield_12311241": null,
        "customfield_12310031": null, "issuelinks": [{"id": "12541061", "self": "https://issues.redhat.com/rest/api/2/issueLink/12541061",
        "type": {"id": "12310001", "name": "Related", "inward": "is related to", "outward":
        "relates to", "self": "https://issues.redhat.com/rest/api/2/issueLinkType/12310001"},
        "inwardIssue": {"id": "12746647", "key": "ENTESB-8301", "self": "https://issues.redhat.com/rest/api/2/issue/12746647",
        "fields": {"summary": "CVE-2016-5004 xmlrpc-common: xmlrpc: XSS in Content-Encoding
        HTTP header of xmlrpc [fis-2.0]", "status": {"self": "https://issues.redhat.com/rest/api/2/status/6",
        "description": "The issue is closed. See the resolution for context regarding
        why (for example Done, Abandoned, Duplicate, etc)", "iconUrl": "https://issues.redhat.com/images/icons/statuses/closed.png",
        "name": "Closed", "id": "6", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/3",
        "id": 3, "key": "done", "colorName": "success", "name": "Done"}}, "priority":
        {"self": "https://issues.redhat.com/rest/api/2/priority/4", "iconUrl": "https://issues.redhat.com/images/icons/priorities/minor.svg",
        "name": "Minor", "id": "4"}, "issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}}}}, {"id": "12541062",
        "self": "https://issues.redhat.com/rest/api/2/issueLink/12541062", "type":
        {"id": "12310001", "name": "Related", "inward": "is related to", "outward":
        "relates to", "self": "https://issues.redhat.com/rest/api/2/issueLinkType/12310001"},
        "inwardIssue": {"id": "12746643", "key": "ENTESB-8635", "self": "https://issues.redhat.com/rest/api/2/issue/12746643",
        "fields": {"summary": "CVE-2016-5003 xmlrpc-common: xmlrpc: Deserialization
        of untrusted Java object through <ex:serializable> tag [fis-2.0]", "status":
        {"self": "https://issues.redhat.com/rest/api/2/status/6", "description": "The
        issue is closed. See the resolution for context regarding why (for example
        Done, Abandoned, Duplicate, etc)", "iconUrl": "https://issues.redhat.com/images/icons/statuses/closed.png",
        "name": "Closed", "id": "6", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/3",
        "id": 3, "key": "done", "colorName": "success", "name": "Done"}}, "priority":
        {"self": "https://issues.redhat.com/rest/api/2/priority/4", "iconUrl": "https://issues.redhat.com/images/icons/priorities/minor.svg",
        "name": "Minor", "id": "4"}, "issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}}}}], "assignee": null,
        "customfield_12313942": null, "customfield_12313941": null, "status": {"self":
        "https://issues.redhat.com/rest/api/2/status/6", "description": "The issue
        is closed. See the resolution for context regarding why (for example Done,
        Abandoned, Duplicate, etc)", "iconUrl": "https://issues.redhat.com/images/icons/statuses/closed.png",
        "name": "Closed", "id": "6", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/3",
        "id": 3, "key": "done", "colorName": "success", "name": "Done"}}, "components":
        [{"self": "https://issues.redhat.com/rest/api/2/component/12328959", "id":
        "12328959", "name": "FIS-Productization Pipeline"}], "customfield_12316340":
        null, "customfield_12316341": null, "customfield_12310080": {"self": "https://issues.redhat.com/rest/api/2/user?username=tturek%40redhat.com",
        "name": "tturek@redhat.com", "key": "tturek", "emailAddress": "tturek@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/ebbfe05f8c3b09d48b64c6efa1626f8d?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/ebbfe05f8c3b09d48b64c6efa1626f8d?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/ebbfe05f8c3b09d48b64c6efa1626f8d?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/ebbfe05f8c3b09d48b64c6efa1626f8d?d=mm&s=32"},
        "displayName": "Tomas Turek", "active": true, "timeZone": "Europe/Berlin"},
        "customfield_12314040": null, "customfield_12320844": null, "archiveddate":
        null, "customfield_12320842": null, "customfield_12310120": null, "customfield_12310243":
        null, "aggregatetimeestimate": null, "customfield_12316342": null, "customfield_12316740":
        null, "customfield_12317313": null, "customfield_12317317": null, "creator":
        {"self": "https://issues.redhat.com/rest/api/2/user?username=hooman_b2455",
        "name": "hooman_b2455", "key": "hooman_b2455", "emailAddress": "hghasemb@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=32"},
        "displayName": "Hooman Broujerdi", "active": false, "timeZone": "Australia/Sydney"},
        "subtasks": [], "customfield_12321140": null, "customfield_12310091": null,
        "customfield_12310090": null, "reporter": {"self": "https://issues.redhat.com/rest/api/2/user?username=hooman_b2455",
        "name": "hooman_b2455", "key": "hooman_b2455", "emailAddress": "hghasemb@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=32"},
        "displayName": "Hooman Broujerdi", "active": false, "timeZone": "Australia/Sydney"},
        "customfield_12320850": null, "customfield_12310092": null, "aggregateprogress":
        {"progress": 0, "total": 0}, "customfield_12310010": null, "customfield_12315542":
        null, "customfield_12315948": null, "customfield_12315541": null, "customfield_12313240":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "votes": {"self": "https://issues.redhat.com/rest/api/2/issue/ENTESB-8726/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12317841": "<div> <progress  style=\"vertical-align:middle;
        max-width: 60%;\" value=\"\" min=\"0\" max=\"100\">%</progress> % </div>",
        "customfield_12319743": null, "customfield_12317842": null, "archivedby":
        null, "issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}, "customfield_12318341":
        null, "timespent": null, "customfield_12320940": null, "project": {"self":
        "https://issues.redhat.com/rest/api/2/project/12314570", "id": "12314570",
        "key": "ENTESB", "name": "Red Hat Fuse", "projectTypeKey": "software", "avatarUrls":
        {"48x48": "https://issues.redhat.com/secure/projectavatar?pid=12314570&avatarId=24473",
        "24x24": "https://issues.redhat.com/secure/projectavatar?size=small&pid=12314570&avatarId=24473",
        "16x16": "https://issues.redhat.com/secure/projectavatar?size=xsmall&pid=12314570&avatarId=24473",
        "32x32": "https://issues.redhat.com/secure/projectavatar?size=medium&pid=12314570&avatarId=24473"},
        "projectCategory": {"self": "https://issues.redhat.com/rest/api/2/projectCategory/10130",
        "id": "10130", "description": "Active projects migrated from Fusesource issue
        tracker", "name": "Fuse"}}, "customfield_12320944": null, "aggregatetimespent":
        null, "customfield_12310220": null, "customfield_12310183": null, "resolutiondate":
        "2018-04-26T15:49:30.000+0000", "workratio": -1, "customfield_12316840": null,
        "customfield_12317379": null, "customfield_12316841": null, "customfield_12319040":
        null, "watches": {"self": "https://issues.redhat.com/rest/api/2/issue/ENTESB-8726/watchers",
        "watchCount": 1, "isWatching": false}, "created": "2018-04-24T01:02:47.000+0000",
        "customfield_12321240": null, "customfield_12310110": null, "customfield_12320947":
        null, "customfield_12320946": null, "customfield_12315640": null, "customfield_12317302":
        null, "customfield_12317304": null, "updated": "2022-12-19T19:31:00.851+0000",
        "customfield_12311840": null, "customfield_12316142": null, "timeoriginalestimate":
        null, "description": "Security Tracking Issue\n\nDo not make this issue public.\n\nThis
        bug is subject to the Security Errata Policy.\n\nThe overall impact of the
        blocking security issue(s) is Moderate. Based on this impact, this bug must
        be resolved by 24-May-2017. \n\nPlease refer to the Security Errata Policy
        documentation for further details: https://docs.prodsec.redhat.com/policy-guide/#policy-errata\n\nFlaw:\n-----\n\nCVE-2016-5002
        xmlrpc: XML external entity vulnerability SSRF via a crafted DTD\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1508110\n\nXML
        external entity (XXE) vulnerability in the Apache XML-RPC (aka ws-xmlrpc)
        library 3.1.3, as used in Apache Archiva, allows remote attackers to conduct
        server-side request forgery (SSRF) attacks via a crafted DTD.\n\nReferences:\n\nhttp://www.openwall.com/lists/oss-security/2016/07/12/5\nhttps://0ang3el.blogspot.in/2016/07/beware-of-ws-xmlrpc-library-in-your.html\n",
        "timetracking": {}, "customfield_12310440": ["https://bugzilla.redhat.com/show_bug.cgi?id=1508110"],
        "security": {"self": "https://issues.redhat.com/rest/api/2/securitylevel/11697",
        "id": "11697", "description": "Red Hat Employee and Contractors only", "name":
        "Red Hat Employee"}, "attachment": [], "customfield_12312340": null, "customfield_12316542":
        null, "customfield_12316543": null, "customfield_12316544": null, "customfield_12310840":
        "9223372036854775807", "summary": "CVE-2016-5002 xmlrpc-common: xmlrpc: XML
        external entity vulnerability SSRF via a crafted DTD [fis-2.0]", "customfield_12310211":
        null, "customfield_12315740": null, "customfield_12313441": "", "customfield_12313440":
        "0.0", "duedate": "2017-05-24", "customfield_12311140": null, "comment": {"comments":
        [{"self": "https://issues.redhat.com/rest/api/2/issue/12746639/comment/13565743",
        "id": "13565743", "author": {"self": "https://issues.redhat.com/rest/api/2/user?username=hooman_b2455",
        "name": "hooman_b2455", "key": "hooman_b2455", "emailAddress": "hghasemb@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=32"},
        "displayName": "Hooman Broujerdi", "active": false, "timeZone": "Australia/Sydney"},
        "body": "Added involved users: [~hghasemb]", "updateAuthor": {"self": "https://issues.redhat.com/rest/api/2/user?username=hooman_b2455",
        "name": "hooman_b2455", "key": "hooman_b2455", "emailAddress": "hghasemb@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=32"},
        "displayName": "Hooman Broujerdi", "active": false, "timeZone": "Australia/Sydney"},
        "created": "2018-04-24T01:02:49.000+0000", "updated": "2018-04-24T01:02:49.000+0000",
        "visibility": {"type": "group", "value": "Red Hat Employee"}}, {"self": "https://issues.redhat.com/rest/api/2/issue/12746639/comment/13565746",
        "id": "13565746", "author": {"self": "https://issues.redhat.com/rest/api/2/user?username=hooman_b2455",
        "name": "hooman_b2455", "key": "hooman_b2455", "emailAddress": "hghasemb@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/da925ac88432a45bad4da3709e032c00?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/da9[...]
