interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/field
  response:
    body:
      string: "[{\"id\":\"customfield_12322243\",\"name\":\"Release Date\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322243]\",\"Release
        Date\"],\"schema\":{\"type\":\"date\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:datepicker\",\"customId\":12322243}},{\"id\":\"customfield_12322244\",\"name\":\"PX
        Impact Score\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322244]\",\"PX
        Impact Score\"],\"schema\":{\"type\":\"number\",\"custom\":\"org.jboss.labs.jira.plugin.jboss-custom-field-types-plugin:jbonlynumber\",\"customId\":12322244}},{\"id\":\"customfield_12322240\",\"name\":\"Staffing\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322240]\",\"Staffing\"],\"schema\":{\"type\":\"number\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:float\",\"customId\":12322240}},{\"id\":\"customfield_12322241\",\"name\":\"Gating
        Tests\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322241]\",\"Gating
        Tests\"],\"schema\":{\"type\":\"array\",\"items\":\"option\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:multiselect\",\"customId\":12322241}},{\"id\":\"resolution\",\"name\":\"Resolution\",\"custom\":false,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"resolution\"],\"schema\":{\"type\":\"resolution\",\"system\":\"resolution\"}},{\"id\":\"customfield_12310022\",\"name\":\"SVN
        / CVS Isolated Branch\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12310022]\",\"SVN
        / CVS Isolated Branch\"],\"schema\":{\"type\":\"string\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:textfield\",\"customId\":12310022}},{\"id\":\"customfield_12314742\",\"name\":\"Percent
        confident\",\"custom\":true,\"orderable\":true,\"navigable\":true[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3D%22OSIM%22+AND+labels%3D%22flawuuid%3Afc23dcc1-30f1-4821-a16b-b637e79fd7fd%22+AND+type%3D%22Story%22&startAt=0&validateQuery=True
  response:
    body:
      string: '{"startAt": 0, "maxResults": 50, "total": 0, "issues": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 888x238737x1
      x-asessionid:
      - i7f30a
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.c585d817.1701182929.54603a
      x-rh-edge-request-id:
      - 54603a
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issuetype
  response:
    body:
      string: '[{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/3","id":"3","description":"A
        task that needs to be done.","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13278&avatarType=issuetype","name":"Task","subtask":false,"avatarId":13278},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/5","id":"5","description":"The
        sub-task of the issue","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13276&avatarType=issuetype","name":"Sub-task","subtask":true,"avatarId":13276},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/17","id":"17","description":"Created
        by Jira Software - do not edit or delete. Issue type for a user story.","iconUrl":"https://issues.sta[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/project/OSIM
  response:
    body:
      string: '{"expand": "description,lead,url,projectKeys", "self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "description": "This project will serve Incident
        Response team as a task repository, managing the workflow in PSIR and integrating
        with OSIDB.", "lead": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta@redhat.com",
        "key": "JIRAUSER196381", "name": "concosta@redhat.com", "avatarUrls": {"48x48":
        "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true}, "components": [], "issueTypes":
        [{"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/3", "id":
        "3", "description": "A task that needs to be done.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13278&avatarType=issuetype",
        "name": "Task", "subtask": false, "avatarId": 13278}, {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/5",
        "id": "5", "description": "The sub-task of the issue", "iconUrl": "https://issues.stage.redhat.com/secure/v[...]
- request:
    body: '{"fields": {"issuetype": {"id": "17"}, "project": {"id": "12337520"}, "summary":
      "CVE-2020-0000 kernel: some description", "description": "Description for CVE-2020-0000",
      "labels": ["flawuuid:fc23dcc1-30f1-4821-a16b-b637e79fd7fd", "impact:MODERATE"]}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue
  response:
    body:
      string: '{"id": "15548071", "key": "OSIM-393", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15548071"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 888x238740x1
      x-asessionid:
      - 7fo15l
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.c585d817.1701182930.546201
      x-rh-edge-request-id:
      - '546201'
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-393
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "15548071", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15548071",
        "key": "OSIM-393", "fields": {"issuetype": {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/17",
        "id": "17", "description": "Created by Jira Software - do not edit or delete.
        Issue type for a user story.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13275&avatarType=issuetype",
        "name": "Story", "subtask": false, "avatarId": 13275}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "name": "Open Security Issue Manager", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/projectavatar?pid=12337520&avatarId=12560",
        "24x24": "https://issues.stage.redhat.com/secure/projectavatar?size=small&pid=12337520&avatarId=12560",
        "16x16": "https://issues.stage.redhat.com/secure/projectavatar?size=xsmall&pid=12337520&avatarId=12560",
        "32x32": "https://issues.stage.redhat.com/secure/projectavatar?size=medium&pid=12337520&avatarId=12560"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@6f627e4[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@7eccc385[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@31e92280[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@29a10fd3[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@78de3837[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@4195b1f9[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@39906669[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@186e391f[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1178b5a5[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@7d8ec40a[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@471746fc[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@2e5829c0[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}",
        "resolutiondate": null, "workratio": -1, "customfield_12316840": null, "customfield_12317379":
        null, "customfield_12315950": null, "customfield_12316841": null, "customfield_12310940":
        null, "customfield_12319040": null, "lastViewed": null, "watches": {"self":
        "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-393/watchers", "watchCount":
        1, "isWatching": true}, "created": "2023-11-28T14:48:49.833+0000", "customfield_12321240":
        null, "customfield_12313140": null, "priority": {"self": "https://issues.stage.redhat.com/rest/api/2/priority/10300",
        "iconUrl": "https://issues.stage.redhat.com/images/icons/priorities/trivial.svg",
        "name": "Undefined", "id": "10300"}, "labels": ["flawuuid:fc23dcc1-30f1-4821-a16b-b637e79fd7fd",
        "impact:MODERATE"], "customfield_12320947": [{"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-11-28T14:48:49.833+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.stage.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.stage.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.stage.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [], "timeoriginalestimate": null, "description": "Description for CVE-2020-0000",
        "customfield_12314040": null, "customfield_12320844": null, "archiveddate":
        null, "timetracking": {}, "customfield_12320842": null, "customfield_12310243":
        null, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "CVE-2020-0000 kernel: some description", "customfield_12323640":
        null, "customfield_12323642": null, "creator": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "customfield_12323641": null, "subtasks": [], "customfield_12321140": null,
        "customfield_12323647": [{"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/34754",
        "value": "en-US (English)", "id": "34754", "disabled": false}], "reporter":
        {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "customfield_12320850": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12323644": null, "customfield_12323643": null, "customfield_12323646":
        null, "customfield_12323645": null, "environment": null, "customfield_12315542":
        null, "customfield_12315740": null, "customfield_12313441": "", "customfield_12313440":
        "0.0", "customfield_12313240": null, "duedate": null, "customfield_12311140":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "comment": {"comments": [], "maxResults": 0, "total": 0, "startAt": 0}, "votes":
        {"self": "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-393/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12319743": null, "customfield_12310213":
        null, "archivedby": null, "customfield_12311940": "1|zcsj3w:"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 889x238745x1
      x-asessionid:
      - 1701w44
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.c585d817.1701182941.547f1e
      x-rh-edge-request-id:
      - 547f1e
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-393/transitions
  response:
    body:
      string: '{"expand": "transitions", "transitions": [{"id": "11", "name": "New",
        "opsbarSequence": 10, "to": {"self": "https://issues.stage.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.stage.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.stage.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}}, {"id":[...]
- request:
    body: '{"transition": {"id": "41"}, "fields": {}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-393/transitions
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 889x238748x1
      x-asessionid:
      - s35nhr
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.c585d817.1701182942.548045
      x-rh-edge-request-id:
      - '548045'
      x-seraph-loginreason:
      - OK
    status:
      code: 204
      message: No Content
[...]
