/attic
/build
bzimport_requests_cache.sqlite
.cache
celerybeat-schedule
cons-requirements.*
.coverage
coverage.xml
dist
.env
etc/pg/local-server.*
etc/redis/
htmlcov/
.idea
/instance
local-requirements.*
logs/
mypyreport/
__pycache__/
.pytest_cache/
.python-version
.ruff_cache
.run-celery
.run-celery-beat
*.sqlite
src
*.swp
testrun.ini
/tests/.cache
tests/htmlcov
.tox/
/venv
.venv
.vscode/
*.db.gz
osidb_data_backup_dump*
.DS_Store
# pyright local configuration file
pyrightconfig.json

# performance tests output
performance_report*
