/attic
/build
bzimport_requests_cache.sqlite
.cache
celerybeat-schedule
.coverage
coverage.xml
dist
.env
etc/pg/local-server.*
etc/redis/
htmlcov/
.idea
/instance
local-requirements.*
logs/
mypyreport/
__pycache__/
.pytest_cache/
.python-version
.run-celery
.run-celery-beat
*.sqlite
src
*.swp
testrun.ini
/tests/.cache
tests/htmlcov
.tox/
/venv
.vscode/
