backoff
celery
cvss
django
django-auth-ldap
django.contrib.postgres
django-db
django-deprecate-fields
django-extensions
django-filter
django-model-utils
django-polymorphic
django-postgres-extra
djangorestframework
djangorestframework-csv
djangorestframework-simplejwt
djangorestframework-xml
drf-spectacular
flower
gevent
gunicorn
inflection
jira
joblib
jsonschema
kerberos
markdown
nvdlib
packageurl-python
psycopg2
pyjwt==2.4.0
python-bugzilla
python-ldap>=3.4.0
pyyaml
redis[hiredis]
requests
requests_cache
requests_gssapi
whitenoise
