backoff
celery[gevent]
cvss
django
django-auth-ldap
django-celery-results
django.contrib.postgres
django-cors-headers
django-db
django-deprecate-fields
django-extensions
django-filter
django-model-utils
django-polymorphic
django-postgres-extra
djangorestframework
djangorestframework-csv
djangorestframework-simplejwt
djangorestframework-xml
drf-spectacular
flower
gunicorn[gevent,setproctitle]
inflection
jira
joblib
jsonschema
kerberos
markdown
nvdlib
packageurl-python
psycogreen
psycopg2
pyjwt==2.4.0
python-bugzilla
python-ldap>=3.4.0
pyyaml
redis[hiredis]
requests
requests_cache
requests_gssapi
whitenoise
pip==23.1