interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh91"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693839914.30f35c7
      x-rh-edge-request-id:
      - 30f35c7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"email": "aander07@packetmaster.com", "real_name": "Need
        Real Name", "can_login": true, "id": 1, "name": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693839914.30f36c0
      x-rh-edge-request-id:
      - 30f36c0
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Red Hat Certification Program", "version": "1.0", "priority":
      "high", "severity": "high", "blocks": ["2013494"], "component": "redhat-certification",
      "description": "rhcertification-6 tracking bug for openssl: see the bugs linked
      in the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
      bug is never intended to be made public, please put any public notes in the
      blocked bugs.", "comment_is_private": false, "flags": [], "groups": ["devel"],
      "keywords": ["Security", "SecurityTracking"], "summary": "openssl: sample title
      [rhcertification-6]"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/bug
  response:
    body:
      string: '{"id": 2017149}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693839915.30f380e
      x-rh-edge-request-id:
      - 30f380e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"bugs": [{"cf_qa_whiteboard": "", "cf_pm_score": "0", "cf_environment":
        "", "groups": [], "is_cc_accessible": true, "cf_build_id": "", "platform":
        "All", "cf_srtnotes": "{\"affects\": [{\"affectedness\": \"affected\", \"cvss2\":
        null, \"cvss3\": null, \"impact\": null, \"ps_component\": \"openssl\", \"ps_module\":
        \"rhcertification-6\", \"resolution\": \"fix\"}], \"impact\": \"important\",
        \"jira_trackers\": [], \"public\": \"2023-06-07T07:01:00Z\", \"reported\":
        \"2023-06-07\", \"source\": \"customer\"}", "docs_contact": "", "deadline":
        null, "last_change_time": "2023-09-04T15:05:15Z", "remaining_time": 0, "actual_time":
        0, "id": 2013494, "status": "NEW", "version": ["unspecified"], "flags": [{"setter":
        "osoukup@redhat.com", "name": "requires_doc_text", "modification_date": "2023-06-07T07:02:07Z",
        "status": "?", "id": 5222989, "creation_date": "2023-06-07T07:02:07Z", "is_active":
        1, "type_id": 415}], "keywords": ["Security"], "cf_last_closed": null, "resolution":
        "", "is_creator_accessible": true, "summary": "openssl: sample title", "cf_devel_whiteboard":
        "", "target_release": ["---"], "depends_on": [2017145, 2017146, 2017147, 2017148,
        2017149], "cf_major_incident": null, "cf_clone_of": null, "blocks": [2013606],
        "whiteboard": "", "cf_pgm_internal": "", "external_bugs": [], "target_milestone":
        "---", "estimated_time": 0, "cf_qe_conditional_nak": [], "cf_doc_type": "If
        docs needed, set a value", "product": "Security Response", "comments": [{"time":
        "2023-06-07T07:02:07Z", "bug_id": 2013494, "creation_time": "2023-06-07T07:02:07Z",
        "tags": [], "is_private": false, "count": 0, "text": "triage", "attachment_id":
        null, "creator": "osoukup@redhat.com", "id": 15574231, "creator_id": 412888},
        {"creator_id": 412888, "id": 15575051, "tags": [], "creator": "osoukup@redhat.com",
        "attachment_id": null, "text": "test", "count": 17, "is_private": false, "bug_id":
        2013494, "creation_time": "2023-06-08T14:03:51Z", "time": "2023-06-08T14:03:51Z"}],
        "severity": "high", "creator_detail": {"active": true, "real_name": "Ondrej
        Soukup", "email": "osoukup@redhat.com", "id": 412888, "insider": true, "name":
        "osoukup@redhat.com", "partner": false}, "tags": [], "description": "triage",
        "url": "", "qa_contact": "", "data_category": "Public", "assigned_to": "nobody@redhat.com",
        "creation_time": "2023-06-07T07:02:07Z", "cc": ["cfu@redhat.com", "csutherl@redhat.com",
        "dsirrine@redhat.com", "edewata@redhat.com", "jclere@redhat.com", "jmagne@redhat.com",
        "mharmsen@redhat.com", "mturk@redhat.com", "peholase@redhat.com", "szappis@redhat.com"],
        "sub_components": {}, "creator": "osoukup@redhat.com", "assigned_to_detail":
        {"insider": false, "name": "nobody@redhat.com", "partner": false, "active":
        true, "email": "nobody@redhat.com", "real_name": "Nobody", "id": 29451}, "priority":
        "high", "cf_internal_whiteboard": "", "cf_fixed_in": "", "alias": [], "cf_embargoed":
        null, "op_sys": "Linux", "cc_detail": [{"active": true, "email": "cfu@redhat.com",
        "real_name": "Christina Fu", "id": 172340, "insider": true, "partner": false,
        "name": "cfu@redhat.com"}, {"id": 323620, "email": "csutherl@redhat.com",
        "real_name": "Coty Sutherland", "active": true, "partner": false, "name":
        "csutherl@redhat.com", "insider": true}, {"email": "dsirrine@redhat.com",
        "active": true, "real_name": "David Sirrine", "id": 328816, "insider": true,
        "name": "dsirrine@redhat.com"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"cf_pgm_internal":
        "", "whiteboard": "", "blocks": [2013606], "cf_clone_of": null, "cf_major_incident":
        null, "target_release": ["---"], "depends_on": [2017145, 2017146, 2017147,
        2017148, 2017149], "summary": "openssl: sample title", "cf_devel_whiteboard":
        "", "is_creator_accessible": true, "resolution": "", "estimated_time": 0,
        "target_milestone": "---", "external_bugs": [], "flags": [{"is_active": 1,
        "creation_date": "2023-06-07T07:02:07Z", "id": 5222989, "status": "?", "type_id":
        415, "name": "requires_doc_text", "setter": "osoukup@redhat.com", "modification_date":
        "2023-06-07T07:02:07Z"}], "status": "NEW", "version": ["unspecified"], "id":
        2013494, "actual_time": 0, "cf_last_closed": null, "keywords": ["Security"],
        "platform": "All", "remaining_time": 0, "last_change_time": "2023-09-04T15:05:15Z",
        "deadline": null, "docs_contact": "", "cf_srtnotes": "{\"affects\": [{\"affectedness\":
        \"affected\", \"cvss2\": null, \"cvss3\": null, \"impact\": null, \"ps_component\":
        \"openssl\", \"ps_module\": \"rhcertification-6\", \"resolution\": \"fix\"}],
        \"impact\": \"important\", \"jira_trackers\": [], \"public\": \"2023-06-07T07:01:00Z\",
        \"reported\": \"2023-06-07\", \"source\": \"customer\"}", "cf_environment":
        "", "cf_pm_score": "0", "cf_qa_whiteboard": "", "cf_build_id": "", "is_cc_accessible":
        true, "groups": [], "cf_cust_facing": "---", "cf_conditional_nak": [], "component":
        ["vulnerability"], "classification": "Other", "is_confirmed": true, "cf_release_notes":
        "", "cc_detail": [{"email": "cfu@redhat.com", "active": true, "real_name":
        "Christina Fu", "id": 172340, "insider": true, "partner": false, "name": "cfu@redhat.com"},
        {"active": true, "email": "csutherl@redhat.com", "real_name": "Coty Sutherland",
        "id": 323620, "insider": true, "partner": false, "name": "csutherl@redhat.com"},
        {"insider": true, "partner": false, "name": "dsirrine@redhat.com", "active":
        true, "real_name": "David Sirrine", "email": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug/2013494/comment
  response:
    body:
      string: '{"bugs": {"2013494": {"comments": [{"bug_id": 2013494, "attachment_id":
        null, "count": 0, "is_private": false, "id": 15574231, "text": "triage", "creation_time":
        "2023-06-07T07:02:07Z", "creator_id": 412888, "creator": "osoukup@redhat.com",
        "time": "2023-06-07T07:02:07Z", "tags": []}, {"count": 17, "attachment_id":
        null, "bug_id": 2013494, "creation_time": "2023-06-08T14:03:51Z", "text":
        "test", "id": 15575051, "is_private": false, "creator_id": 412888, "tags":
        [], "time": "2023-06-08T14:03:51Z", "creator": "osoukup@redhat.com"}]}}, "comments":
        {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1693839919.310b3893
      x-rh-edge-request-id:
      - 310b3893
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013606&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"offset": 0, "limit": "20", "total_matches": 1, "bugs": [{"id": 2013606,
        "assigned_to": "osoukup@redhat.com", "assigned_to_detail": {"name": "osoukup@redhat.com",
        "partner": false, "insider": true, "id": 412888, "real_name": "Ondrej Soukup",
        "active": true, "email": "osoukup@redhat.com"}, "product": "Security Response",
        "data_category": "Security Restricted"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1693839920.310b3d3a
      x-rh-edge-request-id:
      - 310b3d3a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2017145
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"cf_fixed_in":
        "", "cf_internal_whiteboard": "", "cf_embargoed": null, "alias": [], "cc":
        [], "creator": "osoukup@redhat.com", "sub_components": {}, "priority": "high",
        "assigned_to_detail": {"name": "jweng@redhat.com", "partner": false, "insider":
        true, "id": 283338, "active": true, "real_name": "Jianwei Weng", "email":
        "jweng@redhat.com"}, "dupe_of": null, "is_open": true, "cc_detail": [], "op_sys":
        "Unspecified", "is_confirmed": true, "cf_release_notes": "", "classification":
        "Red Hat", "cf_cust_facing": "---", "cf_conditional_nak": [], "component":
        ["redhat-certification"], "comments": [{"creation_time": "2023-09-04T14:57:17Z",
        "bug_id": 2017145, "time": "2023-09-04T14:57:17Z", "creator_id": 412888, "id":
        15643634, "text": "rhcertification-6 tracking bug for openssl: see the bugs
        linked in the \"Blocks\" field of this bug for full details of the security
        issue(s).\n\nThis bug is never intended to be made public, please put any
        public notes in the blocked bugs.", "attachment_id": null, "creator": "osoukup@redhat.com",
        "is_private": false, "count": 0, "tags": []}], "creator_detail": {"insider":
        true, "name": "osoukup@redhat.com", "partner": false, "email": "osoukup@redhat.com",
        "real_name": "Ondrej Soukup", "active": true, "id": 412888}, "severity": "high",
        "qa_contact_detail": {"active": false, "email": "rhcert-qe@redhat.com", "real_name":
        "rhcert qe", "id": 408554, "insider": false, "partner": false, "name": "rhcert-qe@redhat.com"},
        "cf_qe_conditional_nak": [], "cf_doc_type": "No Doc Update", "product": "Red
        Hat Certification Program", "cf_target_upstream_version": "", "description":
        "rhcertification-6 tracking bug for openssl: see the bugs linked in the \"Blocks\"
        field of this bug for full details of the security issue(s).\n\nThis bug is
        never intended to be made public, please put any public notes in the blocked
        bugs.", "data_category": "Engineering", "qa_contact": "rhcert-qe@redhat.com",
        "url": "", "assigned_to": "jweng@redhat.com", "creation_time": "2023-09-04T14:57:17Z",
        "tags": [], "keywords": ["Security", "SecurityTracking"], "cf_last_closed":
        null, "actual_time": 0, "version": ["1.0"], "status": "NEW", "id": 2017145,
        "flags": [{"modification_date": "2023-09-04T14:57:17Z", "setter": "bugzilla@redhat.com",
        "name": "requires_doc_text", "type_id": 415, "creation_date": "2023-09-04T14:57:17Z",
        "id": 5236830, "status": "-", "is_active": 1}], "external_bugs": [], "target_milestone":
        "---", "estimated_time": 0, "cf_partner": [], "is_creator_accessible": true,
        "resolution": "", "target_release": ["---"], "depends_on": [], "cf_devel_whiteboard":
        "", "summary": "[Major Incident] openssl: sample title [rhcertification-6]",
        "cf_clone_of": null, "cf_major_incident": null, "cf_pgm_internal": "", "blocks":
        [2013494], "whiteboard": "", "groups": ["devel"], "is_cc_accessible": true,
        "cf_verified": [], "cf_build_id": "", "cf_pm_score": "0", "cf_qa_whiteboard":
        "", "cf_environment": "", "docs_contact": "", "last_change_time": "2023-09-04T14:57:17Z",
        "deadline": null, "remaining_time": 0, "platform": "Unspecified"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1693839921.310b3f76
      x-rh-edge-request-id:
      - 310b3f76
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2017147
  response:
    body:
      string: '{"limit": "20", "total_matches": 1, "bugs": [{"cf_pm_score": "0", "is_cc_accessible":
        true, "qa_contact": "rhcert-qe@redhat.com", "tags": [], "resolution": "",
        "cf_release_notes": "", "description": "rhcertification-6 tracking bug for
        openssl: see the bugs linked in the \"Blocks\" field of this bug for full
        details of the security issue(s).\n\nThis bug is never intended to be made
        public, please put any public notes in the blocked bugs.", "cf_internal_whiteboard":
        "", "creator": "osoukup@redhat.com", "actual_time": 0, "cf_partner": [], "target_milestone":
        "---", "cf_major_incident": null, "deadline": null, "version": ["1.0"], "creator_detail":
        {"id": 412888, "email": "osoukup@redhat.com", "name[...]
[...]
