interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh93"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039447.37a5de0
      x-rh-edge-request-id:
      - 37a5de0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"email": "aander07@packetmaster.com", "can_login": true,
        "id": 1, "name": "aander07@packetmaster.com", "real_name": "Need Real Name"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039448.37a5eb5
      x-rh-edge-request-id:
      - 37a5eb5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2018651&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"limit": "20", "bugs": [{"last_change_time": "2023-10-11T15:48:03Z",
        "data_category": "Engineering", "id": 2018651}], "total_matches": 1, "offset":
        0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039448.37a623d
      x-rh-edge-request-id:
      - 37a623d
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Red Hat Certification Program", "version": "1.0", "priority":
      "high", "severity": "high", "blocks": {"add": ["2013494"], "remove": []}, "component":
      "redhat-certification", "keywords": {"add": ["Security", "SecurityTracking"]},
      "summary": "CVE-2020-0000 openssl: CVE-2020-0000 kernel: some description [rhcertification-6]",
      "ids": ["2018651"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/bug/2018651
  response:
    body:
      string: '{"bugs": [{"id": 2018651, "last_change_time": "2023-10-11T15:50:49Z",
        "alias": [], "changes": {"summary": {"removed": "[Major Incident] openssl:
        sample title [rhcertification-6]", "added": "CVE-2020-0000 openssl: CVE-2020-0000
        kernel: some description [rhcertification-6]"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039449.37a65d9
      x-rh-edge-request-id:
      - 37a65d9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"offset": 0, "total_matches": 1, "limit": "20", "bugs": [{"cf_cust_facing":
        "---", "url": "", "description": "triage", "creator": "osoukup@redhat.com",
        "platform": "All", "is_creator_accessible": true, "flags": [{"modification_date":
        "2023-06-07T07:02:07Z", "name": "requires_doc_text", "type_id": 415, "creation_date":
        "2023-06-07T07:02:07Z", "setter": "osoukup@redhat.com", "status": "?", "is_active":
        1, "id": 5222989}], "classification": "Other", "cf_clone_of": null, "alias":
        [], "dupe_of": null, "cf_doc_type": "If docs needed, set a value", "status":
        "NEW", "is_confirmed": true, "cf_environment": "", "deadline": null, "priority":
        "high", "estimated_time": 0, "is_open": true, "cf_pm_score": "0", "severity":
        "high", "qa_contact": "", "groups": [], "op_sys": "Linux", "cc_detail": [{"partner":
        false, "real_name": "Christina Fu", "id": 172340, "name": "cfu@redhat.com",
        "insider": true, "email": "cfu@redhat.com", "active": true}, {"insider": true,
        "email": "csutherl@redhat.com", "active": true, "partner": false, "real_name":
        "Coty Sutherland", "id": 323620, "name": "csutherl@redhat.com"}, {"insider":
        true, "email": "dsirrine@redhat.com", "active": true, "partner": false, "real_name":
        "David Sirrine", "id": 328816, "name": "dsirrine@redhat.com"}, {"active":
        true, "insider": true, "email": "edewata@redhat.com", "id": 268649, "name":
        "edewata@redhat.com", "partner": fa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"offset": 0, "limit": "20", "bugs": [{"cf_last_closed": null, "resolution":
        "", "classification": "Other", "comments": [{"creator": "osoukup@redhat.com",
        "creation_time": "2023-06-07T07:02:07Z", "bug_id": 2013494, "tags": [], "time":
        "2023-06-07T07:02:07Z", "is_private": false, "id": 15574231, "private_groups":
        [], "text": "triage", "count": 0, "creator_id": 412888, "attachment_id": null},
        {"time": "2023-06-08T14:03:51Z", "tags": [], "creation_time": "2023-06-08T14:03:51Z",
        "creator": "osoukup@redhat.com", "bug_id": 2013494, "attachment_id": null,
        "creator_id": 412888, "text": "test", "count": 17, "is_private": false, "id":
        15575051, "private_groups": []}], "data_category": "Public", "url": "", "cf_fixed_in":
        "", "cf_devel_whiteboard": "", "keywords": ["Security"], "target_release":
        ["---"], "estimated_time": 0, "alias": [], "cf_clone_of": null, "cf_environment":
        "", "cc": ["cfu@redhat.com", "csutherl@redhat.com", "dsirrine@redhat.com",
        "edewata@redhat.com", "jclere@redhat.com", "jmagne@redhat.com", "mharmsen@redhat.com",
        "mturk@redhat.com", "peholase@redhat.com", "szappis@redhat.com"], "docs_contact":
        "", "dupe_of": null, "qa_contact": "", "is_cc_accessible": true, "cf_pgm_internal":
        "", "is_open": true, "platform": "All", "flags": [{"id": 5222989, "setter":
        "osoukup@redhat.com", "name": "requires_doc_text", "status": "?", "is_active":
        1, "type_id": 415, "modification_date": "2023-06-07T07:02:07Z", "creation_date":
        "2023-06-07T07:02:07Z"}], "whiteboard": "", "cf_release_notes": "", "creator":
        "osoukup@redhat.com", "cf_embargoed": null, "cf_srtnotes": "{\"affects\":
        [{\"affectedness\": \"affected\", \"cvss2\": null, \"cvss3\": null, \"impact\":
        null, \"ps_component\": \"openssl\", \"ps_module\": \"rhcertification-6\",
        \"resolution\": \"fix\"}], \"impact\": \"important\", \"jira_trackers\": [],
        \"public\": \"2023-06-07T07:01:00Z\", \"reported\": \"2023-06-07\", \"source\":
        \"customer\"}", "external_bugs": [], "creator_detail": {"partner": false,
        "active": true, "insider": true, "id": 412888, "email": "osoukup@redhat.com",
        "name": "osoukup@redhat.com", "real_name": "Ondrej Soukup"}, "product": "Security
        Response", "cf_qe_conditional_nak": [], "cf_conditional_nak": [], "severity":
        "high", "sub_components": {}, "groups": [], "assigned_to_detail": {"name":
        "nobody@redhat.com", "real_name": "Nobody", "partner": false, "insider": false,
        "active": true, "id": 29451, "email": "nobody@redhat.com"}, "is_confirmed":
        true, "cf_doc_type": "If docs needed, set a value", "deadline": null, "cf_internal_whiteboard":
        "", "creation_time": "2023-06-07T07:02:07Z", "cc_detail": [{"partner": false,
        "id": 172340, "email": "cfu@redhat.com", "insider": true, "active": true,
        "real_name": "Christina Fu", "name": "cfu@redhat.com"}, {"name": "csutherl@redhat.com",
        "real_name": "Coty Sutherland", "insider": true, "active": true, "email":
        "csutherl@redhat.com", "id": 323620, "partner": false}, {"name": "dsirrine@redhat.com",
        "real_name": "David Sirrine", "partner": false, "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug/2013494/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2013494": {"comments": [{"id": 15574231,
        "text": "triage", "is_private": false, "bug_id": 2013494, "count": 0, "creator":
        "osoukup@redhat.com", "attachment_id": null, "time": "2023-06-07T07:02:07Z",
        "private_groups": [], "creation_time": "2023-06-07T07:02:07Z", "creator_id":
        412888, "tags": []}, {"creation_time": "2023-06-08T14:03:51Z", "tags": [],
        "creator_id": 412888, "is_private": false, "bug_id": 2013494, "text": "test",
        "id": 15575051, "private_groups": [], "time": "2023-06-08T14:03:51Z", "attachment_id":
        null, "creator": "osoukup@redhat.com", "count": 17}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1697039453.8681f9d
      x-rh-edge-request-id:
      - 8681f9d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013606&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"offset": 0, "total_matches": 1, "bugs": [{"assigned_to_detail": {"insider":
        true, "active": true, "id": 412888, "email": "osoukup@redhat.com", "partner":
        false, "name": "osoukup@redhat.com", "real_name": "Ondrej Soukup"}, "data_category":
        "Security Restricted", "id": 2013606, "product": "Security Response", "assigned_to":
        "osoukup@redhat.com"}], "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1697039454.8681fe7
      x-rh-edge-request-id:
      - 8681fe7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2018651
  response:
    body:
      string: '{"limit": "20", "bugs": [{"creation_time": "2023-10-11T15:48:03Z",
        "cf_devel_whiteboard": "", "target_milestone": "---", "cf_partner": [], "cf_fixed_in":
        "", "cf_embargoed": null, "external_bugs": [], "product": "Red Hat Certification
        Program", "component": ["redhat-certification"], "sub_components": {}, "is_cc_accessible":
        true, "blocks": [2013494], "comments": [{"bug_id": 2018651, "is_private":
        false, "text": "rhcertification-6 tracking bug for openssl: see the bugs linked
        in the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
        bug is never intended to be made public, please put any public notes in the
        blocked bugs.", "id": 15671700, "private_groups": [], "attachment_id": null,
        "time": "2023-10-11T15:48:03Z", "creator": "osoukup@redhat.com", "count":
        0, "creation_time": "2023-10-11T15:48:03Z", "tags": [], "creator_id": 412888}],
        "cf_major_incident": null, "keywords": ["Security", "SecurityTracking"], "cc":
        [], "data_category": "Engineering", "remaining_time": 0, "cf_conditional_nak":
        [], "cf_qe_conditional_nak": [], "last_change_time": "2023-10-11T15:50:49Z",
        "resolution": "", "target_release": ["---"], "cf_qa_whiteboard": "", "cf_build_id":
        "", "version": ["1.0"], "tags": [], "assigned_to": "jweng@redhat.com", "cf_pgm_internal":
        "", "depends_on": [], "classification": "Red Hat", "flags": [{"name": "requires_doc_text",
        "modification_date": "2023-10-11T15:48:03Z", "is_active": 1, "id": 5241544,
        "setter": "bugzilla@redhat.com", "status": "-", "creation_date": "2023-10-11T15:48:03Z",
        "type_id": 415}], "cf_clone_of": null, "alias": [], "is_creator_accessible":
        true, "cf_environment": "", "deadline": null, "dupe_of": null, "status": "NEW",
        "cf_doc_type": "No Doc Update", "is_confirmed": true, "cf_verified": [], "platform":
        "Unspecified", "url": "", "description": "rhcertification-6 tracking bug for
        openssl: see the bugs linked in the \"Blocks\" field of this bug for full
        details of the security issue(s).\n\nThis bug is never intended to be made
        public, please put any public notes in the blocked bugs.", "cf_cust_facing":
        "---", "creator": "osoukup@redhat.com", "actual_time": 0, "creator_detail":
        {"partner": false, "real_name": "Ondrej Soukup", "id": 412888, "name": "osoukup@redhat.com",
        "email": "osoukup@redhat.com", "insider": true, "active": true}, "cf_last_closed":
        null, "summary": "CVE-2020-0000 openssl: CVE-2020-0000 kernel: some description
        [rhcertification-6]", "cf_release_notes": "", "cf_internal_whiteboard": "",
        "cf_target_upstream_version": "", "assigned_to_detail": {"id": 283338, "name":
        "jweng@redhat.com", "partner": false, "real_name": "Jianwei Weng", "active":
        true, "email": "jweng@redhat.com", "insider": true}, "whiteboard": "", "cf_pm_score":
        "0", "severity": "high", "qa_contact": "rhcert-qe@redhat.com", "groups": ["devel"],
        "priority": "high", "estimated_time": 0, "is_open": true, "id": 2018651, "qa_contact_detail":
        {"email": "rhcert-qe@redhat.com", "insider": false, "active": false, "partner":
        false, "real_name": "rhcert qe", "id": 408554, "name": "rhcert-qe@redhat.com"},
        "op_sys": "Unspecified", "docs_contact": "", "cc_detail": []}], "total_matches":
        1, "offset": 0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1697039455.86820aa
      x-rh-edge-request-id:
      - 86820aa
    status:
      code: 200
      message: OK
version: 1
