interactions:
- request:
    body: '{"fields": {"issuetype": {"name": "Bug"}, "project": {"key": "OSIDB"},
      "priority": {"name": "Minor"}, "description": "Public Security Tracking Issue\n\nFlaws:\n------\n\nsample
      title\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1997880\n\nDescription
      for None\n\nsample title\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1984541\n\nDescription
      for None\n\n~~~", "labels": ["SecurityTracking", "Security", "pscomponent:openshift"],
      "summary": "[Major Incident] openshift: various flaws [openshift-4.9.z]"}, "key":
      "OSIDB-920"}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIDB-920
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '0'
      X-RateLimit-Limit:
      - '-1'
      X-RateLimit-Remaining:
      - '9223372036854775807'
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 1032x14234x1
      x-asessionid:
      - kzjn9k
      x-ratelimit-fillrate:
      - '-1'
      x-ratelimit-interval-seconds:
      - '1'
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.553d3e17.1701882728.1188d82f
      x-rh-edge-request-id:
      - 1188d82f
      x-seraph-loginreason:
      - OK
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIDB-920
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "15283457", "self": "https://issues.redhat.com/rest/api/2/issue/15283457",
        "key": "OSIDB-920", "fields": {"issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}, "customfield_12322244":
        null, "customfield_12318341": {"id": "14816704", "key": "OSIDB-412", "self":
        "https://issues.redhat.com/rest/api/2/issue/14816704", "fields": {"summary":
        "OSIDB- Backlog", "status": {"self": "https://issues.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "priority":
        {"self": "https://issues.redhat.com/rest/api/2/priority/10200", "iconUrl":
        "https://issues.redhat.com/images/icons/priorities/medium.svg", "name":
        "Normal", "id": "10200"}, "issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/10700",
        "id": "10700", "description": "Capability or a well-defined set of functionality
        that delivers business value. Features can include additions or changes to
        existing functionality. Features can easily span multiple teams, and potentially
        multiple releases.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13271&avatarType=issuetype",
        "name": "Feature", "subtask": false, "avatarId": 13271}}}, "timespent": null,
        "customfield_12320940": null, "project": {"self": "https://issues.redhat.com/rest/api/2/project/12332734",
        "id": "12332734", "key": "OSIDB", "name": "Open Security Issue Database",
        "projectTypeKey": "software", "avatarUrls": {"48x48": "https://issues.redhat.com/secure/projectavatar?pid=12332734&avatarId=10010",
        "24x24": "https://issues.redhat.com/secure/projectavatar?size=small&pid=12332734&avatarId=10010",
        "16x16": "https://issues.redhat.com/secure/projectavatar?size=xsmall&pid=12332734&avatarId=10010",
        "32x32": "https://issues.redhat.com/secure/projectavatar?size=medium&pid=12332734&avatarId=10010"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@55202ef7[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@2aef3903[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1f01592c[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@4c754cee[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@48b33601[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@17e74d53[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@2babeba[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@64ce803f[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@351ca199[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@18bcffbc[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@4fa4dd7f[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@5ffb63cc[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}",
        "customfield_12310183": null, "resolutiondate": null, "workratio": -1, "customfield_12316840":
        null, "customfield_12317379": null, "customfield_12315950": null, "customfield_12316841":
        null, "customfield_12310940": null, "customfield_12319040": null, "lastViewed":
        "2023-12-06T16:56:20.528+0000", "watches": {"self": "https://issues.redhat.com/rest/api/2/issue/OSIDB-920/watchers",
        "watchCount": 2, "isWatching": false}, "created": "2023-05-26T13:54:09.520+0000",
        "customfield_12321240": null, "customfield_12313140": null, "priority": {"self":
        "https://issues.redhat.com/rest/api/2/priority/4", "iconUrl": "https://issues.redhat.com/images/icons/priorities/minor.svg",
        "name": "Minor", "id": "4"}, "labels": ["Security", "SecurityTracking", "pscomponent:openshift"],
        "customfield_12320947": [{"self": "https://issues.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-12-06T17:07:34.813+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [{"self": "https://issues.redhat.com/rest/api/2/component/12367567",
        "id": "12367567", "name": "osidb"}], "customfield_12316142": null, "timeoriginalestimate":
        null, "description": "Public Security Tracking Issue\n\nFlaws:\n------\n\nsample
        title\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1997880\n\nDescription
        for None\n\nsample title\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1984541\n\nDescription
        for None\n\n~~~", "customfield_12314040": null, "customfield_12320844": null,
        "archiveddate": null, "timetracking": {}, "customfield_12320842": null, "customfield_12310243":
        3.0, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "[Major Incident] openshift: various flaws [openshift-4.9.z]",
        "customfield_12323640": null, "customfield_12323642": null, "creator": {"self":
        "https://issues.redhat.com/rest/api/2/user?username=atorresj%40redhat.com",
        "name": "atorresj@redhat.com", "key": "JIRAUSER173566", "emailAddress": "atorresj@redhat.com",
        "avatarUrls": {"48x48": "https://issues.redhat.com/secure/useravatar?ownerId=JIRAUSER173566&avatarId=35078",
        "24x24": "https://issues.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER173566&avatarId=35078",
        "16x16": "https://issues.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER173566&avatarId=35078",
        "32x32": "https://issues.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER173566&avatarId=35078"},
        "displayName": "Adrian Torres Justo", "active": true, "timeZone": "Europe/Brussels"},
        "customfield_12323641": null, "subtasks": [], "customfield_12321140": null,
        "customfield_12323647": null, "reporter": {"self": "https://issues.redhat.com/rest/api/2/user?username=atorresj%40redhat.com",
        "name": "atorresj@redhat.com", "key": "JIRAUSER173566", "emailAddress": "atorresj@redhat.com",
        "avatarUrls": {"48x48": "https://issues.redhat.com/secure/useravatar?ownerId=JIRAUSER173566&avatarId=35078",
        "24x24": "https://issues.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER173566&avatarId=35078",
        "16x16": "https://issues.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER173566&avatarId=35078",
        "32x32": "https://issues.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER173566&avatarId=35078"},
        "displayName": "Adrian Torres Justo", "active": true, "timeZone": "Europe/Brussels"},
        "customfield_12320850": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12323644": null, "customfield_12323643": null, "customfield_12323646":
        null, "customfield_12323645": null, "environment": null, "customfield_12315542":
        null, "customfield_12315740": null, "customfield_12313441": "", "customfield_12313440":
        "0.0", "customfield_12313240": null, "duedate": null, "customfield_12311140":
        "OSIDB-6", "customfield_12319742": null, "progress": {"progress": 0, "total":
        0}, "comment": {"comments": [{"self": "https://issues.redhat.com/rest/api/2/issue/15283457/comment/22407250",
        "id": "22407250", "author": {"self": "https://issues.redhat.com/rest/api/2/user?username=rh-ee-znovacek",
        "name": "rh-ee-znovacek", "key": "JIRAUSER191853", "emailAddress": "znovacek@redhat.com",
        "avatarUrls": {"48x48": "https://issues.redhat.com/secure/useravatar?avatarId=17290",
        "24x24": "https://issues.redhat.com/secure/useravatar?size=small&avatarId=17290",
        "16x16": "https://issues.redhat.com/secure/useravatar?size=xsmall&avatarId=17290",
        "32x32": "https://issues.redhat.com/secure/useravatar?size=medium&avatarId=17290"},
        "displayName": "Zdenek Novacek", "active": true, "timeZone": "Europe/Prague"},
        "body": "Needs to be done alongside setting up new collectors for Assembler.",
        "updateAuthor": {"self": "https://issues.redhat.com/rest/api/2/user?username=rh-ee-znovacek",
        "name": "rh-ee-znovacek", "key": "JIRAUSER191853", "emailAddress": "znovacek@redhat.com",
        "avatarUrls": {"48x48": "https://issues.redhat.com/secure/useravatar?avatarId=17290",
        "24x24": "https://issues.redhat.com/secure/useravatar?size=small&avatarId=17290",
        "16x16": "https://issues.redhat.com/secure/useravatar?size=xsmall&avatarId=17290",
        "32x32": "https://issues.redhat.com/secu[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh94"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882729.f562ae
      x-rh-edge-request-id:
      - f562ae
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "can_login": true,
        "real_name": "Need Real Name", "email": "aander07@packetmaster.com", "id":
        1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882730.f563c3
      x-rh-edge-request-id:
      - f563c3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1988648&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"bugs": [{"id": 1988648, "last_change_time": "2023-12-06T17:07:51Z",
        "data_category": "Public"}], "total_matches": 1, "limit": "20", "offset":
        0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882731.f564df
      x-rh-edge-request-id:
      - f564df
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "cf_release_notes": "",
      "severity": "low", "priority": "low", "summary": "Yes television address consumer
      make half figure.: sample title", "keywords": {"add": ["Security"]}, "flags":
      [{"name": "hightouch", "status": "-"}, {"name": "hightouch-lite", "status":
      "-"}, {"name": "requires_doc_text", "status": "-"}], "groups": {"add": [], "remove":
      []}, "cc": {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\":
      \"openshift-4\", \"ps_component\": \"openshift\", \"affectedness\": \"affected\",
      \"resolution\": \"fix\", \"impact\": \"low\", \"cvss2\": null, \"cvss3\": null}],
      \"public\": \"2023-11-23T17:10:28Z\", \"reported\": \"2002-02-05T21:01:04Z\",
      \"impact\": \"low\", \"source\": \"git\", \"statement\": \"Statement for None\"}",
      "ids": ["1988648"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/bug/1988648
  response:
    body:
      string: '{"bugs": [{"last_change_time": "2023-12-06T17:12:12Z", "id": 1988648,
        "alias": ["CVE-2014-9200"], "changes": {"cf_release_notes": {"removed": "I
        am a spooky CVE", "added": ""}, "flagtypes.name": {"removed": "hightouch-lite+,
        requires_doc_text+", "added": "hightouch-lite-, requires_doc_text-"}, "cf_srtnotes":
        {"removed": "{\"affects\": [{\"ps_module\": \"openshift-4\", \"ps_component\":
        \"openshift\", \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\":
        \"low\", \"cvss2\": null, \"cvss3\": null}], \"public\": \"2023-11-11T09:30:54Z\",
        \"reported\": \"2006-04-24T22:27:45Z\", \"impact\": \"low\", \"source\": \"git\",
        \"mitigation\": \"CVE mitigation\", \"statement\": \"Statement for None\"}",
        "added": "{\"affects\": [{\"ps_module\": \"openshift-4\", \"ps_component\":
        \"openshift\", \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\":
        \"low\", \"cvss2\": null, \"cvss3\": null}], \"public\": \"2023-11-23T17:10:28Z\",
        \"reported\": \"2002-02-05T21:01:04Z\", \"impact\": \"low\", \"source\": \"git\",
        \"statement\": \"Statement for None\"}"}, "summary": {"added": "Yes television
        address consumer make half figure.: sample title", "removed": "According visit
        suggest every board do score.: sample title"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882732.f56672
      x-rh-edge-request-id:
      - f56672
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1988648
  response:
    body:
      string: '{"offset": 0, "bugs": [{"remaining_time": 0, "version": ["unspecified"],
        "is_confirmed": true, "deadline": null, "actual_time": 0, "cf_release_notes":
        "", "cf_last_closed": null, "estimated_time": 0, "target_milestone": "---",
        "assigned_to": "nobody@redhat.com", "target_release": ["---"], "creator_detail":
        {"active": true, "real_name": "Ondrej Soukup", "partner": false, "insider":
        true, "email": "osoukup@redhat.com", "name": "osoukup@redhat.com", "id": 412888},
        "id": 1988648, "external_bugs": [], "priority": "low", "cf_doc_type": "If
        docs needed, set a value", "cf_qa_whiteboard": "", "depends_on": [1989281],
        "cf_internal_whiteboard": "", "qa_contact": "", "cc": ["csutherl@redhat.com",
        "gzaronik@redhat.com", "jclere@redhat.com", "jwon@redhat.com", "mturk@redhat.com",
        "mwringe@redhat.com", "ploffay@redhat.com", "szappis@redhat.com"], "cf_major_incident":
        null, "is_creator_accessible": true, "summary": "Yes television address consumer
        make half figure.: sample title", "assigned_to_detail": {"insider": false,
        "email": "nobody@redhat.com", "id": 29451, "name": "nobody@redhat.com", "active":
        true, "real_name": "Nobody", "partner": false}, "cf_conditional_nak": [],
        "cf_build_id": "", "cf_qe_conditional_nak": [], "blocks": [1988650], "op_sys":
        "Linux", "resolution": "", "creator": "osoukup@redhat.com", "dupe_of": null,
        "keywords": ["Security"], "cf_environment": "", "data_category": "Public",
        "severity": "low", "url": "", "platform": "All", "description": "comment",
        "flags": [{"setter": "osoukup@redhat.com", "type_id": 788, "creation_date":
        "2023-12-06T16:56:55Z", "name": "hightouch", "modification_date": "2023-12-06T17:07:51Z",
        "is_active": 1, "status": "-", "id": 5248525}, {"setter": "osoukup@redhat.com",
        "name": "hightouch-lite", "modification_date": "2023-12-06T17:12:12Z", "creation_date":
        "2023-12-06T16:56:55Z", "type_id": 1209, "is_active": 1, "id": 5248526, "status":
        "-"}, {"setter": "osoukup@redhat.com", "name": "requires_doc_text", "modification_date":
        "2023-12-06T17:12:12Z", "creation_date": "2021-11-23T12:33:21Z", "type_id":
        415, "is_active": 1, "id": 5129662, "status": "-"}], "cf_devel_whiteboard":
        "", "whiteboard": "", "cf_embargoed": null, "component": ["vulnerability"],
        "tags": [], "classification": "Other", "cc_detail": [{"id": 323620, "name":
        "csutherl@redhat.com", "insider": true, "email": "csutherl@redhat.com", "partner":
        false, "real_name": "Coty Sutherland", "active": true}, {"active": true, "partner":
        false, "real_name": "George Zaronikas", "email": "gzaronik@redhat.com", "insider":
        true, "id": 392732, "name": "gzaronik@redhat.com"}, {"partner": false, "real_name":
        "Jean-frederic Clere", "active": true, "id": 207159, "name": "jclere@redhat.com",
        "insider": true, "email": "jclere@redhat.com"}, {"name": "jwon@redhat.com",
        "id": 393629, "email": "jwon@redhat.com", "insider": true, "partner": false,
        "real_name": "Ted (Jong Seok) Won", "active": true}, {"real_name": "Mladen
        Turk", "partner": false, "active": true, "name": "mturk@redhat.com", "id":
        203655, "email": "mturk@redhat.com", "insider": true}, {"insider": true, "email":
        "mwringe@redhat.com", "id": 164153, "name": "mwringe@redhat.com", "active":
        true, "real_name": "Matt Wringe", "partner": false}, {"active": false, "partner":
        false, "real_name": "Pavol Loffay", "insider": false, "email": "ploffay@redhat.com",
        "name": "ploffay@redhat.com", "id": 421373}, {"email": "szappis@redhat.com",
        "insider": false, "name": "szappis@redhat.com", "id": 415516, "active": true,
        "partner": false, "real_name": "Socrates Zappis"}], "creation_time": "2021-11-23T12:33:21Z",
        "last_change_time": "2023-12-06T17:12:12Z", "cf_fixed_in": "", "cf_pm_score":
        "0", "is_open": true, "sub_components": {}, "status": "NEW", "cf_srtnotes":
        "{\"affects\": [{\"ps_module\": \"openshift-4\", \"ps_component\": \"openshift\",
        \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\": \"low\",
        \"cvss2\": null, \"cvss3\": null}], \"public\": \"2023-11-23T17:10:28Z\",
        \"reported\": \"2002-02-05T21:01:04Z\", \"impact\": \"low\", \"source\": \"git\",
        \"statement\": \"Statement for None\"}", "groups": [], "comments": [{"tags":
        [], "text": "comment", "attachment_id": null, "time": "2021-11-23T12:33:21Z",
        "id": 15330973, "creator_id": 412888, "is_private": false, "creation_time":
        "2021-11-23T12:33:21Z", "count": 0, "bug_id": 1988648, "private_groups": [],
        "creator": "osoukup@redhat.com"}], "docs_contact": "", "is_cc_accessible":
        true, "product": "Security Response", "cf_pgm_internal": "", "alias": ["CVE-2014-9200"],
        "cf_clone_of": null, "cf_cust_facing": "---"}], "total_matches": 1, "limit":
        "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882734.f56ba2
      x-rh-edge-request-id:
      - f56ba2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug/1988648/comment
  response:
    body:
      string: '{"bugs": {"1988648": {"comments": [{"text": "comment", "attachment_id":
        null, "id": 15330973, "time": "2021-11-23T12:33:21Z", "tags": [], "creator_id":
        412888, "is_private": false, "count": 0, "creation_time": "2021-11-23T12:33:21Z",
        "private_groups": [], "creator": "osoukup@redhat.com", "bug_id": 1988648}]}},
        "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882736.f56ef3
      x-rh-edge-request-id:
      - f56ef3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1988650&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"limit": "20", "total_matches": 1, "offset": 0, "bugs": [{"assigned_to":
        "osoukup@redhat.com", "assigned_to_detail": {"partner": false, "real_name":
        "Ondrej Soukup", "name": "osoukup@redhat.com", "active": true, "insider":
        true, "email": "osoukup@redhat.com", "id": 412888}, "product": "Security Response",
        "id": 1988650, "data_category": "Security Restricted"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.343d3e17.1701882737.f56fcc
      x-rh-edge-request-id:
      - f56fcc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1989281
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"summary":
        "openssl: test: 2.40.0 release [rhcertification-8-default]", "assigned_to_detail":
        {"real_name": "Jianwei Weng", "partner": false, "active": true, "id": 283338,
        "name": "jweng@redhat.com", "insider": true, "email": "jweng@redhat.com"},
        "is_creator_accessible": true, "cf_build_id": "", "cf_conditional_nak": [],
        "cf_qe_conditional_nak": [], "creator": "jfrejlac@redhat.com", "op_sys": "Unspecified",
        "resolution": "", "blocks": [1985346, 1985409, 1988648, 1989279], "assigned_to":
        "jweng@redhat.com", "target_milestone": "---", "estimated_time": 0, "creator_detail":
        {"active": true, "real_name": "Jakub Frejlach", "partner": false, "insider":
        true, "email": "jfrejlac@redhat.com", "id": 442060, "name": "jfrejlac@redhat.com"},
        "target_release": ["---"], "id": 1989281, "external_bugs": [], "cf_doc_type":
        "No Doc Update", "priority": "medium", "depends_on": [], "cf_qa_whiteboard":
        "", "cf_internal_whiteboard": "", "cc": [], "cf_major_incident": null, "qa_contact":
        "", "cf_target_upstream_version": "", "is_confirmed": true, "deadline": "2022-12-06",
        "cf_release_notes": "", "actual_time": 0, "cf_last_closed": null, "remaining_time":
        0, "version": ["1.0"], "docs_contact": "", "product": "Red Hat Certification
        Program", "is_cc_accessible": true, "alias": [], "cf_pgm_internal": "", "cf_cust_facing":
        "---", "cf_clone_of": null, "cf_pm_score": "0", "cf_verified": [], "is_open":
        true, "sub_components": {}, "status": "NEW", "cf_partner": [], "groups": ["devel"],
        "comments": [{"creator_id": 442060, "text": "rhcertification-8 tracking bug
        for openssl: see the bugs linked in the \"Blocks\" field of this bug for full
        details of the security issue(s).\n\nThis bug is never intended to be made
        public, please put any public notes in the blocked bugs.\n\nImpact: Moderate\nPublic
        Date: not set\nPM Fix/Wontfix Decision By: 06-Mar-2022\nResolve Bug By: 365
        calendar days from the public date\n\nIn case the dates above are already
        past, please evaluate this bug in your next prioritization review and make
        a decision then. Remember to explicitly set CLOSED:WONTFIX if you decide not
        to fix this bug.\n\nPlease see the Security Errata Policy for further details:
        https://docs.engineering.redhat.com/x/9RBqB\n\nNOTE THIS ISSUE IS CURRENTLY
        EMBARGOED, DO NOT MAKE PUBLIC COMMITS OR COMMENTS ABOUT THIS ISSUE.\n\nWARNING:
        NOTICE THAT REMOVING THE \"SECURITY\" GROUP FROM THIS TRACKER MAY BREAK THE
        EMBARGO.\n\nNOTICE: THIS BUG HAS THE DEFAULT QA CONTACT (rhcert-qe@redhat.com)
        OVERRIDDEN BECAUSE IT WAS A MAILING LIST OR NON @redhat.com E-MAIL! PLEASE
[...]
