interactions:
- request:
    body: '{"fields": {"issuetype": {"name": "Bug"}, "project": {"key": "OSIDB"},
      "priority": {"name": "Minor"}, "description": "Security Tracking Issue\n\nDo
      not make this issue public.\n\nFlaw:\n-----\n\nsample title\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1997880\n\nDescription
      for None\n\n~~~", "labels": ["SecurityTracking", "Security", "pscomponent:openshift"],
      "summary": "[CISA Major Incident] openshift: sample title [openshift-4.8.z]"}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue
  response:
    body:
      string: '{"id": "15548191", "key": "OSIDB-1439", "self": "https://issues.redhat.com/rest/api/2/issue/15548191"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '0'
      X-RateLimit-Limit:
      - '-1'
      X-RateLimit-Remaining:
      - '9223372036854775807'
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 1024x493515x1
      x-asessionid:
      - 1l2yd0x
      x-ratelimit-fillrate:
      - '-1'
      x-ratelimit-interval-seconds:
      - '1'
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.7df06e68.1701795897.95b7d8a
      x-rh-edge-request-id:
      - 95b7d8a
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIDB-1439
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "15548191", "self": "https://issues.redhat.com/rest/api/2/issue/15548191",
        "key": "OSIDB-1439", "fields": {"issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.redhat.com/rest/api/2/project/12332734",
        "id": "12332734", "key": "OSIDB", "name": "Open Security Issue Database",
        "projectTypeKey": "software", "avatarUrls": {"48x48": "https://issues.redhat.com/secure/projectavatar?pid=12332734&avatarId=10010",
        "24x24": "https://issues.redhat.com/secure/projectavatar?size=small&pid=12332734&avatarId=10010",
        "16x16": "https://issues.redhat.com/secure/projectavatar?size=xsmall&pid=12332734&avatarId=10010",
        "32x32": "https://issues.redhat.com/secure/projectavatar?size=medium&pid=12332734&avatarId=10010"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@68998608[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@2c618f1e[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@26ecf047[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@65592fb[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@38ca2431[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@36db9bda[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@77f42b8e[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@5d1cbdc1[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@349ee1ff[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@5ef1b9fd[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@80f51f6[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@30c50783[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}",
        "customfield_12310183": null, "resolutiondate": null, "workratio": -1, "customfield_12316840":
        null, "customfield_12317379": null, "customfield_12315950": null, "customfield_12316841":
        null, "customfield_12310940": null, "customfield_12319040": null, "lastViewed":
        null, "watches": {"self": "https://issues.redhat.com/rest/api/2/issue/OSIDB-1439/watchers",
        "watchCount": 1, "isWatching": true}, "created": "2023-12-05T17:04:56.823+0000",
        "customfield_12321240": null, "customfield_12313140": null, "priority": {"self":
        "https://issues.redhat.com/rest/api/2/priority/4", "iconUrl": "https://issues.redhat.com/images/icons/priorities/minor.svg",
        "name": "Minor", "id": "4"}, "labels": ["Security", "SecurityTracking", "pscomponent:openshift"],
        "customfield_12320947": [{"self": "https://issues.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-12-05T17:04:57.620+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [{"self": "https://issues.redhat.com/rest/api/2/component/12367567",
        "id": "12367567", "name": "osidb"}], "customfield_12316142": null, "timeoriginalestimate":
        null, "description": "Security Tracking Issue\n\nDo not make this issue public.\n\nFlaw:\n-----\n\nsample
        title\nhttps://bugzilla.redhat.com/show_bug.cgi?id=1997880\n\nDescription
        for None\n\n~~~", "customfield_12314040": null, "customfield_12320844": null,
        "archiveddate": null, "timetracking": {}, "customfield_12320842": null, "customfield_12310243":
        null, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "[CISA Major Incident] openshift: sample title [openshift-4.8.z]",
        "customfield_12323640": null, "customfield_12323642": null, "creator": {"self":
        "https://issues.redhat.com/rest/api/2/user?username=osoukup%40redhat.com",
        "name": "osoukup@redhat.com", "key": "osoukup", "emailAddress": "osoukup+redhat.com",
        "avatarUrls": {"48x48": "https://issues.redhat.com/secure/useravatar?avatarId=17283",
        "24x24": "https://issues.redhat.com/secure/useravatar?size=small&avatarId=17283",
        "16x16": "https://issues.redhat.com/secure/useravatar?size=xsmall&avatarId=17283",
        "32x32": "https://issues.redhat.com/secure/useravatar?size=medium&avatarId=17283"},
        "displayName": "Ondrej Soukup", "active": true, "timeZone": "Europe/Prague"},
        "customfield_12323641": null, "subtasks": [], "customfield_12321140": null,
        "customfield_12323647": [{"self": "https://issues.redhat.com/rest/api/2/customFieldOption/34754",
        "value": "en-US (English)", "id": "34754", "disabled": false}], "reporter":
        {"self": "https://issues.redhat.com/rest/api/2/user?username=osoukup%40redhat.com",
        "name": "osoukup@redhat.com", "key": "osoukup", "emailAddress": "osoukup+redhat.com",
        "avatarUrls": {"48x48": "https://issues.redhat.com/secure/useravatar?avatarId=17283",
        "24x24": "https://issues.redhat.com/secure/useravatar?size=small&avatarId=17283",
        "16x16": "https://issues.redhat.com/secure/useravatar?size=xsmall&avatarId=17283",
        "32x32": "https://issues.redhat.com/secure/useravatar?size=medium&avatarId=17283"},
        "displayName": "Ondrej Soukup", "active": true, "timeZone": "Europe/Prague"},
        "customfield_12320850": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12323644": null, "customfield_12323643": null, "customfield_12323646":
        null, "customfield_12323645": null, "environment": null, "customfield_12315542":
        null, "customfield_12315740": null, "customfield_12313441": "", "customfield_12313440":
        "0.0", "customfield_12313240": null, "duedate": null, "customfield_12311140":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "comment": {"comments": [], "maxResults": 0, "total": 0, "startAt": 0}, "votes":
        {"self": "https://issues.redhat.com/rest/api/2/issue/OSIDB-1439/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12319743": null, "customfield_12310213":
        null, "archivedby": null, "customfield_12311940": "1|zcsk24:"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '0'
      X-RateLimit-Limit:
      - '-1'
      X-RateLimit-Remaining:
      - '9223372036854775807'
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 1024x493516x1
      x-asessionid:
      - b6d9ex
      x-ratelimit-fillrate:
      - '-1'
      x-ratelimit-interval-seconds:
      - '1'
      x-rh-edge-cache-status:
      - NotCacheable from child
      x-rh-edge-reference-id:
      - 0.7df06e68.1701795897.95b7eae
      x-rh-edge-request-id:
      - 95b7eae
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh94"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1701795899.74c7f6e7
      x-rh-edge-request-id:
      - 74c7f6e7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"real_name": "Need Real Name", "can_login": true, "id":
        1, "name": "aander07@packetmaster.com", "email": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1701795900.74c7fb06
      x-rh-edge-request-id:
      - 74c7fb06
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1997880&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "bugs": [{"id": 1997880, "last_change_time":
        "2023-12-05T16:17:13Z", "data_category": "Public"}], "offset": 0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1701795901.74c80438
      x-rh-edge-request-id:
      - 74c80438
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "cf_release_notes": "I
      am a spooky CVE", "severity": "low", "priority": "low", "summary": "Church I
      price feeling moment event continue.: sample title", "keywords": {"add": ["Security"]},
      "flags": [{"name": "hightouch", "status": "-"}, {"name": "hightouch-lite", "status":
      "+"}, {"name": "requires_doc_text", "status": "+"}], "groups": {"add": [], "remove":
      []}, "cc": {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\":
      \"openshift-4\", \"ps_component\": \"openshift\", \"affectedness\": \"affected\",
      \"resolution\": \"fix\", \"impact\": \"low\", \"cvss2\": null, \"cvss3\": null}],
      \"public\": \"2023-11-14T12:42:09Z\", \"reported\": \"1970-10-04T01:51:45Z\",
      \"impact\": \"low\", \"jira_trackers\": [{\"bts_name\": \"jboss\", \"key\":
      \"OSIDB-1439\"}], \"source\": \"git\", \"mitigation\": \"CVE mitigation\", \"statement\":
      \"Statement for None\"}", "ids": ["1997880"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/bug/1997880
  response:
    body:
      string: '{"bugs": [{"id": 1997880, "changes": {"summary": {"added": "Church
        I price feeling moment event continue.: sample title", "removed": "openshift:
        test flaw with custom jira labels"}, "flagtypes.name": {"removed": "", "added":
        "hightouch-, hightouch-lite+, requires_doc_text+"}, "cf_srtnotes": {"removed":
        "{\"affects\": [{\"affectedness\": \"affected\", \"cvss2\": null, \"cvss3\":
        null, \"impact\": null, \"ps_component\": \"openshift\", \"ps_module\": \"openshift-4\",
        \"resolution\": \"delegated\"}], \"checklists\": [{\"items\": [{\"checked\":
        false, \"comment\": null, \"item\": \"0. Concise and precise summary\", \"not_applicable\":
        false}, {\"checked\": false, \"comment\": null, \"item\": \"1. Accurate technical
        information\", \"not_applicable\": false}, {\"checked\": false, \"comment\":
        null, \"item\": \"2. Appropriate CVSS\", \"not_applicable\": false}, {\"checked\":
        false, \"comment\": null, \"item\": \"3. Fixed in version\", \"not_applicable\":
        false}, {\"checked\": false, \"comment\": null, \"item\": \"4. Appropriate
        CWE(s) \", \"not_applicable\": false}, {\"checked\": [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1997880
  response:
    body:
      string: '{"bugs": [{"external_bugs": [], "creation_time": "2022-06-24T02:18:58Z",
        "cf_build_id": "", "priority": "low", "classification": "Other", "assigned_to_detail":
        {"id": 29451, "email": "nobody@redhat.com", "real_name": "Nobody", "partner":
        false, "insider": false, "name": "nobody@redhat.com", "active": true}, "cf_pm_score":
        "0", "id": 1997880, "data_category": "Public", "whiteboard": "", "op_sys":
        "Linux", "cf_conditional_nak": [], "cf_qe_conditional_nak": [], "dupe_of":
        null, "cf_devel_whiteboard": "", "cc": ["bmontgom@redhat.com", "eparis@redhat.com",
        "joelsmith@redhat.com", "jokerman@redhat.com", "osoukup@redhat.com"], "estimated_time":
        0, "description": "test flaw with custom jira labels", "creator_detail": {"name":
        "sfowler@redhat.com", "active": true, "insider": true, "real_name": "Sam Fowler",
        "partner": false, "email": "sfowler@redhat.com", "id": 416314}, "is_cc_accessible":
        true, "is_open": true, "cf_environment": "", "cf_qa_whiteboard": "", "cf_release_notes":
        "I am a spooky CVE", "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"openshift-4\",
        \"ps_component\": \"openshift\", \"affectedness\": \"affected\", \"resolution\":
        \"fix\", \"impact\": \"low\", \"cvss2\": null, \"cvss3\": null}], \"public\":
        \"2023-11-14T12:42:09Z\", \"reported\": \"1970-10-04T01:51:45Z\", \"impact\":
        \"low\", \"jira_trackers\": [{\"bts_name\": \"jboss\", \"key\": \"OSIDB-1439\"}],
        \"source\": \"git\", \"mitigation\": \"CVE mitigation\", \"statement\": \"Statement
        for None\"}", "docs_contact": "", "comments": [{"count": 0, "creator_id":
        416314, "is_private": false, "bug_id": 1997880, "attachment_id": null, "time":
        "2022-06-24T02:18:58Z", "tags": [], "creation_time": "2022-06-24T02:18:58Z",
        "id": 15427168, "creator": "sfowler@redhat.com", "text": "test flaw with custom
        jira labels", "private_groups": []}], "component": ["vulnerability"], "deadline":
        null, "is_confirmed": true, "cf_clone_of": null, "cf_major_incident": null,
        "cf_doc_type": "If docs needed, set a value", "alias": [], "groups": [], "summary":
        "Church I price feeling moment event continue.: sample title", "tags": [],
        "keywords": ["Security"], "depends_on": [], "platform": "All", "creator":
        "sfowler@redhat.com", "target_milestone": "---", "is_creator_accessible":
        true, "assigned_to": "nobody@redhat.com", "resolution": "", "last_change_time":
        "2023-12-05T17:05:03Z", "remaining_time": 0, "url": "", "flags": [{"is_active":
        1, "name": "hightouch", "setter": "osoukup@redhat.com", "modification_date":
        "2023-12-05T17:05:03Z", "id": 5248401, "type_id": 788, "creation_date": "2023-12-05T17:05:03Z",
        "status": "-"}, {"creation_date": "2023-12-05T17:05:03Z", "status": "+", "type_id":
        1209, "setter": "osoukup@redhat.com", "modification_date": "2023-12-05T17:05:03Z",
        "id": 5248402, "name": "hightouch-lite", "is_active": 1}, {"type_id": 415,
        "status": "+", "creation_date": "2023-12-05T17:05:03Z", "name": "requires_doc_text",
        "is_active": 1, "modification_date": "2023-12-05T17:05:03Z", "setter": "osoukup@redhat.com",
        "id": 5248403}], "status": "NEW", "cf_last_closed": null, "version": ["unspecified"],
        "cf_pgm_internal": "", "target_release": ["---"], "product": "Security Response",
        "actual_time": 0, "cf_fixed_in": "", "severity": "low", "sub_components":
        {}, "cf_embargoed": null, "cf_internal_whiteboard": "", "blocks": [], "qa_contact":
        "", "cc_detail": [{"email": "bmontgom@redhat.com", "id": 342077, "real_name":
        "Bill Montgomery", "partner": false, "active": true, "name": "bmontgom@redhat.com",
        "insider": true}, {"email": "eparis@redhat.com", "id": 165117, "partner":
        false, "real_name": "Eric Paris", "active": true, "name": "eparis@redhat.com",
        "insider": true}, {"id": 370964, "email": "joelsmith@redhat.com", "partner":
        false, "real_name": "Joel Smith", "insider": true, "active": true, "name":
        "joelsmith@redhat.com"}, {"partner": false, "real_name": "Joanne Okerman",
        "active": false, "name": "jokerman@redhat.com", "insider": false, "email":
        "jokerman@redhat.com", "id": 344626}, {"email": "osoukup@redhat.com", "id":
        412888, "real_name": "Ondrej Soukup", "partner": false, "active": true, "name":
        "osoukup@redhat.com", "insider": true}], "cf_cust_facing": "---"}], "limit":
        "20", "total_matches": 1, "offset": 0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1701795906.74c8245b
      x-rh-edge-request-id:
      - 74c8245b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug/1997880/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"1997880": {"comments": [{"text": "test flaw
        with custom jira labels", "creator": "sfowler@redhat.com", "private_groups":
        [], "id": 15427168, "creation_time": "2022-06-24T02:18:58Z", "attachment_id":
        null, "time": "2022-06-24T02:18:58Z", "bug_id": 1997880, "tags": [], "count":
        0, "creator_id": 416314, "is_private": false}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1701795909.74c83a2a
      x-rh-edge-request-id:
      - 74c83a2a
    status:
      code: 200
      message: OK
[...]
