interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh91"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693840093.31220ef
      x-rh-edge-request-id:
      - 31220ef
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "real_name": "Need
        Real Name", "can_login": true, "email": "aander07@packetmaster.com", "id":
        1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693840093.312216c
      x-rh-edge-request-id:
      - 312216c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2017149&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"id": 2017149,
        "last_change_time": "2023-09-04T15:05:15Z", "data_category": "Engineering"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693840094.3122293
      x-rh-edge-request-id:
      - '3122293'
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Red Hat Certification Program", "version": "1.0", "priority":
      "high", "severity": "high", "blocks": {"add": ["2013494"], "remove": []}, "component":
      "redhat-certification", "keywords": {"add": ["Security", "SecurityTracking"]},
      "summary": "CVE-2020-0000 openssl: CVE-2020-0000 kernel: some description [rhcertification-6]",
      "ids": ["2017149"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/bug/2017149
  response:
    body:
      string: '{"bugs": [{"alias": [], "id": 2017149, "changes": {"summary": {"removed":
        "openssl: sample title [rhcertification-6]", "added": "CVE-2020-0000 openssl:
        CVE-2020-0000 kernel: some description [rhcertification-6]"}}, "last_change_time":
        "2023-09-04T15:08:15Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1693840095.312247f
      x-rh-edge-request-id:
      - 312247f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"cf_qe_conditional_nak":
        [], "cf_doc_type": "If docs needed, set a value", "product": "Security Response",
        "comments": [{"bug_id": 2013494, "creation_time": "2023-06-07T07:02:07Z",
        "time": "2023-06-07T07:02:07Z", "id": 15574231, "creator_id": 412888, "tags":
        [], "count": 0, "is_private": false, "text": "triage", "creator": "osoukup@redhat.com",
        "attachment_id": null}, {"bug_id": 2013494, "creation_time": "2023-06-08T14:03:51Z",
        "time": "2023-06-08T14:03:51Z", "id": 15575051, "creator_id": 412888, "tags":
        [], "is_private": false, "count": 17, "attachment_id": null, "creator": "osoukup@redhat.com",
        "text": "test"}], "creator_detail": {"id": 412888, "active": true, "real_name":
        "Ondrej Soukup", "email": "osoukup@redhat.com", "name": "osoukup@redhat.com",
        "partner": false, "insider": true}, "severity": "high", "tags": [], "description":
        "triage", "data_category": "Public", "qa_contact": "", "url": "", "assigned_to":
        "nobody@redhat.com", "creation_time": "2023-06-07T07:02:07Z", "cc": ["cfu@redhat.com",
        "csutherl@redhat.com", "dsirrine@redhat.com", "edewata@redhat.com", "jclere@redhat.com",
        "jmagne@redhat.com", "mharmsen@redhat.com", "mturk@redhat.com", "peholase@redhat.com",
        "szappis@redhat.com"], "creator": "osoukup@redhat.com", "sub_components":
        {}, "assigned_to_detail": {"insider": false, "name": "nobody@redhat.com",
        "partner": false, "real_name": "Nobody", "active": true, "email": "nobody@redhat.com",
        "id": 29451}, "priority": "high", "cf_internal_whiteboard": "", "cf_fixed_in":
        "", "cf_embargoed": null, "alias": [], "cc_detail": [{"insider": true, "partner":
        false, "name": "cfu@redhat.com", "email": "cfu@redhat.com", "active": true,
        "real_name": "Christina Fu", "id": 172340}, {"id": 323620, "active": true,
        "real_name": "Coty Sutherland", "email": "csutherl@redhat.com", "name": "csutherl@redhat.com",
        "partner": false, "insider": true}, {"partner": false, "name": "dsirrine@redhat.com",
        "insider": true, "id": 328816, "active": true, "email": "dsirrine@redhat.com",
        "real_name[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"offset": 0, "limit": "20", "bugs": [{"status": "NEW", "creator_detail":
        {"id": 412888, "email": "osoukup@redhat.com", "name": "osoukup@redhat.com",
        "insider": true, "real_name": "Ondrej Soukup", "active": true, "partner":
        false}, "version": ["unspecified"], "cf_devel_whiteboard": "", "severity":
        "high", "classification": "Other", "estimated_time": 0, "url": "", "is_confirmed":
        true, "priority": "high", "keywords": ["Security"], "cf_last_closed": null,
        "whiteboard": "", "is_open": true, "is_creator_accessible": true, "blocks":
        [2013606], "depends_on": [2017145, 2017146, 2017147, 2017148, 2017149], "creation_time":
        "2023-06-07T07:02:07Z", "is_cc_accessible": true, "qa_contact": "", "tags":
        [], "cf_pm_score": "0", "cf_release_notes": "", "description": "triage", "resolution":
        "", "creator": "osoukup@redhat.com", "cf_srtnotes": "{\"affects\": [{\"affectedness\":
        \"affected\", \"cvss2\": null, \"cvss3\": null, \"impact\": null, \"ps_component\":
        \"openssl\", \"ps_module\": \"rhcertification-6\", \"resolution\": \"fix\"}],
        \"impact\": \"important\", \"jira_trackers\": [], \"public\": \"2023-06-07T07:01:00Z\",
        \"reported\": \"2023-06-07\", \"source\": \"customer\"}", "actual_time": 0,
        "cf_internal_whiteboard": "", "deadline": null, "cf_major_incident": null,
        "target_milestone": "---", "platform": "All", "docs_contact": "", "assigned_to_detail":
        {"active": true, "partner": false, "insider": false, "real_name": "Nobody",
        "name": "nobody@redhat.com", "id": 29451, "email": "nobody@redhat.com"}, "op_sys":
        "Linux", "cf_embargoed": null, "cf_doc_type": "If docs needed, set a value",
        "flags": [{"name": "requires_doc_text", "setter": "osoukup@redhat.com", "creation_date":
        "2023-06-07T07:02:07Z", "id": 5222989, "is_active": 1, "type_id": 415, "status":
        "?", "modification_date": "2023-06-07T07:02:07Z"}], "product": "Security Response",
        "data_category": "Public", "assigned_to": "nobody@redhat.com", "cf_clone_of":
        null, "id": 2013494, "external_bugs": [], "cc_detail": [{"real_name": "Christina
        Fu", "insider": true, "active": true, "partner": false, "email": "cfu@redhat.com",
        "id": 172340, "name": "cfu@redhat.com"}, {"insider": true, "real_name": "Coty
        Sutherland", "partner": false, "active": true, "email": "csutherl@redhat.com",
        "id": 323620, "name": "csutherl@redhat.com"}, {"active": true, "partner":
        false, "insider": true, "real_name": "David Sirrine", "name": "dsirrine@redhat.com",
        "email": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug/2013494/comment
  response:
    body:
      string: '{"bugs": {"2013494": {"comments": [{"time": "2023-06-07T07:02:07Z",
        "creation_time": "2023-06-07T07:02:07Z", "bug_id": 2013494, "attachment_id":
        null, "creator": "osoukup@redhat.com", "text": "triage", "is_private": false,
        "count": 0, "tags": [], "creator_id": 412888, "id": 15574231}, {"creation_time":
        "2023-06-08T14:03:51Z", "bug_id": 2013494, "time": "2023-06-08T14:03:51Z",
        "id": 15575051, "creator_id": 412888, "count": 17, "is_private": false, "text":
        "test", "attachment_id": null, "creator": "osoukup@redhat.com", "tags": []}]}},
        "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1693840099.310e3a60
      x-rh-edge-request-id:
      - 310e3a60
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013606&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"data_category":
        "Security Restricted", "product": "Security Response", "id": 2013606, "assigned_to":
        "osoukup@redhat.com", "assigned_to_detail": {"id": 412888, "real_name": "Ondrej
        Soukup", "active": true, "email": "osoukup@redhat.com", "name": "osoukup@redhat.com",
        "partner": false, "insider": true}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1693840099.310e3ccd
      x-rh-edge-request-id:
      - 310e3ccd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2017145
  response:
    body:
      string: '{"offset": 0, "limit": "20", "total_matches": 1, "bugs": [{"alias":
        [], "remaining_time": 0, "component": ["redhat-certification"], "cf_qa_whiteboard":
        "", "cf_cust_facing": "---", "cf_qe_conditional_nak": [], "groups": ["devel"],
        "summary": "[Major Incident] openssl: sample title [rhcertification-6]", "cf_fixed_in":
        "", "cf_environment": "", "sub_components": {}, "target_release": ["---"],
        "dupe_of": null, "cf_build_id": "", "cc": [], "comments": [{"count": 0, "attachment_id":
        null, "bug_id": 2017145, "creation_time": "2023-09-04T14:57:17Z", "id": 15643634,
        "text": "rhcertification-6 tracking bug for openssl: see the bugs linked in
        the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
        bug is never intended to be made public, please put any public notes in the
        blocked bugs.", "is_private": false, "creator_id": 412888, "time": "2023-09-04T14:57:17Z",
        "tags": [], "creator": "osoukup@redhat.com"}], "cf_pgm_internal": "", "cf_conditional_nak":
        [], "external_bugs": [], "cf_clone_of": null, "id": 2017145, "last_change_time":
        "2023-09-04T14:57:17Z", "cc_detail": [], "qa_contact_detail": {"real_name":
        "rhcert qe", "insider": false, "partner": false, "active": false, "email":
        "rhcert-qe@redhat.com", "id": 408554, "name": "rhcert-qe@redhat.com"}, "cf_doc_type":
        "No Doc Update", "cf_embargoed": null, "op_sys": "Unspecified", "data_category":
        "Engineering", "assigned_to": "jweng@redhat.com", "flags": [{"setter": "bugzilla@redhat.com",
        "id": 5236830, "creation_date": "2023-09-04T14:57:17Z", "name": "requires_doc_text",
        "modification_date": "2023-09-04T14:57:17Z", "status": "-", "is_active": 1,
        "type_id": 415}], "product": "Red Hat Certification Program", "docs_contact":
        "", "platform": "Unspecified", "assigned_to_detail": {"partner": false, "active":
        true, "real_name": "Jianwei Weng", "insider": true, "name": "jweng@redhat.com",
        "id": 283338, "email": "jweng@redhat.com"}, "cf_major_incident": null, "deadline":
        null, "target_milestone": "---", "cf_partner": [], "actual_time": 0, "creator":
        "osoukup@redhat.com", "cf_internal_whiteboard": "", "cf_release_notes": "",
        "description": "rhcertification-6 tracking bug for openssl: see the bugs linked
        in the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
        bug is never intended to be made public, please put any public notes in the
        blocked bugs.", "resolution": "", "tags": [], "qa_contact": "rhcert-qe@redhat.com",
        "is_cc_accessible": true, "cf_pm_score": "0", "creation_time": "2023-09-04T14:57:17Z",
        "cf_target_upstream_version": "", "is_creator_accessible": true, "is_open":
        true, "cf_last_closed": null, "whiteboard": "", "keywords": ["Security", "SecurityTracking"],
        "blocks": [2013494], "depends_on": [], "classification": "Red Hat", "estimated_time":
        0, "severity": "high", "cf_devel_whiteboard": "", "url": "", "is_confirmed":
        true, "priority": "high", "status": "NEW", "cf_verified": [], "version": ["1.0"],
        "creator_detail": {"name": "osoukup@redhat.com", "email": "osoukup@redhat.com",
        "id": 412888, "partner": false, "active": true, "insider": true, "real_name":
        "Ondrej Soukup"}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1693840100.310e4045
      x-rh-edge-request-id:
      - 310e4045
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2017149
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"remaining_time":
        0, "docs_contact": "", "last_change_time": "2023-09-04T15:08:15Z", "deadline":
        null, "platform": "Unspecified", "is_cc_accessible": true, "cf_build_id":
        "", "cf_verified": [], "groups": ["devel"], "cf_environment": "", "cf_qa_whiteboard":
        "", "cf_pm_score": "0", "target_milestone": "---", "cf_partner": [], "estimated_time":
        0, "external_bugs": [], "cf_clone_of": null, "cf_major_incident": null, "whiteboard":
        "", "blocks": [2013494], "cf_pgm_internal": "", "resolution": "", "is_creator_accessible":
        true, "cf_devel_whiteboard": "", "summary": "CVE-2020-0000 openssl: CVE-2020-0000
        kernel: some description [rhcertification-6]", "depends_on": [], "target_release":
        ["---"], "cf_last_closed": null, "keywords": ["Security", "SecurityTracking"],
        "id": 2017149, "status": "NEW", "version": ["1.0"], "flags": [{"name": "requires_doc_text",
        "setter": "bugzilla@redhat.com", "modification_date": "2023-09-04T15:05:15Z",
        "is_active": 1, "id": 5236834, "creation_date": "2023-09-04T15:05:15Z", "status":
        "-", "type_id": 415}], "actual_time": 0, "assigned_to[...]
