interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh93"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039282.3762590
      x-rh-edge-request-id:
      - '3762590'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"email": "aander07@packetmaster.com", "id": 1, "name":
        "aander07@packetmaster.com", "real_name": "Need Real Name", "can_login": true}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039282.376265b
      x-rh-edge-request-id:
      - 376265b
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Red Hat Certification Program", "version": "1.0", "priority":
      "high", "severity": "high", "blocks": ["2013494"], "component": "redhat-certification",
      "description": "rhcertification-6 tracking bug for openssl: see the bugs linked
      in the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
      bug is never intended to be made public, please put any public notes in the
      blocked bugs.", "comment_is_private": false, "flags": [], "groups": ["devel"],
      "keywords": ["Security", "SecurityTracking"], "summary": "[Major Incident] openssl:
      sample title [rhcertification-6]"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/bug
  response:
    body:
      string: '{"id": 2018651}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039283.3762ae3
      x-rh-edge-request-id:
      - 3762ae3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"bugs": [{"alias": [], "cf_clone_of": null, "classification": "Other",
        "flags": [{"name": "requires_doc_text", "modification_date": "2023-06-07T07:02:07Z",
        "is_active": 1, "id": 5222989, "type_id": 415, "creation_date": "2023-06-07T07:02:07Z",
        "setter": "osoukup@redhat.com", "status": "?"}], "is_creator_accessible":
        true, "cf_environment": "", "deadline": null, "dupe_of": null, "is_confirmed":
        true, "status": "NEW", "cf_doc_type": "If docs needed, set a value", "platform":
        "All", "cf_cust_facing": "---", "description": "triage", "url": "", "creator":
        "osoukup@redhat.com", "actual_time": 0, "creator_detail": {"active": true,
        "insider": true, "email": "osoukup@redhat.com", "name": "osoukup@redhat.com",
        "id": 412888, "real_name": "Ondrej Soukup", "partner": false}, "cf_last_closed":
        null, "summary": "openssl: sample title", "cf_release_notes": "", "cf_internal_whiteboard":
        "", "assigned_to_detail": {"email": "nobody@redhat.com", "insider": false,
        "active": true, "real_name": "Nobody", "partner": false, "name": "nobody@redhat.com",
        "id": 29451}, "whiteboard": "", "cf_pm_score": "0", "groups": [], "qa_contact":
        "", "severity": "high", "is_open": true, "estimated_time": 0, "priority":
        "high", "id": 2013494, "op_sys": "Linux", "docs_contact": "", "cc_detail":
        [{"insider": true, "email": "cfu@redhat.com", "active": true, "partner": false,
        "real_name": "Christina Fu", "id": 172340, "name": "cfu@redhat.com"}, {"id":
        323620, "name": "csutherl@redhat.com", "partner": false, "real_name": "Coty
        Sutherland", "active": true, "insider": true, "email": "csutherl@redhat.com"},
        {"active": true, "email": "dsirrine@redhat.com", "insider": true, "id": 328816,
        "name": "dsirrine@redhat.com", "partner": false, "real_name[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013494
  response:
    body:
      string: '{"limit": "20", "bugs": [{"cf_conditional_nak": [], "severity": "high",
        "cf_srtnotes": "{\"affects\": [{\"affectedness\": \"affected\", \"cvss2\":
        null, \"cvss3\": null, \"impact\": null, \"ps_component\": \"openssl\", \"ps_module\":
        \"rhcertification-6\", \"resolution\": \"fix\"}], \"impact\": \"important\",
        \"jira_trackers\": [], \"public\": \"2023-06-07T07:01:00Z\", \"reported\":
        \"2023-06-07\", \"source\": \"customer\"}", "cf_qe_conditional_nak": [], "creator_detail":
        {"real_name": "Ondrej Soukup", "name": "osoukup@redhat.com", "partner": false,
        "id": 412888, "email": "osoukup@redhat.com", "insider": true, "active": true},
        "product": "Security Response", "external_bugs": [], "cf_pgm_internal": "",
        "cf_embargoed": null, "whiteboard": "", "cf_release_notes": "", "creator":
        "osoukup@redhat.com", "flags": [{"setter": "osoukup@redhat.com", "name": "requires_doc_text",
        "status": "?", "is_active": 1, "id": 5222989, "creation_date": "2023-06-07T07:02:07Z",
        "type_id": 415, "modification_date": "2023-06-07T07:02:07Z"}], "is_open":
        true, "platform": "All", "qa_contact": "", "dupe_of": null, "is_cc_accessible":
        true, "cf_clone_of": null, "docs_contact": "", "cf_environment": "", "cc":
        ["cfu@redhat.com", "csutherl@redhat.com", "dsirrine@redhat.com", "edewata@redhat.com",
        "jclere@redhat.com", "jmagne@redhat.com", "mharmsen@redhat.com", "mturk@redhat.com",
        "peholase@redhat.com", "szappis@redhat.com"], "keywords": ["Security"], "alias":
        [], "estimated_time": 0, "target_release": ["---"], "cf_fixed_in": "", "data_category":
        "Public", "url": "", "cf_devel_whiteboard": "", "classification": "Other",
        "cf_last_closed": null, "resolution": "", "comments": [{"time": "2023-06-07T07:02:07Z",
        "creation_time": "2023-06-07T07:02:07Z", "bug_id": 2013494, "creator": "osoukup@redhat.com",
        "tags": [], "attachment_id": null, "creator_id": 412888, "is_private": false,
        "id": 15574231, "private_groups": [], "text": "triage", "count": 0}, {"is_private":
        false, "id": 15575051, "private_groups": [], "text": "test", "count": 17,
        "creator_id": 412888, "attachment_id": null, "creator": "osoukup@redhat.com",
        "bug_id": 2013494, "creation_time": "2023-06-08T14:03:51Z", "tags": [], "time":
        "2023-06-08T14:03:51Z"}], "priority": "high", "target_milestone": "---", "actual_time":
        0, "status": "NEW", "version": ["unspecified"], "id": 2013494, "assigned_to":
        "nobody@redhat.com", "cf_cust_facing": "---", "remaining_time": 0, "cf_qa_whiteboard":
        "", "cf_pm_score": "0", "is_creator_accessible": true, "op_sys": "Linux",
        "tags": [], "cf_build_id": "", "summary": "openssl: sample title", "last_change_time":
        "2023-10-11T15:48:03Z", "blocks": [2013606], "cf_major_incident": null, "depends_on":
        [2018651], "description": "triage", "cc_detail": [{"partner": false, "insider":
        true, "active": true, "id": 172340, "email": "cfu@redhat.com", "name": "cfu@redhat.com",
        "real_name": "Christina Fu"}, {"real_name": "Coty Sutherland", "name": "csutherl@redhat.com",
        "email": "csutherl@redhat.com", "id": 323620, "insider": true, "active": true,
        "partner": false}, {"name": "dsirrine@redhat.com", "real_name": "David Sirrine",
        "active": true, "insider": t[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug/2013494/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2013494": {"comments": [{"id": 15574231,
        "text": "triage", "bug_id": 2013494, "is_private": false, "count": 0, "creator":
        "osoukup@redhat.com", "attachment_id": null, "private_groups": [], "time":
        "2023-06-07T07:02:07Z", "creation_time": "2023-06-07T07:02:07Z", "creator_id":
        412888, "tags": []}, {"creation_time": "2023-06-08T14:03:51Z", "tags": [],
        "creator_id": 412888, "text": "test", "id": 15575051, "is_private": false,
        "bug_id": 2013494, "count": 17, "private_groups": [], "attachment_id": null,
        "time": "2023-06-08T14:03:51Z", "creator": "osoukup@redhat.com"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039286.376447f
      x-rh-edge-request-id:
      - 376447f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2013606&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"offset": 0, "limit": "20", "total_matches": 1, "bugs": [{"id": 2013606,
        "product": "Security Response", "assigned_to": "osoukup@redhat.com", "assigned_to_detail":
        {"real_name": "Ondrej Soukup", "name": "osoukup@redhat.com", "partner": false,
        "email": "osoukup@redhat.com", "id": 412888, "active": true, "insider": true},
        "data_category": "Security Restricted"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1697039287.37646e8
      x-rh-edge-request-id:
      - 37646e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2018651
  response:
    body:
      string: '{"limit": "20", "bugs": [{"creation_time": "2023-10-11T15:48:03Z",
        "cf_partner": [], "target_milestone": "---", "cf_fixed_in": "", "cf_devel_whiteboard":
        "", "cf_embargoed": null, "external_bugs": [], "product": "Red Hat Certification
        Program", "component": ["redhat-certification"], "sub_components": {}, "is_cc_accessible":
        true, "comments": [{"attachment_id": null, "private_groups": [], "time": "2023-10-11T15:48:03Z",
        "creator": "osoukup@redhat.com", "count": 0, "is_private": false, "bug_id":
        2018651, "text": "rhcertification-6 tracking bug for openssl: see the bugs
        linked in the \"Blocks\" field of this bug for full details of the security
        issue(s).\n\nThis bug is never intended to be made public, please put any
        public notes in the blocked b[...]
