interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh84"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1678781546.1b737fba
      x-rh-edge-request-id:
      - 1b737fba
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "email": "aander07@packetmaster.com",
        "real_name": "Need Real Name", "id": 1, "can_login": true}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1678781546.1b737ff2
      x-rh-edge-request-id:
      - 1b737ff2
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Bar", "cf_release_notes":
      "foo", "status": "RELEASE_PENDING", "severity": "high", "priority": "high",
      "keywords": {"add": ["Security"]}, "flags": [], "groups": {"add": [], "remove":
      []}, "cc": {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\":
      \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\": \"notaffected\",
      \"resolution\": null, \"impact\": \"critical\", \"cvss2\": null, \"cvss3\":
      null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
      \"impact\": \"important\", \"source\": \"upstream\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
      \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2022-0313\"}", "ids":
      ["2009119"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2009119
  response:
    body:
      string: '{"bugs": [{"last_change_time": "2023-03-14T08:12:27Z", "changes": {"cf_srtnotes":
        {"removed": "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\":
        \"kernel\", \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\":
        \"important\", \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"moderate\", \"source\":
        \"internet\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2022-0313\"}", "added":
        "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\",
        \"affectedness\": \"notaffected\", \"resolution\": null, \"impact\": \"critical\",
        \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"important\", \"source\":
        \"upstream\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2022-0313\"}"}, "status":
        {"removed": "ASSIGNED", "added": "RELEASE_PENDING"}, "summary": {"removed":
        "Foo", "added": "Bar"}, "severity": {"added": "high", "removed": "medium"},
        "priority": {"added": "high", "removed": "medium"}}, "id": 2009119, "alias":
        ["CVE-2022-0313", "CVE-2022-0314"]}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1678781547.1b738067
      x-rh-edge-request-id:
      - 1b738067
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009119
  response:
    body:
      string: '{"total_matches": 1, "offset": 0, "bugs": [{"dupe_of": null, "actual_time":
        0, "cc": ["nobody@redhat.com"], "id": 2009119, "groups": [], "cf_conditional_nak":
        [], "summary": "Bar", "target_release": ["---"], "platform": "All", "creation_time":
        "2023-03-13T12:54:13Z", "whiteboard": "", "tags": [], "keywords": ["Security"],
        "description": "+++ This bug was initially created as a clone of Bug #2008346
        +++\n\ntest", "cf_qe_conditional_nak": [], "cf_release_notes": "foo", "sub_components":
        {}, "is_creator_accessible": true, "classification": "Other", "depends_on":
        [2008346], "url": "", "cc_detail": [{"real_name": "Nobody", "active": true,
        "partner": false, "name": "nobody@redhat.com", "email": "nobody@redhat.com",
        "insider": false, "id": 29451}], "cf_environment": "", "product": "Security
        Response", "status": "RELEASE_PENDING", "component": ["vulnerability"], "cf_pgm_internal":
        "", "version": ["unspecified"], "assigned_to": "nobody@redhat.com", "cf_qa_whiteboard":
        "", "is_confirmed": true, "docs_contact": "", "creator": "osoukup@redhat.com",
        "last_change_time": "2023-03-14T08:12:27Z", "cf_fixed_in": "", "flags": [{"modification_date":
        "2023-03-14T08:10:24Z", "is_active": 1, "creation_date": "2023-03-14T08:10:24Z",
        "id": 5206828, "setter": "bugzilla@redhat.com", "name": "requires_doc_text",
        "status": "+", "type_id": 415}], "cf_doc_type": "If docs needed, set a value",
        "external_bugs": [], "op_sys": "Linux", "blocks": [], "alias": ["CVE-2022-0313",
        "CVE-2022-0314"], "cf_devel_whiteboard": "", "cf_last_closed": null, "cf_cust_facing":
        "---", "qa_contact": "", "resolution": "", "remaining_time": 0, "cf_clone_of":
        2008346, "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\":
        \"kernel\", \"affectedness\": \"notaffected\", \"resolution\": null, \"impact\":
        \"critical\", \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"important\", \"source\":
        \"upstream\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2022-0313\"}", "assigned_to_detail":
        {"id": 29451, "insider": false, "name": "nobody@redhat.com", "email": "nobody@redhat.com",
        "partner": false, "active": true, "real_name": "Nobody"}, "deadline": null,
        "is_cc_accessible": true, "is_open": true, "creator_detail": {"id": 412888,
        "insider": true, "real_name": "Ondrej Soukup", "active": true, "name": "osoukup@redhat.com",
        "email": "osoukup@redhat.com", "partner": false}, "cf_build_id": "", "target_milestone":
        "---", "estimated_time": 0, "cf_internal_whiteboard": "", "comments": [{"text":
        "+++ This bug was initially created as a clone of Bug #2008346 +++\n\ntest",
        "tags": [], "is_private": false, "time": "2023-03-13T12:54:13Z", "attachment_id":
        null, "creation_time": "2023-03-13T12:54:13Z", "count": 0, "id": 15537655,
        "bug_id": 2009119, "creator_id": 412888, "creator": "osoukup@redhat.com"}],
        "severity": "high", "priority": "high", "cf_pm_score": "0"}], "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1678781548.1b738393
      x-rh-edge-request-id:
      - 1b738393
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2009119/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2009119": {"comments": [{"time": "2023-03-13T12:54:13Z",
        "is_private": false, "tags": [], "text": "+++ This bug was initially created
        as a clone of Bug #2008346 +++\n\ntest", "creation_time": "2023-03-13T12:54:13Z",
        "attachment_id": null, "count": 0, "creator": "osoukup@redhat.com", "creator_id":
        412888, "bug_id": 2009119, "id": 15537655}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1678781550.1b73865f
      x-rh-edge-request-id:
      - 1b73865f
    status:
      code: 200
      message: OK
[...]
