interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh84"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1680281171.4518aa8c
      x-rh-edge-request-id:
      - 4518aa8c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"real_name": "Need Real Name", "email": "aander07@packetmaster.com",
        "can_login": true, "name": "aander07@packetmaster.com", "id": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1680281171.4518ab89
      x-rh-edge-request-id:
      - 4518ab89
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009119&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"bugs": [{"last_change_time": "2023-03-31T16:41:41Z", "id": 2009119}],
        "total_matches": 1, "offset": 0, "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1680281172.4518b05f
      x-rh-edge-request-id:
      - 4518b05f
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "cf_release_notes": "foo",
      "severity": "medium", "priority": "medium", "summary": "CVE-2022-0313 CVE-2022-0314
      Affect so analysis test. Use blue send.: Bar", "keywords": {"add": ["Security"]},
      "flags": [], "groups": {"add": [], "remove": []}, "cc": {"add": [], "remove":
      []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\":
      \"kernel\", \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\":
      \"critical\", \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
      \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"moderate\", \"source\":
      \"internet\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
      \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2022-0313\"}", "ids":
      ["2009119"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2009119
  response:
    body:
      string: '{"bugs": [{"alias": ["CVE-2022-0313", "CVE-2022-0314"], "changes":
        {"priority": {"added": "medium", "removed": "high"}, "severity": {"removed":
        "high", "added": "medium"}, "summary": {"added": "CVE-2022-0313 CVE-2022-0314
        Affect so analysis test. Use blue send.: Bar", "removed": "CVE-2022-0313 CVE-2022-0314
        Air fish home time age hotel director.: Bar"}, "cf_srtnotes": {"removed":
        "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\",
        \"affectedness\": \"new\", \"resolution\": null, \"impact\": \"critical\",
        \"cvss2\": null, \"cvss3\": nu[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009119
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"cf_environment":
        "", "cf_fixed_in": "", "version": ["unspecified"], "classification": "Other",
        "docs_contact": "", "is_creator_accessible": true, "sub_components": {}, "severity":
        "medium", "groups": [], "cf_pm_score": "0", "tags": [], "target_release":
        ["---"], "external_bugs": [], "cf_doc_type": "If docs needed, set a value",
        "summary": "CVE-2022-0313 CVE-2022-0314 Affect so analysis test. Use blue
        send.: Bar", "cc_detail": [{"real_name": "Nobody", "email": "nobody@redhat.com",
        "insider": false, "name": "nobody@redhat.com", "partner": false, "active":
        true, "id": 29451}], "cc": ["nobody@redhat.com"], "cf_srtnotes": "{\"affects\":
        [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\":
        \"affected\", \"resolution\": \"fix\", \"impact\": \"critical\", \"cvss2\":
        null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\":
        \"2022-11-22T15:55:22Z\", \"impact\": \"moderate\", \"source\": \"internet\",
        \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"cwe\":
        \"CWE-1\", \"statement\": \"Statement for CVE-2022-0313\"}", "blocks": [],
        "cf_clone_of": 2008346, "cf_release_notes": "foo", "creator_detail": {"email":
        "osoukup@redhat.com", "real_name": "Ondrej Soukup", "insider": true, "name":
        "osoukup@redhat.com", "partner": false, "active": true, "id": 412888}, "qa_contact":
        "", "comments": [{"tags": [], "is_private": false, "count": 0, "time": "2023-03-13T12:54:13Z",
        "bug_id": 2009119, "id": 15537655, "text": "+++ This bug was initially created
        as a clone of Bug #2008346 +++\n\ntest", "creation_time": "2023-03-13T12:54:13Z",
        "creator": "osoukup@redhat.com", "attachment_id": null, "creator_id": 412888}],
        "actual_time": 0, "cf_build_id": "", "is_open": true, "creation_time": "2023-03-13T12:54:13Z",
        "creator": "osoukup@redhat.com", "depends_on": [2008346], "resolution": "",
        "assigned_to_detail": {"active": true, "id": 29451, "real_name": "Nobody",
        "email": "nobody@redhat.com", "insider": false, "name": "nobody@redhat.com",
        "partner": false}, "estimated_time": 0, "remaining_time": 0, "platform": "All",
        "cf_internal_whiteboard": "", "description": "+++ This bug was initially created
        as a clone of Bug #2008346 +++\n\ntest", "id": 2009119, "cf_qe_conditional_nak":
        [], "cf_pgm_internal": "", "product": "Security Response", "assigned_to":
        "nobody@redhat.com", "deadline": null, "alias": ["CVE-2022-0313", "CVE-2022-0314"],
        "url": "", "status": "NEW", "cf_cust_facing": "---", "cf_conditional_nak":
        [], "is_cc_accessible": true, "priority": "medium", "cf_qa_whiteboard": "",
        "component": ["vulnerability"], "whiteboard": "", "keywords": ["Security"],
        "last_change_time": "2023-03-31T16:46:13Z", "is_confirmed": true, "cf_devel_whiteboard":
        "", "target_milestone": "---", "cf_last_closed": null, "dupe_of": null, "op_sys":
        "Linux", "flags": [{"is_active": 1, "id": 5206828, "setter": "bugzilla@redhat.com",
        "type_id": 415, "modification_date": "2023-03-14T08:10:24Z", "creation_date":
        "2023-03-14T08:10:24Z", "status": "+", "name": "requires_doc_text"}]}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1680281175.4518d848
      x-rh-edge-request-id:
      - 4518d848
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2009119/comment
  response:
    body:
      string: '{"bugs": {"2009119": {"comments": [{"count": 0, "tags": [], "is_private":
        false, "time": "2023-03-13T12:54:13Z", "bug_id": 2009119, "id": 15537655,
        "text": "+++ This bug was initially created as a clone of Bug #2008346 +++\n\ntest",
        "attachment_id": null, "creation_time": "2023-03-13T12:54:13Z", "creator":
        "osoukup@redhat.com", "creator_id": 412888}]}}, "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1680281176.4518f2a2
      x-rh-edge-request-id:
      - 4518f2a2
    status:
      code: 200
      message: OK
[...]
