interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh84"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4e102017.1678893286.4299ab3b
      x-rh-edge-request-id:
      - 4299ab3b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"can_login": true, "id": 1, "real_name": "Need Real Name",
        "name": "aander07@packetmaster.com", "email": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4e102017.1678893288.4299d12b
      x-rh-edge-request-id:
      - 4299d12b
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Foo", "cf_release_notes":
      "", "status": "NEW", "severity": "low", "priority": "low", "description": "test",
      "comment_is_private": false, "alias": ["CVE-2021-0777"], "keywords": ["Security"],
      "flags": [], "groups": [], "cc": [], "cf_srtnotes": "{\"public\": \"2000-01-01T22:03:26Z\",
      \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"low\", \"source\": \"internet\",
      \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"mitigation\":
      \"mitigation\"}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://bugzilla.redhat.com/rest/bug
  response:
    body:
      string: '{"id": 2009355}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4e102017.1678893289.4299ebd6
      x-rh-edge-request-id:
      - 4299ebd6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009355
  response:
    body:
      string: '{"offset": 0, "total_matches": 1, "bugs": [{"cf_doc_type": "If docs
        needed, set a value", "cf_fixed_in": "", "last_change_time": "2023-03-15T15:14:49Z",
        "creator": "jobselko@redhat.com", "flags": [], "blocks": [], "alias": ["CVE-2021-0777"],
        "external_bugs": [], "op_sys": "Linux", "cf_last_closed": null, "cf_devel_whiteboard":
        "", "remaining_time": 0, "cf_cust_facing": "---", "resolution": "", "qa_contact":
        "", "assigned_to_detail": {"insider": false, "id": 29451, "partner": false,
        "email": "nobody@redhat.com", "name": "nobody@redhat.com", "active": true,
        "real_name": "Nobody"}, "cf_srtnotes": "{\"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"low\", \"source\": \"internet\",
        \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"mitigation\":
        \"mitigation\"}", "cf_clone_of": null, "is_cc_accessible": true, "deadline":
        null, "creator_detail": {"partner": false, "name": "jobselko@redhat.com",
        "email": "jobselko@redhat.com", "real_name": "Jitka Obselkova", "active":
        true, "insider": true, "id": 425662}, "cf_build_id": "", "target_milestone":
        "---", "is_open": true, "priority": "low", "severity": "low", "cf_pm_score":
        "0", "estimated_time": 0, "comments": [{"text": "test", "time": "2023-03-15T15:14:49Z",
        "is_private": false, "tags": [], "attachment_id": null, "creation_time": "2023-03-15T15:14:49Z",
        "count": 0, "bug_id": 2009355, "id": 15538833, "creator_id": 425662, "creator":
        "jobselko@redhat.com"}], "cf_internal_whiteboard": "", "cc": [], "id": 2009355,
        "dupe_of": null, "actual_time": 0, "cf_conditional_nak": [], "groups": [],
        "summary": "Foo", "target_release": ["---"], "platform": "All", "creation_time":
        "2023-03-15T15:14:49Z", "whiteboard": "", "tags": [], "cf_qe_conditional_nak":
        [], "cf_release_notes": "", "description": "test", "keywords": ["Security"],
        "url": "", "cc_detail": [], "sub_components": {}, "classification": "Other",
        "depends_on": [], "is_creator_accessible": true, "product": "Security Response",
        "cf_environment": "", "assigned_to": "nobody@redhat.com", "cf_qa_whiteboard":
        "", "docs_contact": "", "is_confirmed": true, "version": ["unspecified"],
        "cf_pgm_internal": "", "status": "NEW", "component": ["vulnerability"]}],
        "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.45102017.1678893291.2bab27ad
      x-rh-edge-request-id:
      - 2bab27ad
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2009355/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2009355": {"comments": [{"count": 0, "id":
        15538833, "bug_id": 2009355, "creator_id": 425662, "creator": "jobselko@redhat.com",
        "text": "test", "is_private": false, "tags": [], "time": "2023-03-15T15:14:49Z",
        "attachment_id": null, "creation_time": "2023-03-15T15:14:49Z"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.45102017.1678893293.2bab4890
      x-rh-edge-request-id:
      - 2bab4890
    status:
      code: 200
      message: OK
version: 1
