interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh83"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1677856578.9090092
      x-rh-edge-request-id:
      - '9090092'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"can_login": true, "id": 1, "email": "aander07@packetmaster.com",
        "real_name": "Need Real Name", "name": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1677856578.909022b
      x-rh-edge-request-id:
      - 909022b
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Foo", "cf_release_notes":
      "foo", "status": "POST", "severity": "urgent", "priority": "urgent", "keywords":
      {"add": ["Security"]}, "flags": [], "groups": {"add": [], "remove": []}, "cc":
      {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\",
      \"ps_component\": \"kernel\", \"affectedness\": \"new\", \"resolution\": null,
      \"impact\": \"moderate\", \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
      \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"critical\", \"cvss3\":
      \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"statement\": \"Statement
      for CVE-2021-0773\"}", "ids": ["2008346"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2008346
  response:
    body:
      string: '{"bugs": [{"id": 2008346, "alias": ["CVE-2021-0773"], "changes": {"priority":
        {"added": "urgent", "removed": "unspecified"}, "status": {"removed": "VERIFIED",
        "added": "POST"}, "severity": {"added": "urgent", "removed": "unspecified"},
        "cf_srtnotes": {"added": "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\":
        \"kernel\", \"affectedness\": \"new\", \"resolution\": null, \"impact\": \"moderate\",
        \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"critical\", \"cvss3\":
        \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"statement\": \"Statement
        for CVE-2021-0773\"}", "removed": "{\"affects\": [{\"ps_module\": \"rhel-8\",
        \"ps_component\": \"kernel\", \"affectedness\": \"new\", \"resolution\": null,
        \"impact\": null, \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2021-0773\"}"}}, "last_change_time":
        "2023-03-03T15:16:20Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1677856580.90905be
      x-rh-edge-request-id:
      - 90905be
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346
  response:
    body:
      string: '{"offset": 0, "limit": "20", "bugs": [{"is_confirmed": true, "assigned_to_detail":
        {"id": 29451, "name": "nobody@redhat.com", "active": true, "email": "nobody@redhat.com",
        "partner": false, "real_name": "Nobody", "insider": false}, "description":
        "test", "remaining_time": 0, "platform": "All", "tags": [], "estimated_time":
        0, "cf_pgm_internal": "", "cf_fixed_in": "", "last_change_time": "2023-03-03T15:16:20Z",
        "cf_clone_of": null, "cf_pm_score": "0", "assigned_to": "nobody@redhat.com",
        "blocks": [], "version": ["unspecified"], "url": "", "deadline": null, "is_open":
        true, "cc": [], "cf_qa_whiteboard": "", "depends_on": [], "external_bugs":
        [], "docs_contact": "", "cf_doc_type": "If docs needed, set a value", "cf_qe_conditional_nak":
        [], "cc_detail": [], "cf_devel_whiteboard": "", "id": 2008346, "component":
        ["vulnerability"], "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\",
        \"ps_component\": \"kernel\", \"affectedness\": \"new\", \"resolution\": null,
        \"impact\": \"moderate\", \"cvss2\": null, \"cvss3\": null}], \"public\":
        \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\", \"impact\":
        \"critical\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"statement\": \"Statement for CVE-2021-0773\"}", "cf_environment": "", "creator_detail":
        {"partner": false, "real_name": "Ondrej Soukup", "insider": true, "id": 412888,
        "name": "osoukup@redhat.com", "active": true, "email": "osoukup@redhat.com"},
        "target_milestone": "---", "is_creator_accessible": true, "groups": [], "whiteboard":
        "", "status": "POST", "cf_build_id": "", "op_sys": "Linux", "keywords": ["Security"],
        "cf_last_closed": null, "sub_components": {}, "target_release": ["---"], "priority":
        "urgent", "classification": "Other", "dupe_of": null, "resolution": "", "severity":
        "urgent", "flags": [{"is_active": 1, "modification_date": "2023-03-01T11:07:08Z",
        "status": "+", "name": "requires_doc_text", "creation_date": "2023-03-01T11:07:08Z",
        "setter": "bugzilla@redhat.com", "id": 5204549, "type_id": 415}], "cf_conditional_nak":
        [], "cf_release_notes": "foo", "summary": "Foo", "comments": [{"creation_time":
        "2023-02-23T18:21:48Z", "id": 15532000, "creator": "osoukup@redhat.com", "text":
        "test", "bug_id": 2008346, "creator_id": 412888, "attachment_id": null, "time":
        "2023-02-23T18:21:48Z", "tags": [], "is_private": false, "count": 0}], "qa_contact":
        "", "is_cc_accessible": true, "actual_time": 0, "creation_time": "2023-02-23T18:21:48Z",
        "alias": ["CVE-2021-0773"], "creator": "osoukup@redhat.com", "product": "Security
        Response", "cf_cust_facing": "---", "cf_internal_whiteboard": ""}], "total_matches":
        1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1677856582.90919d2
      x-rh-edge-request-id:
      - 90919d2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2008346/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2008346": {"comments": [{"time": "2023-02-23T18:21:48Z",
        "id": 15532000, "creator": "osoukup@redhat.com", "is_private": false, "count":
        0, "creation_time": "2023-02-23T18:21:48Z", "bug_id": 2008346, "creator_id":
        412888, "tags": [], "text": "test", "attachment_id": null}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.88477b5c.1677856584.9092a41
      x-rh-edge-request-id:
      - 9092a41
    status:
      code: 200
      message: OK
version: 1
