interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh83"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.c9292117.1677685383.19f7e673
      x-rh-edge-request-id:
      - 19f7e673
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"real_name": "Need Real Name", "email": "aander07@packetmaster.com",
        "can_login": true, "name": "aander07@packetmaster.com", "id": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.c9292117.1677685383.19f7e724
      x-rh-edge-request-id:
      - 19f7e724
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Foo", "cf_release_notes":
      "foo", "status": "POST", "severity": "urgent", "priority": "urgent", "keywords":
      {"add": ["Security"]}, "flags": [], "groups": {"add": [], "remove": []}, "cc":
      {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\",
      \"ps_component\": \"kernel\", \"affectedness\": \"affected\", \"resolution\":
      \"wontfix\", \"impact\": \"low\", \"cvss2\": null, \"cvss3\": null}], \"public\":
      \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\", \"impact\":
      \"critical\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
      \"statement\": \"Statement for CVE-2021-0773\"}", "ids": ["2008346"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2008346
  response:
    body:
      string: '{"bugs": [{"id": 2008346, "last_change_time": "2023-03-01T15:43:04Z",
        "changes": {"severity": {"removed": "medium", "added": "urgent"}, "priority":
        {"removed": "medium", "added": "urgent"}, "cf_srtnotes": {"added": "{\"affects\":
        [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\":
        \"affected\", \"resolution\": \"wontfix\", \"impact\": \"low\", \"cvss2\":
        null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\":
        \"2022-11-22T15:55:22Z\", \"impact\": \"critical\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"statement\": \"Statement for CVE-2021-0773\"}", "removed": "{\"affects\":
        [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\":
        \"affected\", \"resolution\": \"wontfix\", \"impact\": \"critical\", \"cvss2\":
        null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\":
        \"2022-11-22T15:55:22Z\", \"impact\": \"moderate\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2021-0773\"}"}}, "alias":
        ["CVE-2021-0773"]}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.c9292117.1677685384.19f7e98d
      x-rh-edge-request-id:
      - 19f7e98d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346
  response:
    body:
      string: '{"bugs": [{"dupe_of": null, "id": 2008346, "assigned_to": "nobody@redhat.com",
        "qa_contact": "", "depends_on": [], "url": "", "target_milestone": "---",
        "external_bugs": [], "docs_contact": "", "op_sys": "Linux", "target_release":
        ["---"], "is_confirmed": true, "whiteboard": "", "cf_internal_whiteboard":
        "", "creator": "osoukup@redhat.com", "remaining_time": 0, "groups": [], "alias":
        ["CVE-2021-0773"], "is_creator_accessible": true, "priority": "urgent", "creation_time":
        "2023-02-23T18:21:48Z", "flags": [{"is_active": 1, "setter": "bugzilla@redhat.com",
        "name": "requires_doc_text", "type_id": 415, "status": "+", "modification_date":
        "2023-03-01T11:07:08Z", "id": 5204549, "creation_date": "2023-03-01T11:07:08Z"}],
        "cf_release_notes": "foo", "assigned_to_detail": {"real_name": "Nobody", "email":
        "nobody@redhat.com", "active": true, "partner": false, "name": "nobody@redhat.com",
        "id": 29451, "insider": false}, "keywords": ["Security"], "resolution": "",
        "deadline": null, "summary": "Foo", "cf_pm_score": "0", "blocks": [], "cf_cust_facing":
        "---", "component": ["vulnerability"], "cf_clone_of": null, "cf_devel_whiteboard":
        "", "version": ["unspecified"], "estimated_time": 0, "cf_conditional_nak":
        [], "product": "Security Response", "classification": "Other", "status": "POST",
        "sub_components": {}, "creator_detail": {"active": true, "real_name": "Ondrej
        Soukup", "email": "osoukup@redhat.com", "name": "osoukup@redhat.com", "partner":
        false, "insider": true, "id": 412888}, "tags": [], "cf_srtnotes": "{\"affects\":
        [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\":
        \"affected\", \"resolution\": \"wontfix\", \"impact\": \"low\", \"cvss2\":
        null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\":
        \"2022-11-22T15:55:22Z\", \"impact\": \"critical\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"statement\": \"Statement for CVE-2021-0773\"}", "cf_qa_whiteboard": "",
        "cf_build_id": "", "description": "test", "platform": "All", "actual_time":
        0, "cf_qe_conditional_nak": [], "cf_doc_type": "If docs needed, set a value",
        "comments": [{"creator": "osoukup@redhat.com", "is_private": false, "tags":
        [], "creator_id": 412888, "creation_time": "2023-02-23T18:21:48Z", "attachment_id":
        null, "time": "2023-02-23T18:21:48Z", "text": "test", "id": 15532000, "count":
        0, "bug_id": 2008346}], "cf_fixed_in": "", "cf_environment": "", "cf_pgm_internal":
        "", "is_cc_accessible": true, "cc": [], "cc_detail": [], "cf_last_closed":
        null, "last_change_time": "2023-03-01T15:43:04Z", "severity": "urgent", "is_open":
        true}], "total_matches": 1, "offset": 0, "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.d4292117.1677685387.2ac3aa1
      x-rh-edge-request-id:
      - 2ac3aa1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2008346/comment
  response:
    body:
      string: '{"bugs": {"2008346": {"comments": [{"attachment_id": null, "creator_id":
        412888, "creation_time": "2023-02-23T18:21:48Z", "text": "test", "time": "2023-02-23T18:21:48Z",
        "bug_id": 2008346, "count": 0, "id": 15532000, "creator": "osoukup@redhat.com",
        "is_private": false, "tags": []}]}}, "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.d4292117.1677685388.2ac4a7a
      x-rh-edge-request-id:
      - 2ac4a7a
    status:
      code: 200
      message: OK
version: 1
