interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh83"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1677176506.a4bf677
      x-rh-edge-request-id:
      - a4bf677
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "id": 1, "can_login":
        true, "real_name": "Need Real Name", "email": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1677176507.a4bf8fa
      x-rh-edge-request-id:
      - a4bf8fa
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Foo", "cf_release_notes":
      "", "status": "NEW", "severity": "unspecified", "priority": "unspecified", "description":
      "test", "comment_is_private": false, "alias": ["CVE-2021-0773"], "keywords":
      ["Security"], "flags": [], "groups": [], "cc": [], "cf_srtnotes": "{\"public\":
      \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\", \"cvss3\":
      \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\"}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://bugzilla.redhat.com/rest/bug
  response:
    body:
      string: '{"id": 2008346}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1677176509.a4c0051
      x-rh-edge-request-id:
      - a4c0051
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346
  response:
    body:
      string: '{"total_matches": 1, "bugs": [{"external_bugs": [], "version": ["unspecified"],
        "cf_pgm_internal": "", "cf_conditional_nak": [], "target_milestone": "---",
        "cf_doc_type": "If docs needed, set a value", "product": "Security Response",
        "creator": "osoukup@redhat.com", "depends_on": [], "cf_internal_whiteboard":
        "", "cf_fixed_in": "", "cf_build_id": "", "is_open": true, "description":
        "test", "is_creator_accessible": true, "actual_time": 0, "is_confirmed": true,
        "cf_environment": "", "cf_qe_conditional_nak": [], "last_change_time": "2023-02-23T18:21:48Z",
        "groups": [], "creation_time": "2023-02-23T18:21:48Z", "cf_release_notes":
        "", "cf_clone_of": null, "tags": [], "flags": [], "dupe_of": null, "alias":
        ["CVE-2021-0773"], "assigned_to_detail": {"id": 29451, "name": "nobody@redhat.com",
        "active": true, "insider": false, "partner": false, "email": "nobody@redhat.com",
        "real_name": "Nobody"}, "cf_last_closed": null, "is_cc_accessible": true,
        "cc": [], "classification": "Other", "estimated_time": 0, "url": "", "op_sys":
        "Linux", "target_release": ["---"], "docs_contact": "", "summary": "Foo",
        "component": ["vulnerability"], "remaining_time": 0, "cc_detail": [], "severity":
        "unspecified", "blocks": [], "cf_pm_score": "0", "resolution": "", "sub_components":
        {}, "creator_detail": {"id": 412888, "name": "osoukup@redhat.com", "active":
        true, "insider": true, "partner": false, "email": "osoukup@redhat.com", "real_name":
        "Ondrej Soukup"}, "priority": "unspecified", "comments": [{"tags": [], "creator":
        "osoukup@redhat.com", "time": "2023-02-23T18:21:48Z", "creator_id": 412888,
        "id": 15532000, "creation_time": "2023-02-23T18:21:48Z", "text": "test", "bug_id":
        2008346, "is_private": false, "count": 0, "attachment_id": null}], "qa_contact":
        "", "cf_qa_whiteboard": "", "cf_devel_whiteboard": "", "keywords": ["Security"],
        "status": "NEW", "whiteboard": "", "platform": "All", "id": 2008346, "deadline":
        null, "assigned_to": "nobody@redhat.com", "cf_cust_facing": "---", "cf_srtnotes":
        "{\"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
        \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\"}"}], "limit":
        "20", "offset": 0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1677176511.a4c220d
      x-rh-edge-request-id:
      - a4c220d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2008346/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2008346": {"comments": [{"tags": [], "creator_id":
        412888, "time": "2023-02-23T18:21:48Z", "creator": "osoukup@redhat.com", "text":
        "test", "creation_time": "2023-02-23T18:21:48Z", "id": 15532000, "bug_id":
        2008346, "count": 0, "is_private": false, "attachment_id": null}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1677176513.a4c38b2
      x-rh-edge-request-id:
      - a4c38b2
    status:
      code: 200
      message: OK
version: 1
