interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh84"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4e102017.1678893286.4299ab3b
      x-rh-edge-request-id:
      - 4299ab3b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"can_login": true, "id": 1, "real_name": "Need Real Name",
        "name": "aander07@packetmaster.com", "email": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4e102017.1678893288.4299d12b
      x-rh-edge-request-id:
      - 4299d12b
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "cf_release_notes": "",
      "status": "NEW", "severity": "low", "priority": "low", "summary": " curl: Foo",
      "description": "test", "comment_is_private": false, "alias": ["CVE-2021-0773"],
      "keywords": ["Security"], "flags": [], "groups": [], "cc": [], "cf_srtnotes":
      "{\"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
      \"impact\": \"low\", \"source\": \"internet\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
      \"mitigation\": \"mitigation\"}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://bugzilla.redhat.com/rest/bug
  response:
    body:
      string: '{"id": 2009341}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4e102017.1678893289.4299ebd6
      x-rh-edge-request-id:
      - 4299ebd6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009341
  response:
    body:
      string: '{"limit": "20", "total_matches": 1, "offset": 0, "bugs": [{"id": 2009341,
        "cc": [], "actual_time": 0, "dupe_of": null, "target_release": ["---"], "platform":
        "All", "summary": "curl: Foo", "cf_conditional_nak": [], "groups": [], "whiteboard":
        "", "creation_time": "2023-03-15T09:54:52Z", "tags": [], "cf_release_notes":
        "", "cf_qe_conditional_nak": [], "keywords": ["Security"], "description":
        "test", "cc_detail": [], "url": "", "depends_on": [], "classification": "Other",
        "is_creator_accessible": true, "sub_components": {}, "product": "Security
        Response", "cf_environment": "", "docs_contact": "", "is_confirmed": true,
        "assigned_to": "nobody@redhat.com", "cf_qa_whiteboard": "", "status": "NEW",
        "component": ["vulnerability"], "version": ["unspecified"], "cf_pgm_internal":
        "", "cf_doc_type": "If docs needed, set a value", "flags": [], "creator":
        "osoukup@redhat.com", "last_change_time": "2023-03-15T09:54:52Z", "cf_fixed_in":
        "", "alias": ["CVE-2021-0773"], "blocks": [], "op_sys": "Linux", "external_bugs":
        [], "cf_last_closed": null, "cf_devel_whiteboard": "", "remaining_time": 0,
        "resolution": "", "qa_contact": "", "cf_cust_facing": "---", "cf_srtnotes":
        "{\"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
        \"impact\": \"low\", \"source\": \"internet\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"mitigation\": \"mitigation\"}",
        "assigned_to_detail": {"active": true, "real_name": "Nobody", "partner": false,
        "name": "nobody@redhat.com", "email": "nobody@redhat.com", "insider": false,
        "id": 29451}, "cf_clone_of": null, "is_cc_accessible": true, "deadline": null,
        "target_milestone": "---", "cf_build_id": "", "creator_detail": {"partner":
        false, "name": "osoukup@redhat.com", "email": "osoukup@redhat.com", "real_name":
        "Ondrej Soukup", "active": true, "insider": true, "id": 412888}, "is_open":
        true, "cf_pm_score": "0", "severity": "low", "priority": "low", "comments":
        [{"attachment_id": null, "creation_time": "2023-03-15T09:54:52Z", "text":
        "test", "time": "2023-03-15T09:54:52Z", "is_private": false, "tags": [], "bug_id":
        2009341, "id": 15538744, "creator": "osoukup@redhat.com", "creator_id": 412888,
        "count": 0}], "cf_internal_whiteboard": "", "estimated_time": 0}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.45102017.1678893291.2bab27ad
      x-rh-edge-request-id:
      - 2bab27ad
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2009341/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"2009341": {"comments": [{"tags": [], "creator_id":
        412888, "time": "2023-02-23T18:21:48Z", "creator": "osoukup@redhat.com", "text":
        "test", "creation_time": "2023-02-23T18:21:48Z", "id": 15532000, "bug_id":
        2009341, "count": 0, "is_private": false, "attachment_id": null}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.45102017.1678893293.2bab4890
      x-rh-edge-request-id:
      - 2bab4890
    status:
      code: 200
      message: OK
version: 1
