interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh94"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1707212916.16d19c27
      x-rh-edge-request-id:
      - 16d19c27
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "id": 1, "can_login":
        true, "real_name": "Need Real Name", "email": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1707212916.16d19ccc
      x-rh-edge-request-id:
      - 16d19ccc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984642&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"offset": 0, "bugs": [{"data_category": "Security Restricted", "id":
        1984642, "last_change_time": "2024-02-06T09:43:57Z"}], "limit": "20", "total_matches":
        1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1707212917.16d19d86
      x-rh-edge-request-id:
      - 16d19d86
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "cf_release_notes": "",
      "severity": "low", "priority": "low", "summary": "CVE-2004-2493 test: totally
      descriptive", "keywords": {"add": ["Security"]}, "flags": [{"name": "requires_doc_text",
      "status": "-"}], "groups": {"add": [], "remove": ["security", "qe_staff"]},
      "cc": {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\":
      \"rhcertification-8\", \"ps_component\": \"openssl\", \"affectedness\": \"new\",
      \"resolution\": null, \"impact\": \"important\", \"cvss2\": null, \"cvss3\":
      null}], \"public\": \"2000-11-11T22:22:22Z\", \"reported\": \"2000-01-01T01:01:01Z\",
      \"impact\": \"low\", \"source\": \"redhat\", \"cwe\": \"CWE-1\", \"statement\":
      \"Statement for CVE-2004-2493\"}", "ids": ["1984642"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/1984642
  response:
    body:
      string: '{"bugs": [{"changes": {"cf_srtnotes": {"removed": "{\"affects\": [{\"ps_module\":
        \"rhcertification-8\", \"ps_component\": \"openssl\", \"affectedness\": \"affected\",
        \"resolution\": \"fix\", \"impact\": null, \"cvss2\": null, \"cvss3\": null}],
        \"public\": \"2000-11-11T22:22:22Z\", \"reported\": \"2000-01-01T01:01:01Z\",
        \"impact\": \"low\", \"source\": \"redhat\", \"statement\": \"Statement for
        CVE-2004-2493\"}", "added": "{\"affects\": [{\"ps_module\": \"rhcertification-8\",
        \"ps_component\": \"openssl\", \"affectedness\": \"new\", \"resolution\":
        null, \"impact\": \"important\", \"cvss2\": null, \"cvss3\": null}], \"public\":
        \"2000-11-11T22:22:22Z\", \"reported\": \"2000-01-01T01:01:01Z\", \"impact\":
        \"low\", \"source\": \"redhat\", \"cwe\": \"CWE-1\", \"statement\": \"Statement
        for CVE-2004-2493\"}"}, "groups": {"removed": "qe_staff, security", "added":
        ""}}, "alias": ["CVE-2004-2493"], "id": 1984642, "last_change_time": "2024-02-06T09:48:38Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.64f06e68.1707212919.16d19f3f
      x-rh-edge-request-id:
      - 16d19f3f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984642
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"creator_detail":
        {"name": "jfrejlac@redhat.com", "id": 442060, "active": true, "partner": false,
        "real_name": "Jakub Frejlach", "email": "jfrejlac@redhat.com", "insider":
        true}, "cf_environment": "", "cf_clone_of": null, "platform": "All", "cf_pm_score":
        "0", "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhcertification-8\",
        \"ps_component\": \"openssl\", \"affectedness\": \"new\", \"resolution\":
        null, \"impact\": \"important\", \"cvss2\": null, \"cvss3\": null}], \"public\":
        \"2000-11-11T22:22:22Z\", \"reported\": \"2000-01-01T01:01:01Z\", \"impact\":
        \"low\", \"source\": \"redhat\", \"cwe\": \"CWE-1\", \"statement\": \"Statement
        for CVE-2004-2493\"}", "external_bugs": [], "cf_build_id": "", "actual_time":
        0, "keywords": ["Security"], "comments": [{"id": 15302806, "creator": "jfrejlac@redhat.com",
        "bug_id": 1984642, "text": "test", "count": 0, "creation_time": "2021-09-15T08:19:46Z",
        "creator_id": 442060, "private_groups": [], "attachment_id": null, "is_private":
        false, "time": "2021-09-15T08:19:46Z", "tags": []}], "qa_contact": "", "blocks":
        [], "version": ["unspecified"], "remaining_time": 0, "description": "test",
        "target_milestone": "---", "cc_detail": [{"partner": false, "real_name": "Coty
        Sutherland", "email": "csutherl@redhat.com", "insider": true, "name": "csutherl@redhat.com",
        "id": 323620, "active": true}, {"id": 392732, "active": true, "name": "gzaronik@redhat.com",
        "email": "gzaronik@redhat.com", "insider": true, "partner": false, "real_name":
        "George Zaronikas"}, {"insider": true, "email": "jclere@redhat.com", "real_name":
        "Jean-frederic Clere", "partner": false, "active": true, "id": 207159, "name":
        "jclere@redhat.com"}, {"partner": false, "real_name": "Ted (Jong Seok) Won",
        "email": "jwon@redhat.com", "insider": true, "name": "jwon@redhat.com", "id":
        393629, "active": true}, {"partner": false, "real_name": "Mladen Turk", "email":
        "mturk@redhat.com", "insider": true, "name": "mturk@redhat.com", "id": 203655,
        "active": true}, {"email": "osoukup@redhat.com", "insider": true, "partner":
        false, "real_name": "Ondrej Soukup", "id": 412888, "active": true, "name":
        "osoukup@redhat.com"}, {"real_name": "security-response-team", "partner":
        false, "insider": false, "email": "security-response-team@bot.bugzilla.redhat.com",
        "name": "security-response-team@bot.bugzilla.redhat.com", "active": true,
        "id": 464788}, {"name": "szappis@redhat.com", "active": true, "id": 415516,
        "real_name": "Socrates Zappis", "partner": false, "insider": false, "email":
        "szappis@redhat.com"}], "is_confirmed": true, "data_category": "Public", "sub_components":
        {}, "url": "", "estimated_time": 0, "cf_doc_type": "If docs needed, set a
        value", "cf_pgm_internal": "", "priority": "low", "classification": "Other",
        "cf_internal_whiteboard": "", "cf_last_closed": null, "assigned_to_detail":
        {"real_name": "Nobody", "partner": false, "insider": false, "email": "nobody@redhat.com",
        "name": "nobody@redhat.com", "active": true, "id": 29451}, "target_release":
        ["---"], "cf_qe_conditional_nak": [], "is_creator_accessible": true, "deadline":
        null, "product": "Security Response", "tags": [], "creation_time": "2021-09-15T08:19:46Z",
        "cf_release_notes": "", "cf_devel_whiteboard": "", "op_sys": "Linux", "is_open":
        true, "cf_embargoed": null, "whiteboard": "", "id": 1984642, "flags": [{"type_id":
        788, "id": 5253011, "name": "hightouch", "setter": "osoukup@redhat.com", "creation_date":
        "2024-02-06T09:20:45Z", "is_active": 1, "modification_date": "2024-02-06T09:42:23Z",
        "status": "?"}, {"status": "?", "modification_date": "2024-02-06T09:42:23Z",
        "is_active": 1, "creation_date": "2024-02-06T09:20:45Z", "setter": "osoukup@redhat.com",
        "name": "hightouch-lite", "type_id": 1209, "id": 5253012}, {"type_id": 415,
        "id": 5119205, "name": "requires_doc_text", "creation_date": "2021-09-15T08:19:46Z",
        "setter": "osoukup@redhat.com", "is_active": 1, "modification_date": "2024-02-06T09:42:23Z",
        "status": "-"}], "cf_major_incident": null, "cf_conditional_nak": [], "docs_contact":
        "", "cf_fixed_in": "", "last_change_time": "2024-02-06T09:48:38Z", "resolution":
        "", "depends_on": [], "cf_qa_whiteboard": "", "dupe_of": null, "summary":
        "CVE-2004-2493 test: totally descriptive", "cc": ["csutherl@redhat.com", "gzaronik@redhat.com",
        "jclere@redhat.com", "jwon@redhat.com", "mturk@redhat.com", "osoukup@redhat.com",
        "security-response-team@bot.bugzilla.redhat.com", "szappis@redhat.com"], "alias":
        ["CVE-2004-2493"], "cf_cust_facing": "---", "status": "NEW", "component":
        ["vulnerability"], "severity": "low", "groups": [], "creator": "jfrejlac@redhat.com",
        "is_cc_accessible": true, "assigned_to": "nobody@redhat.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1707212921.126b104f
      x-rh-edge-request-id:
      - 126b104f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/1984642/comment
  response:
    body:
      string: '{"bugs": {"1984642": {"comments": [{"count": 0, "text": "test", "bug_id":
        1984642, "id": 15302806, "creator": "jfrejlac@redhat.com", "tags": [], "time":
        "2021-09-15T08:19:46Z", "is_private": false, "private_groups": [], "attachment_id":
        null, "creator_id": 442060, "creation_time": "2021-09-15T08:19:46Z"}]}}, "comments":
        {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7df06e68.1707212922.126b1142
      x-rh-edge-request-id:
      - 126b1142
    status:
      code: 200
      message: OK
version: 1
