interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh84"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067531.154e7f4f
      x-rh-edge-request-id:
      - 154e7f4f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"real_name": "Need Real Name", "name": "aander07@packetmaster.com",
        "email": "aander07@packetmaster.com", "can_login": true, "id": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067531.154e810a
      x-rh-edge-request-id:
      - 154e810a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"offset": 0, "limit": "20", "total_matches": 1, "bugs": [{"last_change_time":
        "2023-03-17T15:33:54Z", "id": 2008346}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067532.154e844a
      x-rh-edge-request-id:
      - 154e844a
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Foo", "cf_release_notes":
      "", "status": "VERIFIED", "severity": "low", "priority": "low", "keywords":
      {"add": ["Security"]}, "flags": [], "groups": {"add": [], "remove": []}, "cc":
      {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\",
      \"ps_component\": \"kernel\", \"affectedness\": \"affected\", \"resolution\":
      \"wontfix\", \"impact\": null, \"cvss2\": null, \"cvss3\": null}], \"public\":
      \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\", \"impact\":
      \"low\", \"source\": \"google\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
      \"statement\": \"Statement for CVE-2021-0773\"}", "ids": ["2008346"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2008346
  response:
    body:
      string: '{"bugs": [{"alias": ["CVE-2021-0773"], "changes": {"cf_srtnotes": {"added":
        "{\"affects\": [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\",
        \"affectedness\": \"affected\", \"resolution\": \"wontfix\", \"impact\": null,
        \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\",
        \"reported\": \"2022-11-22T15:55:22Z\", \"impact\": \"low\", \"source\": \"google\",
        \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"statement\":
        \"Statement for CVE-2021-0773\"}", "removed": "{\"affects\": [{\"ps_module\":
        \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\": \"affected\",
        \"resolution\": \"fix\", \"impact\": null, \"cvss2\": null, \"cvss3\": null}],
        \"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
        \"impact\": \"important\", \"source\": \"google\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2021-0773\"}"}, "status":
        {"removed": "NEW", "added": "VERIFIED"}, "priority": {"added": "low", "removed":
        "high"}, "severity": {"removed": "high", "added": "low"}}, "last_change_time":
        "2023-03-17T15:38:53Z", "id": 2008346}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067533.154e8add
      x-rh-edge-request-id:
      - 154e8add
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"groups":
        [], "cf_doc_type": "If docs needed, set a value", "target_release": ["---"],
        "tags": [], "cf_pm_score": "0", "external_bugs": [], "sub_components": {},
        "severity": "low", "is_creator_accessible": true, "docs_contact": "", "version":
        ["unspecified"], "cf_environment": "", "cf_fixed_in": "", "classification":
        "Other", "comments": [{"bug_id": 2008346, "id": 15532000, "time": "2023-02-23T18:21:48Z",
        "is_private": false, "tags": [], "count": 0, "creator_id": 412888, "creator":
        "osoukup@redhat.com", "creation_time": "2023-02-23T18:21:48Z", "attachment_id":
        null, "text": "test"}], "qa_contact": "", "actual_time": 0, "creator_detail":
        {"real_name": "Ondrej Soukup", "email": "osoukup@redhat.com", "insider": true,
        "name": "osoukup@redhat.com", "partner": false, "active": true, "id": 412888},
        "cf_release_notes": "", "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\",
        \"ps_component\": \"kernel\", \"affectedness\": \"affected\", \"resolution\":
        \"wontfix\", \"impact\": null, \"cvss2\": null, \"cvss3\": null}], \"public\":
        \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\", \"impact\":
        \"low\", \"source\": \"google\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"statement\": \"Statement for CVE-2021-0773\"}", "blocks": [2009119], "cc":
        [], "cf_clone_of": null, "summary": "Foo", "cc_detail": [], "assigned_to":
        "nobody@redhat.com", "deadline": null, "product": "Security Response", "cf_pgm_internal":
        "", "alias": ["CVE-2021-0773"], "platform": "All", "id": 2008346, "cf_internal_whiteboard":
        "", "cf_qe_conditional_nak": [], "description": "test", "depends_on": [],
        "resolution": "", "creator": "osoukup@redhat.com", "creation_time": "2023-02-23T18:21:48Z",
        "remaining_time": 0, "assigned_to_detail": {"name": "nobody@redhat.com", "partner":
        false, "email": "nobody@redhat.com", "real_name": "Nobody", "insider": false,
        "id": 29451, "active": true}, "estimated_time": 0, "cf_build_id": "", "is_open":
        true, "op_sys": "Linux", "flags": [{"name": "requires_doc_text", "status":
        "+", "setter": "bugzilla@redhat.com", "type_id": 415, "creation_date": "2023-03-01T11:07:08Z",
        "modification_date": "2023-03-01T11:07:08Z", "is_active": 1, "id": 5204549}],
        "cf_devel_whiteboard": "", "is_confirmed": true, "last_change_time": "2023-03-17T15:38:53Z",
        "dupe_of": null, "cf_last_closed": null, "target_milestone": "---", "whiteboard":
        "", "keywords": ["Security"], "component": ["vulnerability"], "cf_cust_facing":
        "---", "cf_conditional_nak": [], "status": "VERIFIED", "url": "", "is_cc_accessible":
        true, "priority": "low", "cf_qa_whiteboard": ""}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067535.154e9da8
      x-rh-edge-request-id:
      - 154e9da8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2008346/comment
  response:
    body:
      string: '{"bugs": {"2008346": {"comments": [{"tags": [], "is_private": false,
        "count": 0, "time": "2023-02-23T18:21:48Z", "bug_id": 2008346, "id": 15532000,
        "text": "test", "creator": "osoukup@redhat.com", "creation_time": "2023-02-23T18:21:48Z",
        "attachment_id": null, "creator_id": 412888}]}}, "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067536.154eb03f
      x-rh-edge-request-id:
      - 154eb03f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009119&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"bugs": [{"assigned_to_detail": {"insider": false, "id": 29451, "real_name":
        "Nobody", "active": true, "partner": false, "name": "nobody@redhat.com", "email":
        "nobody@redhat.com"}, "id": 2009119, "product": "Security Response", "assigned_to":
        "nobody@redhat.com"}], "offset": 0, "total_matches": 1, "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.be045368.1679067536.154eb595
      x-rh-edge-request-id:
      - 154eb595
    status:
      code: 200
      message: OK
version: 1
