interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh84"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067739.4b6f5baa
      x-rh-edge-request-id:
      - 4b6f5baa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"id": 1, "can_login": true, "name": "aander07@packetmaster.com",
        "email": "aander07@packetmaster.com", "real_name": "Need Real Name"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067739.4b6f6156
      x-rh-edge-request-id:
      - 4b6f6156
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"bugs": [{"id": 2008346, "last_change_time": "2023-03-17T15:38:53Z"}],
        "total_matches": 1, "offset": 0, "limit": "20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067740.4b6f6b42
      x-rh-edge-request-id:
      - 4b6f6b42
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "summary": "Foo", "cf_release_notes":
      "foo", "status": "ASSIGNED", "severity": "medium", "priority": "medium", "keywords":
      {"add": ["Security"]}, "flags": [], "groups": {"add": [], "remove": []}, "cc":
      {"add": [], "remove": []}, "cf_srtnotes": "{\"affects\": [{\"ps_module\": \"rhel-8\",
      \"ps_component\": \"kernel\", \"affectedness\": \"affected\", \"resolution\":
      \"fix\", \"impact\": \"critical\", \"cvss2\": null, \"cvss3\": null}], \"public\":
      \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\", \"impact\":
      \"moderate\", \"source\": \"git\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
      \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2021-0773\"}", "ids":
      ["2008346"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2008346
  response:
    body:
      string: '{"bugs": [{"changes": {"cf_srtnotes": {"removed": "{\"affects\": [{\"ps_module\":
        \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\": \"affected\",
        \"resolution\": \"wontfix\", \"impact\": null, \"cvss2\": null, \"cvss3\":
        null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
        \"impact\": \"low\", \"source\": \"google\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"statement\": \"Statement for CVE-2021-0773\"}", "added": "{\"affects\":
        [{\"ps_module\": \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\":
        \"affected\", \"resolution\": \"fix\", \"impact\": \"critical\", \"cvss2\":
        null, \"cvss3\": null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\":
        \"2022-11-22T15:55:22Z\", \"impact\": \"moderate\", \"source\": \"git\", \"cvss3\":
        \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\", \"cwe\": \"CWE-1\",
        \"statement\": \"Statement for CVE-2021-0773\"}"}, "status": {"removed": "VERIFIED",
        "added": "ASSIGNED"}, "severity": {"removed": "low", "added": "medium"}, "priority":
        {"removed": "low", "added": "medium"}, "cf_release_notes": {"removed": "",
        "added": "foo"}}, "alias": ["CVE-2021-0773"], "id": 2008346, "last_change_time":
        "2023-03-17T15:42:21Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067741.4b6f7b42
      x-rh-edge-request-id:
      - 4b6f7b42
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2008346
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"target_milestone":
        "---", "creator_detail": {"real_name": "Ondrej Soukup", "active": true, "partner":
        false, "name": "osoukup@redhat.com", "email": "osoukup@redhat.com", "insider":
        true, "id": 412888}, "cf_build_id": "", "is_open": true, "cf_pm_score": "0",
        "priority": "medium", "severity": "medium", "cf_internal_whiteboard": "",
        "comments": [{"creator_id": 412888, "creator": "osoukup@redhat.com", "id":
        15532000, "bug_id": 2008346, "count": 0, "creation_time": "2023-02-23T18:21:48Z",
        "attachment_id": null, "tags": [], "is_private": false, "time": "2023-02-23T18:21:48Z",
        "text": "test"}], "estimated_time": 0, "cf_srtnotes": "{\"affects\": [{\"ps_module\":
        \"rhel-8\", \"ps_component\": \"kernel\", \"affectedness\": \"affected\",
        \"resolution\": \"fix\", \"impact\": \"critical\", \"cvss2\": null, \"cvss3\":
        null}], \"public\": \"2000-01-01T22:03:26Z\", \"reported\": \"2022-11-22T15:55:22Z\",
        \"impact\": \"moderate\", \"source\": \"git\", \"cvss3\": \"3.7/CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N\",
        \"cwe\": \"CWE-1\", \"statement\": \"Statement for CVE-2021-0773\"}", "assigned_to_detail":
        {"id": 29451, "insider": false, "name": "nobody@redhat.com", "email": "nobody@redhat.com",
        "partner": false, "real_name": "Nobody", "active": true}, "cf_clone_of": null,
        "is_cc_accessible": true, "deadline": null, "cf_last_closed": null, "cf_devel_whiteboard":
        "", "remaining_time": 0, "resolution": "", "cf_cust_facing": "---", "qa_contact":
        "", "cf_doc_type": "If docs needed, set a value", "flags": [{"is_active":
        1, "modification_date": "2023-03-01T11:07:08Z", "id": 5204549, "setter": "bugzilla@redhat.com",
        "creation_date": "2023-03-01T11:07:08Z", "type_id": 415, "status": "+", "name":
        "requires_doc_text"}], "creator": "osoukup@redhat.com", "last_change_time":
        "2023-03-17T15:42:21Z", "cf_fixed_in": "", "alias": ["CVE-2021-0773"], "blocks":
        [2009119], "op_sys": "Linux", "external_bugs": [], "product": "Security Response",
        "cf_environment": "", "is_confirmed": true, "docs_contact": "", "assigned_to":
        "nobody@redhat.com", "cf_qa_whiteboard": "", "component": ["vulnerability"],
        "status": "ASSIGNED", "version": ["unspecified"], "cf_pgm_internal": "", "cf_release_notes":
        "foo", "cf_qe_conditional_nak": [], "description": "test", "keywords": ["Security"],
        "cc_detail": [], "url": "", "classification": "Other", "depends_on": [], "is_creator_accessible":
        true, "sub_components": {}, "whiteboard": "", "creation_time": "2023-02-23T18:21:48Z",
        "tags": [], "id": 2008346, "cc": [], "actual_time": 0, "dupe_of": null, "platform":
        "All", "summary": "Foo", "target_release": ["---"], "cf_conditional_nak":
        [], "groups": []}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067743.4b6faf4a
      x-rh-edge-request-id:
      - 4b6faf4a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2008346/comment
  response:
    body:
      string: '{"bugs": {"2008346": {"comments": [{"bug_id": 2008346, "id": 15532000,
        "creator_id": 412888, "creator": "osoukup@redhat.com", "count": 0, "attachment_id":
        null, "creation_time": "2023-02-23T18:21:48Z", "text": "test", "time": "2023-02-23T18:21:48Z",
        "is_private": false, "tags": []}]}}, "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067744.4b6fda45
      x-rh-edge-request-id:
      - 4b6fda45
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2009119&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"bugs": [{"id": 2009119, "assigned_to": "nobody@redhat.com", "product":
        "Security Response", "assigned_to_detail": {"partner": false, "name": "nobody@redhat.com",
        "insider": false, "email": "nobody@redhat.com", "real_name": "Nobody", "id":
        29451, "active": true}}], "limit": "20", "offset": 0, "total_matches": 1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.2e045368.1679067745.4b6fe508
      x-rh-edge-request-id:
      - 4b6fe508
    status:
      code: 200
      message: OK
version: 1
