interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh94"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707484675.e1f2e719
      x-rh-edge-request-id:
      - e1f2e719
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"can_login": true, "real_name": "Need Real Name", "email":
        "aander07@packetmaster.com", "name": "aander07@packetmaster.com", "id": 1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707484676.e1f2ebcf
      x-rh-edge-request-id:
      - e1f2ebcf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984642&include_fields=id&include_fields=last_change_time
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"data_category":
        "Security Restricted", "id": 1984642, "last_change_time": "2024-02-09T13:16:34Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707484676.e1f2f646
      x-rh-edge-request-id:
      - e1f2f646
    status:
      code: 200
      message: OK
- request:
    body: '{"product": "Security Response", "component": "vulnerability", "op_sys":
      "Linux", "platform": "All", "version": "unspecified", "cf_release_notes": "I
      am a spooky CVE", "severity": "low", "priority": "low", "summary": "CVE-2004-2493
      test: totally descriptive", "keywords": {"add": ["Security"]}, "flags": [{"name":
      "hightouch", "status": "-"}, {"name": "hightouch-lite", "status": "+"}, {"name":
      "requires_doc_text", "status": "+"}], "groups": {"add": [], "remove": ["security",
      "qe_staff"]}, "cc": {"add": [], "remove": []}, "cf_srtnotes": "{\"acknowledgments\":
      [{\"affiliation\": \"sir\", \"from_upstream\": false, \"name\": \"dear\"}],
      \"affects\": [{\"ps_module\": \"rhcertification-8\", \"ps_component\": \"openssl\",
      \"affectedness\": \"affected\", \"resolution\": \"delegated\", \"impact\": null,
      \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-11-11T22:22:22Z\", \"reported\":
      \"2000-01-01T01:01:01Z\", \"impact\": \"low\", \"source\": \"researcher\", \"mitigation\":
      \"CVE mitigation\", \"statement\": \"Statement for CVE-2004-2493\"}", "ids":
      ["1984642"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/1984642
  response:
    body:
      string: '{"bugs": [{"alias": ["CVE-2004-2493"], "id": 1984642, "changes": {"groups":
        {"removed": "security, qe_staff", "added": ""}, "flagtypes.name": {"added":
        "hightouch-, hightouch-lite+", "removed": "hightouch+, hightouch-lite-"},
        "cf_srtnotes": {"added": "{\"acknowledgments\": [{\"affiliation\": \"sir\",
        \"from_upstream\": false, \"name\": \"dear\"}], \"affects\": [{\"ps_module\":
        \"rhcertification-8\", \"ps_component\": \"openssl\", \"affectedness\": \"affected\",
        \"resolution\": \"delegated\", \"impact\": null, \"cvss2\": null, \"cvss3\":
        null}], \"public\": \"2000-11-11T22:22:22Z\", \"re[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984642
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"cf_qa_whiteboard":
        "", "cf_fixed_in": "", "dupe_of": null, "is_creator_accessible": true, "cf_pm_score":
        "0", "cf_environment": "", "comments": [{"id": 15302806, "bug_id": 1984642,
        "creation_time": "2021-09-15T08:19:46Z", "creator": "jfrejlac@redhat.com",
        "private_groups": [], "is_private": false, "tags": [], "creator_id": 442060,
        "time": "2021-09-15T08:19:46Z", "count": 0, "text": "test", "attachment_id":
        null}], "target_release": ["---"], "alias": ["CVE-2004-2493"], "cf_major_incident":
        null, "url": "", "docs_contact": "", "external_bugs": [], "cf_srtnotes": "{\"acknowledgments\":
        [{\"affiliation\": \"sir\", \"from_upstream\": false, \"name\": \"dear\"}],
        \"affects\": [{\"ps_module\": \"rhcertification-8\", \"ps_component\": \"openssl\",
        \"affectedness\": \"affected\", \"resolution\": \"delegated\", \"impact\":
        null, \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-11-11T22:22:22Z\",
        \"reported\": \"2000-01-01T01:01:01Z\", \"impact\": \"low\", \"source\": \"researcher\",
        \"mitigation\": \"CVE mitigation\", \"statement\": \"Statement for CVE-2004-2493\"}",
        "tags": [], "severity": "low", "cf_last_closed": null, "data_category": "Public",
        "creator_detail": {"name": "jfrejlac@redhat.com", "insider": true, "email":
        "jfrejlac@redhat.com", "id": 442060, "real_name": "Jakub Frejlach", "partner":
        false, "active": true}, "is_confirmed": true, "status": "NEW", "cf_internal_whiteboard":
        "", "platform": "All", "cf_conditional_nak": [], "is_open": true, "flags":
        [{"is_active": 1, "id": 5253011, "type_id": 788, "name": "hightouch", "creation_date":
        "2024-02-06T09:20:45Z", "modification_date": "2024-02-09T13:17:57Z", "status":
        "-", "setter": "osoukup@redhat.com"}, {"creation_date": "2024-02-06T09:20:45Z",
        "modification_date": "2024-02-09T13:17:57Z", "name": "hightouch-lite", "status":
        "+", "setter": "osoukup@redhat.com", "id": 5253012, "is_active": 1, "type_id":
        1209}, {"type_id": 415, "is_active": 1, "id": 5119205, "status": "+", "setter":
        "osoukup@redhat.com", "modification_date": "2024-02-08T15:26:04Z", "creation_date":
        "2021-09-15T08:19:46Z", "name": "requires_doc_text"}], "creation_time": "2021-09-15T08:19:46Z",
        "cc": ["csutherl@redhat.com", "gzaronik@redhat.com", "jclere@redhat.com",
        "jwon@redhat.com", "mturk@redhat.com", "osoukup@redhat.com", "security-response-team@bot.bugzilla.redhat.com",
        "szappis@redhat.com"], "description": "test", "sub_components": {}, "op_sys":
        "Linux", "priority": "low", "cf_qe_conditional_nak": [], "keywords": ["Security"],
        "cf_cust_facing": "---", "groups": [], "target_milestone": "---", "cf_embargoed":
        null, "blocks": [], "cc_detail": [{"real_name": "Coty Sutherland", "partner":
        false, "email": "csutherl@redhat.com", "id": 323620, "insider": true, "name":
        "csutherl@redhat.com", "active": true}, {"active": true, "name": "gzaronik@redhat.com",
        "id": 392732, "email": "gzaronik@redhat.com", "insider": true, "real_name":
        "George Zaronikas", "partner": false}, {"name": "jclere@redhat.com", "insider":
        true, "id": 207159, "email": "jclere@redhat.com", "real_name": "Jean-frederic
        Clere"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984642
  response:
    body:
      string: '{"offset": 0, "bugs": [{"creator_detail": {"name": "jfrejlac@redhat.com",
        "active": true, "id": 442060, "real_name": "Jakub Frejlach", "partner": false,
        "insider": true, "email": "jfrejlac@redhat.com"}, "cf_clone_of": null, "cf_environment":
        "", "cf_pm_score": "0", "platform": "All", "cf_srtnotes": "{\"acknowledgments\":
        [{\"affiliation\": \"sir\", \"from_upstream\": false, \"name\": \"dear\"}],
        \"affects\": [{\"ps_module\": \"rhcertification-8\", \"ps_component\": \"openssl\",
        \"affectedness\": \"affected\", \"resolution\": \"delegated\", \"impact\":
        null, \"cvss2\": null, \"cvss3\": null}], \"public\": \"2000-11-11T22:22:22Z\",
        \"reported\": \"2000-01-01T01:01:01Z\", \"impact\": \"low\", \"source\": \"researcher\",
        \"mitigation\": \"CVE mitigation\", \"statement\": \"Statement for CVE-2004-2493\"}",
        "external_bugs": [], "cf_build_id": "", "comments": [{"tags": [], "time":
        "2021-09-15T08:19:46Z", "attachment_id": null, "private_groups": [], "creator_id":
        442060, "is_private": false, "creation_time": "2021-09-15T08:19:46Z", "bug_id":
        1984642, "text": "test", "count": 0, "creator": "jfrejlac@redhat.com", "id":
        15302806}], "actual_time": 0, "keywords": ["Security"], "blocks": [], "qa_contact":
        "", "version": ["unspecified"], "target_milestone": "---", "remaining_time":
        0, "description": "test", "is_confirmed": true, "data_category": "Public",
        "cc_detail": [{"name": "csutherl@redhat.com", "active": true, "id": 323620,
        "real_name": "Coty Sutherland", "partner": false, "insider": true, "email":
        "csutherl@redhat.com"}, {"name": "gzaronik@redhat.com", "id": 392732, "active":
        true, "partner": false, "real_name": "George Zaronikas", "email": "gzaronik@redhat.com",
        "insider": true}, {"real_name": "Jean-frederic Clere", [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/1984642/comment
  response:
    body:
      string: '{"bugs": {"1984642": {"comments": [{"creator": "jfrejlac@redhat.com",
        "id": 15302806, "count": 0, "text": "test", "bug_id": 1984642, "creation_time":
        "2021-09-15T08:19:46Z", "is_private": false, "creator_id": 442060, "attachment_id":
        null, "private_groups": [], "time": "2021-09-15T08:19:46Z", "tags": []}]}},
        "comments": {}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707484681.e1f39601
      x-rh-edge-request-id:
      - e1f39601
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2021859
  response:
    body:
      string: '{"bugs": [{"cf_fixed_in": "", "cf_qa_whiteboard": "", "alias": [],
        "cf_major_incident": null, "target_release": ["---"], "comments": [{"private_groups":
        [], "is_private": false, "id": 15705392, "bug_id": 2021859, "creation_time":
        "2024-02-06T10:02:34Z", "creator": "osoukup@redhat.com", "time": "2024-02-06T10:02:34Z",
        "count": 0, "attachment_id": null, "text": "rhcertification-8 tracking bug
        for openssl: see the bugs linked in the \"Blocks\" field of this bug for full
        details of the security issue(s).\n\nThis bug is never intended to be made
        public, please put any public notes in the blocked bugs.\n\nImpact: Low\nReported
        Date: 01-Jan-2000\nPM Fix/Wontfix Decision By: 07-Mar-2024\nResolve Bug By:
        29-Jun-2000\n\nIn case the dates above are already past, please evaluate this
        bug in your next prioritization review and make a decision then. Remember
        to explicitly set CLOSED:WONTFIX (in Bugzilla) or Closed:Won''t Do (in Jira)
        if you decide not to fix this bug.\n\nPlease review this tracker and its impact
        on your product or service, as soon as possible. The trackers are filed WITHOUT
        in-depth analysis as the vulnerability has a Low or Moderate severity impact
        on this product or service. For more details, please refer to following confluence
        page - https://docs.engineering.redhat.com/x/3e_3EQ\n\nPlease see the Security
        Errata Policy for further details: https://docs.engineering.redhat.com/x/9kKpDw",
        "tags": [], "creator_id": 412888}], "is_creator_accessible": true, "dupe_of":
        null, "cf_verified": [], "cf_pm_score": "0", "cf_environment": "", "severity":
        "low", "tags": [], "external_bugs": [], "docs_contact": "", "url": "", "data_category":
        "Security Restricted", "creator_detail": {"name": "osoukup@redhat.com", "id":
        412888, "insider": true, "email": "osoukup@redhat.com", "real_name": "Ondrej
        Soukup", "partner": false, "active": true}, "qa_contact_detail": {"name":
        "rhcert-qe@redhat.com", "partner": false, "real_name": "rhcert qe", "email":
        "rhcert-qe@redhat.com", "id": 408554, "insider": false, "active": false},
        "cf_last_closed": null, "status": "NEW", "is_confirmed": true, "flags": [{"type_id":
        415, "is_active": 1, "id": 5253013, "status": "-", "setter": "bugzilla@redhat.com",
        "name": "requires_doc_text", "modification_date": "2024-02-06T10:02:34Z",
        "creation_date": "2024-02-06T10:02:34Z"}], "crea[...]
[...]
- request:
    body: '{"product": "Red Hat Certification Program", "version": "1.0", "priority":
      "low", "severity": "low", "blocks": {"add": ["1984642"], "remove": []}, "component":
      "redhat-certification", "deadline": "2000-11-20", "groups": {"add": ["devel"],
      "remove": ["security"]}, "keywords": {"add": ["Security", "SecurityTracking"]},
      "summary": "[CISA Major Incident] CVE-2004-2493 openssl: totally descriptive
      [rhcertification-8-default]", "ids": ["2021859"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://bugzilla.redhat.com/rest/bug/2021859
  response:
    body:
      string: '{"bugs": [{"id": 2021859, "last_change_time": "2024-02-09T13:18:05Z",
        "alias": [], "changes": {"summary": {"added": "[CISA Major Incident] CVE-2004-2493
        openssl: totally descriptive [rhcertification-8-default]", "removed": "[Major
        Incident] CVE-2004-2493 openssl: totally descriptive [rhcertification-8-default]"},
        "deadline": {"removed": "2000-06-29", "added": "2000-11-20"}, "groups": {"added":
        "devel", "removed": "security"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.a5361060.1707484685.ecab2853
      x-rh-edge-request-id:
      - ecab2853
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2021859
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "offset": 0, "bugs": [{"tags":
        [], "product": "Red Hat Certification Program", "deadline": "2000-11-20",
        "cf_devel_whiteboard": "", "op_sys": "Unspecified", "cf_release_notes": "",
        "creation_time": "2024-02-06T10:02:34Z", "qa_contact_detail": {"name": "rhcert-qe@redhat.com",
        "id": 408554, "active": false, "partner": false, "real_name": "rhcert qe",
        "email": "rhcert-qe@redhat.com", "insider": false}, "assigned_to_detail":
        {"insider": true, "email": "jweng@redhat.com", "real_name": "Jianwei Weng",
        "partner": false, "active": true, "id": 283338, "name": "jweng@redhat.com"},
        "target_release": ["---"], "cf_last_closed": null, "is_creator_accessible":
        true, "cf_qe_conditional_nak": [], "cf_major_incident": null, "flags": [{"status":
        "-", "modification_date": "2024-02-06T10:02:34Z", "is_active": 1, "creation_date":
        "2024-02-06T10:02:34Z", "setter": "bugzilla@redhat.com", "name": "requires_doc_text",
        "id": 5253013, "type_id": 415}], "cf_conditional_nak": [], "is_open": true,
        "cf_embargoed": null, "id": 2021859, "whiteboard": "component:openssl", "alias":
        [], "cf_verified": [], "cc": ["security-response-team@bot.bugzilla.redhat.com"],
        "summary": "[CISA Major Incident] CVE-2004-2493 openssl: totally descriptive
        [rhcertification-8-default]", "component": ["redhat-certification"], "status":
        "NEW", "cf_cust_facing": "---", "docs_contact": "", "cf_qa_whiteboard": "",
        "dupe_of": null, "depends_on": [], "resolution": "", "last_change_time": "2024-02-09T13:18:05Z",
        "cf_fixed_in": "", "assigned_to": "jweng@redhat.com", "groups": ["devel"],
        "severity": "low", "creator": "osoukup@redhat.com", "is_cc_accessible": true,
        "external_bugs": [], "cf_pm_score": "0", "platform": "Unspecified", "cf_build_id":
        "", "creator_detail": {"partner": false, "real_name": "Ondrej Soukup", "email":
        "osoukup@redhat.com", "insider": true, "name": "osoukup@redhat.com", "id":
        412888, "active": true}, "cf_target_upstream_version": "", "cf_environment":
        "", "cf_clone_of": null, "version": ["1.0"], "comments": [{"time": "2024-02-06T10:02:34Z",
        "tags": [], "creation_time": "2024-02-06T10:02:34Z", "is_private": false,
        "attachment_id": null, "creator_id": 412888, "private_groups": [], "count":
        0, "text": "rhcertification-8 tracking bug for openssl: see the bugs linked
        in the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
        bug is never intended to be made public, please put any public notes in the
        blocked bugs.\n\nImpact: Low\nReported Date: 01-Jan-2000\nPM Fix/Wontfix Decision
        By: 07-Mar-2024\nResolve Bug By: 29-Jun-2000\n\nIn case the dates above are
        already past, please evaluate this bug in your next prioritization review
        and make a decision then. Remember to explicitly set CLOSED:WONTFIX (in Bugzilla)
        or Closed:Won''t Do (in Jira) if you decide not to fix this bug.\n\nPlease
        review this tracker and its impact on your product or service, as soon as
        possible. The trackers are filed WITHOUT in-depth analysis as the vulnerability
        has a Low or Moderate severity impact on this product or service. For more
        details, please refer to following confluence page - https://docs.engineering.redhat.com/x/3e_3EQ\n\nPlease
        see the Security Errata Policy for further details: https://docs.engineering.redhat.com/x/9kKpDw",
        "bug_id": 2021859, "id": 15705392, "creator": "osoukup@redhat.com"}], "keywords":
        ["Security", "SecurityTracking"], "actual_time": 0, "blocks": [1984642], "cf_partner":
        [], "qa_contact": "rhcert-qe@redhat.com", "url": "", "sub_components": {},
        "target_milestone": "---", "description": "rhcertification-8 tracking bug
        for openssl: see the bugs linked in the \"Blocks\" field of this bug for full
        details of the security issue(s).\n\nThis bug is never intended to be made
        public, please put any public notes in the blocked bugs.\n\nImpact: Low\nReported
        Date: 01-Jan-2000\nPM Fix/Wontfix Decision By: 07-Mar-2024\nResolve[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2021859
  response:
    body:
      string: '{"limit": "20", "total_matches": 1, "offset": 0, "bugs": [{"cf_pgm_internal":
        "", "deadline": "2000-11-20", "classification": "Red Hat", "is_cc_accessible":
        true, "cc_detail": [{"active": true, "insider": false, "email": "security-response-team@bot.bugzilla.redhat.com",
        "id": 464788, "partner": false, "real_name": "security-response-team", "name":
        "security-response-team@bot.bugzilla.redhat.com"}], "blocks": [1984642], "cf_devel_whiteboard":
        "", "cf_partner": [], "assigned_to": "jweng@redhat.com", "remaining_time":
        0, "resolution": "", "cf_clone_of": null, "component": ["redhat-certification"],
        "cf_release_notes": "", "summary": "[CISA Major Incident] CVE-2004-2493 openssl:
        totally descriptive [rhcertification-8-default]", "actual_time": 0, "whiteboard":
        "component:openssl", "version": ["1.0"], "cf_target_upstream_version": "",
        "id": 2021859, "product": "Red Hat Certification Program", "assigned_to_detail":
        {"active": true, "name": "jweng@redhat.com", "real_name": "Jianwei Weng",
        "partner": false, "id": 283338, "insider": true, "email": "jweng@redhat.com"},
        "depends_on": [], "creator": "osoukup@redhat.com", "last_change_time": "2024-02-09T13:18:05Z",
        "cf_doc_type": "No Doc Update", "estimated_time": 0, "cf_build_id": "", "qa_contact":
        "rhcert-qe@redhat.com", "severity": "low", "tags": [], "external_bugs": [],
        "docs_contact": "", "url": "", "creator_detail": {"name": "osoukup@redhat.com",
        "id": 412888, "insider": true, "email": "osoukup@redhat.com", "partner": false,
        "real_name": "Ondrej Soukup", "active": true}, "data_category": "Engineering",
        "qa_contact_detail": {"active": false, "insider": false, "id": 408554, "email":
        "rhcert-qe@redhat.co[...]
[...]
