interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rss.packetstormsecurity.com/files/tags/advisory
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n<channel>\n
        \ <title>Advisory Files &#8776; Packet Storm</title>\n  <description>Packet
        Storm - Information Security Services, News, Files, Tools, Exploits, Advisories
        and Whitepapers</description>\n  <link>https://packetstormsecurity.com/</link>\n
        \ <language>en-us</language>\n  <lastBuildDate>Wed, 22 Nov 2023 12:42:15 GMT</lastBuildDate>\n\n
        \ <image>\n    <title>Packet Storm</title>\n    <width>144</width><height>400</height>\n
        \   <link>https://packetstormsecurity.com/</link>\n    <url>https://ssl.google-analytics.com/__utm.gif?utmwv=1.3&amp;utmn=1162005560&amp;utmcs=ISO-8859-1&amp;utmsr=31337x31337&amp;utmsc=32-bit&amp;utmul=en-us&amp;utmje=0&amp;utmfl=-&amp;utmcn=1&amp;utmdt=Advisory%20Files%u2248%20Packet%20Storm&amp;utmhn=packetstormsecurity.com&amp;utmr=-&amp;utmp=%2Ffiles%2Ftags%2Fadvisory&amp;utmac=UA-18885198-1&amp;utmcc=__utma%3D32867617.1162005560.1700656935.1700656935.1700656935.1%3B%2B__utmz%3D32867617.1700656935.1.1.utmccn%3D(direct)%7Cutmcsr%3D(direct)%7Cutmcmd%3D(none)</url>\n
        \ </image>\n \n<item>\n<title>Ubuntu Security Notice USN-6492-1</title>\n<link>https://packetstormsecurity.com/files/175820/USN-6492-1.txt</link>\n<guid
        isPermaLink=\"true\">https://packetstormsecurity.com/files/175820/USN-6492-1.txt</guid>\n<comments>https://packetstormsecurity.com/files/175820/Ubuntu-Security-Notice-USN-6492-1.html</comments>\n<pubDate>Tue,
        21 Nov 2023 16:01:29 GMT</pubDate>\n<description>Ubuntu Security Notice 6492-1
        - Kathrin Kleinhammer discovered that Mosquitto incorrectly handled certain
        inputs. If a user or an automated system were provided with a specially crafted
        input, a remote attacker could possibly use this issue to cause a denial of
        service. This issue only affected Ubuntu 20.04 LTS. Zhanxiang Song discovered
        that Mosquitto incorrectly handled certain inputs. If a user or an automated
        system were provided with a specially crafted input, a remote attacker could
        possibly use this issue to cause an authorisation bypass. This issue only
        affected Ubuntu 22.04 LTS and Ubuntu 23.04.</description>\n<category></category>\n</item>\n<item>\n<title>Ubuntu
        Security Notice USN-6493-2</title>\n<link>https://packetstormsecurity.com/files/175819/USN-6493-2.txt</link>\n<guid
        isPermaLink=\"true\">https://packetstormsecurity.com/files/175819/USN-6493-2.txt</guid>\n<comments>https://packetstormsecurity.com/files/175819/Ubuntu-Security-Notice-USN-6493-2.html</comments>\n<pubDate>Tue,
        21 Nov 2023 16:01:15 GMT</pubDate>\n<description>Ubuntu Security Notice 6493-2
        - USN-6493-1 fixed a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://packetstormsecurity.com/files/download/175820/USN-6492-1.txt
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>302 Found</title>

        </head><body>

        <h1>Found</h1>

        <p>The document has moved <a href="https://dl.packetstormsecurity.net/2311-advisories/USN-6492-1.txt">here</a>.</p>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://dl.packetstormsecurity.net/2311-advisories/USN-6492-1.txt
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.packetstormsecurity.net/2311-advisories/USN-6492-1.txt
  response:
    body:
      string: "==========================================================================\nUbuntu
        Security Notice USN-6492-1\nNovember 21, 2023\n\nmosquitto vulnerabilities\n==========================================================================\n\nA
        security issue affects these releases of Ubuntu and its derivatives:\n\n-
        Ubuntu 23.04\n- Ubuntu 22.04 LTS\n- Ubuntu 20.04 LTS (Available with Ubuntu
        Pro)\n\nSummary:\n\nSeveral security issues were fixed in Mosquitto.\n\nSoftware
        Description:\n- mosquitto: MQTT version 3.1/3.1.1 compatible message broker\n\nDetails:\n\nKathrin
        Kleinhammer discovered that Mosquitto incorrectly handled certain\ninputs.
        If a user or an automated system were provided with a specially crafted\ninput,
        a remote attacker could possibly use this issue to cause a denial of\nservice.
        This issue only affected Ubuntu 20.04 LTS. (CVE-2021-34431)\n\nZhanxiang Song
        discovered that Mosquitto incorrectly handled certain inputs.[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.packetstormsecurity.net/2311-advisories/USN-6493-2.txt
  response:
    body:
      string: "==========================================================================\nUbuntu
        Security Notice USN-6493-2\nNovember 21, 2023\n\nhibagent update\n==========================================================================\n\nA
        security issue affects these releases of Ubuntu and its derivatives:\n\n-
        Ubuntu 18.04 LTS (Available with Ubuntu Pro)\n- Ubuntu 16.04 LTS (Available
        with Ubuntu Pro)\n\nSummary:\n\nA security improvement was added to hibagent.\n\nSoftware
        Description:\n- hibagent: Agent that triggers hibernation on EC2 instances\n\nDetails:\n\nUSN-6493-1
        fixed a vulnerability in hibagent. This update provides\nthe corresponding
        update for Ubuntu 16.04 LTS and Ubuntu 18.04 LTS.\n\nOriginal advisory details:\n\n
        On Ubuntu 18.04 LTS and Ubuntu 16.04 LTS, the hibagent package has been\n
        updated to add IMDSv2 support, as IMDSv1 uses an insecure protocol and is\n
        no longer recommended.\n\n In addition, on all releases, hibagent has been
        updated to do nothing if\n ODH is configured.\n\nUpdate instructions:\n\nThe
        problem can be corrected by updating your system to the following\npackage
        versions:\n\nUbuntu 18.04 LTS (Available with Ubuntu Pro):\n  hibagent                        1.0.1-0ubuntu1.18.04.1+esm1\n\nUbuntu
        16.04 LTS (Available with Ubuntu Pro):\n  hibagent                        1.0.1-0ubuntu1~16.04.1+esm1\n\nIn
        general, a standard system update will make all the necessary changes.\n\nReferences:\n
        \ https://ubuntu.com/security/notices/USN-6493-2\n  https://ubuntu.com/security/notices/USN-6493-1\n
        \ https://launchpad.net/bugs/\n\n"
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Tue, 21 Nov 2023 16:01:15 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://packetstormsecurity.com/files/download/175816/dsa-5560-1.txt
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>302 Found</title>

        </head><body>

        <h1>Found</h1>

        <p>The document has moved <a href="https://dl.packetstormsecurity.net/2311-advisories/dsa-5560-1.txt">here</a>.</p>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://dl.packetstormsecurity.net/2311-advisories/dsa-5560-1.txt
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.packetstormsecurity.net/2311-advisories/dsa-5560-1.txt
  response:
    body:
      string: '-----BEGIN PGP SIGNED MESSAGE-----

        Hash: SHA512


        - --------------------------------------------------------------------------

        Debian Security Advisory DSA-5560-1                   security@debian.org

        https://www.debian.org/security/                        Yves-Alexis Perez

        November 20, 2023                     https://www.debian.org/security/faq

        - --------------------------------------------------------------------------


        Package        : strongswan

        CVE ID         : CVE-20[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.packetstormsecurity.net/2311-advisories/USN-6490-1.txt
  response:
    body:
      string: "==========================================================================\nUbuntu
        Security Notice USN-6490-1\nNovember 20, 2023\n\nwebkit2gtk vulnerabilities\n==========================================================================\n\nA
        security issue affects these releases of Ubuntu and its derivatives:\n\n-
        Ubuntu 23.10\n- Ubuntu 23.04\n- Ubuntu 22.04 LTS\n\nSummary:\n\nSeveral security
        issues were fixed in WebKitGTK.\n\nSoftware Description:\n- webkit2gtk: Web
        content engine library for GTK+\n\nDetails:\n\nSeveral security issues were
        discovered in the WebKitGTK Web and JavaScript\nengines. If a user were tricked
        into viewing a malicious website, a remote\nattacker could exploit a variety
        of issues related to web browser security,\nincluding cross-site scripting
        attacks, denial of service attacks, and\narbitrary code execution.\n\nUpdate
        instructions:\n\nThe problem can be corrected by updating your system to the
        following\npackage versions:\n\nUbuntu 23.10:\n   libjavascriptcoregtk-4.0-18
        \    2.42.2-0ubuntu0.23.10.1\n   libjavascriptcoregtk-4.1-0      2.42.2-0ubuntu0.23.10.1\n
        \  libjavascriptcoregtk-6.0-1      2.42.2-0ubuntu0.23.10.1\n   libwebkit2gtk-4.0-37
        \           2.42.2-0ubuntu0.23.10.1\n   libwebkit2gtk-4.1-0             2.42.2-0ubuntu0.23.10.1\n
        \  libwebkitgtk-6.0-4              2.42.2-0ub[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dl.packetstormsecurity.net/2311-advisories/USN-6486-1.txt
  response:
    body:
      string: "==========================================================================\nUbuntu
        Security Notice USN-6486-1\nNovember 20, 2023\n\niniparser vulnerability\n==========================================================================\n\nA
        security issue affects these releases of Ubuntu and its derivatives:\n\n-
        Ubuntu 23.10\n- Ubuntu 23.04\n- Ubuntu 22.04 LTS\n\nSummary:\n\nIniparser
        could be made to crash if it received a specially crafted file.\n\nSoftware
        Description:\n- iniparser: development files for the iniParser INI file reader/writer\n\nDetails:\n\nIt
        was discovered that iniParser incorrectly handled certain files.\nAn attacker
        could possibly use this issue to cause a crash.\n\nUpdate instructions:\n\nThe
        problem can be corrected by updating your system to the following\npackage
        versions:\n\nUbuntu 23.10:\n  libiniparser1                   4.1-6ubuntu0.23.10.1\n\nUbuntu
        23.04:\n  libiniparser1                   4.1-6ubuntu0.23.04.1\n\nUbuntu 22.04
        LTS:\n  libiniparser1                   4.1-4ubuntu4.1\n\nIn general, a standard
        system update will make all the necessary changes.\n\nReferences:\n  https://ubuntu.com/security/notices/USN-6486-1\n
        \ CVE-2023-33461\n\nPackage Information:\n  https://launchpad.net/ubuntu/+source/iniparser/4.1-6ubuntu0.23.10.1\n
        \ https://launchpad.net/ubuntu/+source/iniparser/4.1-6ubuntu0.23.04.1\n  https://launchpad.net/ubuntu/+source/iniparser/4.1-4ubuntu4.1\n\n"
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Mon, 20 Nov 2023 16:28:03 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/feed/vulnerability.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\">\n
        \   <channel>\n        <title>Node.js Blog: Vulnerability Reports</title>\n
        \       <link>https://nodejs.org/en/feed/vulnerability.xml</link>\n        <description>Node.js\xAE
        is a JavaScript runtime built on Chrome's V8 JavaScript engine.</description>\n
        \       <lastBuildDate>Tue, 21 Nov 2023 22:56:50 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n
        \       <generator>https://github.com/jpmonette/feed</generator>\n        <language>en</language>\n
        \       <item>\n            <title><![CDATA[OpenSSL Recent Security Patches]]></title>\n
        \           <link>https://nodejs.org/en/blog/vulnerability/openssl-fixes-in-regular-releases-oct2023</link>\n
        \           <guid>/blog/vulnerability/openssl-fixes-in-regular-releases-oct2023</guid>\n
        \           <pubDate>Thu, 26 Oct 2023 17:00:15 GMT</pubDate>\n        </item>\n
        \       <item>\n            <title><![CDATA[Friday October 13 2023 Security
        Releases]]></title>\n            <link>https://nodejs.org/en/blog/vulnerability/october-2023-security-releases</link>\n
        \           <guid>/blog/vulnerability/october-2023-security-releases</guid>\n
        \           <pubDate>Fri, 13 Oct 20[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/openssl-fixes-in-regular-releases-oct2023
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\"/><link rel=\"preload\" as=\"image\" href=\"/static/images/logo.svg\"
        fetchPriority=\"high\"/><link rel=\"preload\" as=\"image\" href=\"/static/images/light-mode.svg\"
        fetchPriority=\"high\"/><link rel=\"preload\" as=\"image\" href=\"/static/images/dark-mode.svg\"
        fetchPriority=\"high\"/><link rel=\"preload\" as=\"image\" href=\"/static/images/language-picker.svg\"
        fetchPriority=\"high\"/><link rel=\"stylesheet\" href=\"/_next/static/css/4e258c93e56d1142.css\"
        data-precedence=\"next\"/><link rel=\"preload\" as=\"script\" fetchPriority=\"low\"
        href=\"/_next/static/chunks/webpack-10516319787dbea5.js\"/><script src=\"/_next/static/chunks/fd9d1056-8259f4ce7cf9e138.js\"
        async=\"\"></script><script src=\"/_next/static/chunks/333-1138e060a96c9def.js\"
        async=\"\"></script><script src=\"/_next/static/chunks/main-app-1baa86b259dc1e7a.js\"
        async=\"\"></script><script src=\"/_next/static/chunks/220-dac36a2ac6774be0.js\"
        async=\"\"></script><script src=\"/_next/static/chunks/534-3c814afb5b8d7634.js\"
        async=\"\"></script><script src=\"/_next/static/chunks/352-6cd646e4af6d99[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/october-2023-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/wof[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/august-2023-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/june-2023-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/february-2023-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/wo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/openssl-fixes-in-regular-releases-dec2022
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/november-2022-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/wo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/openssl-november-2022
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\"/><li[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/openssl-and-zlib-vulnerability-assessment
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/september-2022-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/july-2022-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/openssl-fixes-in-regular-releases-jun2022
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/openssl-fixes-in-regular-releases-may2022
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/mar-2022-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/jan-2022-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/oct-2021-security-releases
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nodejs.org/en/blog/vulnerability/aug-2021-security-releases2
  response:
    body:
      string: "<!DOCTYPE html><html class=\"__className_871400\" dir=\"ltr\" lang=\"en-GB\"><head><meta
        charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link
        rel=\"preload\" href=\"/_next/static/media/a9b61b60c2d733b4-s.p.woff2\" as=\"font\"
        crossorigin=\"\" type=\"font/woff2\[...]
