interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issuetype
  response:
    body:
      string: '[{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/3","id":"3","description":"A
        task that needs to be done.","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13278&avatarType=issuetype","name":"Task","subtask":false,"avatarId":13278},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/5","id":"5","description":"The
        sub-task of the issue","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13276&avatarType=issuetype","name":"Sub-task","subtask":true,"avatarId":13276},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/17","id":"17","description":"Created
        by Jira Software - do not edit or delete. Issue type for a user story.","iconUrl":"https://issues.sta[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/project/OSIM
  response:
    body:
      string: '{"expand": "description,lead,url,projectKeys", "self": "https://issues.stage.redhat.com/rest/api/2/project/12336420",
        "id": "12336420", "key": "OSIM", "description": "This project will serve Incident
        Response team as a task repository, managing the workflow in PSIR.", "lead":
        {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta@redhat.com",
        "key": "JIRAUSER196381", "name": "concosta@redhat.com", "avatarUrls": {"48x48":
        "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true}, "components": [], "issueTypes":
        [{"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/3", "id":
        "3", "description": "A task that needs to be done.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13278&avatarType=issuetype",
        "name": "Task", "subtask": false, "avatarId": 13278}, {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/5",
        "id": "5", "description": "The sub-task of the issue", "iconUrl": "https://issues.stage.redhat.com/secure/v[...]
- request:
    body: '{"fields": {"issuetype": {"id": "16"}, "project": {"id": "12336420"}, "description":
      "group for issues related to curl lib", "summary": "curl issues group", "customfield_12311141":
      "curl issues group"}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue
  response:
    body:
      string: '{"id": "14944317", "key": "OSIM-274", "self": "https://issues.stage.redhat.com/rest/api/2/issue/14944317"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-0
      x-arequestid:
      - 44x8417x1
      x-asessionid:
      - 154im53
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4778ce17.1682383493.18e5ca8a
      x-rh-edge-request-id:
      - 18e5ca8a
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3DOSIM+++++++++++++++++AND+labels%3D%22flawuuid%3A08b02ba4-d80e-4b3c-9a08-b86229f5f83c%22+++++++++++++++++AND+type%3D%22Story%22&maxResults=50&startAt=0&validateQuery=True
  response:
    body:
      string: '{"startAt": 0, "maxResults": 50, "total": 0, "issues": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-0
      x-arequestid:
      - 44x8418x1
      x-asessionid:
      - 1g0sp61
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4778ce17.1682383493.18e5d5b3
      x-rh-edge-request-id:
      - 18e5d5b3
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"fields": {"issuetype": {"id": "17"}, "project": {"id": "12336420"}, "summary":
      "CVE-2020-0002 kernel: some description", "description": "Description for CVE-2020-0002",
      "labels": ["flawuuid:08b02ba4-d80e-4b3c-9a08-b86229f5f83c"]}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue
  response:
    body:
      string: '{"id": "14944318", "key": "OSIM-275", "self": "https://issues.stage.redhat.com/rest/api/2/issue/14944318"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-0
      x-arequestid:
      - 44x8423x2
      x-asessionid:
      - 10hiz33
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4778ce17.1682383494.18e5d7ef
      x-rh-edge-request-id:
      - 18e5d7ef
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-275
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "14944318", "self": "https://issues.stage.redhat.com/rest/api/2/issue/14944318",
        "key": "OSIM-275", "fields": {"customfield_12322440": null, "issuetype": {"self":
        "https://issues.stage.redhat.com/rest/api/2/issuetype/17", "id": "17", "description":
        "Created by Jira Software - do not edit or delete. Issue type for a user story.",
        "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13275&avatarType=issuetype",
        "name": "Story", "subtask": false, "avatarId": 13275}, "customfield_12322441":
        null, "customfield_12322244": null, "customfield_12318341": null, "timespent":
        null, "customfield_12320940": null, "project": {"self": "https://issues.stage.redhat.com/rest/api/2/project/12336420",
        "id": "12336420", "key": "OSIM", "name": "Open Security Issue Manager", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/projectavatar?pid=12336420&avatarId=12560",
        "24x24": "https://issues.stage.redhat.com/secure/projectavatar?size=small&pid=12336420&avatarId=12560",
        "16x16": "https://issues.stage.redhat.com/secure/projectavatar?size=xsmall&pid=12336420&avatarId=12560",
        "32x32": "https://issues.stage.redhat.com/secure/projectavatar?size=medium&pid=12336420&avatarId=12560"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@9f1071c[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1f04ce24[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@14d8de15[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@2d145744[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@38d33e18[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@2ac3b9cc[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@78b9e2f7[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@779834d3[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@561af7c6[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@61202910[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@5639d199[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@60315921[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":true}}",
        "resolutiondate": null, "workratio": -1, "customfield_12317379": null, "customfield_12316840":
        null, "customfield_12315950": null, "customfield_12316841": null, "customfield_12310940":
        null, "customfield_12319040": null, "lastViewed": null, "watches": {"self":
        "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-275/watchers", "watchCount":
        1, "isWatching": true}, "created": "2023-04-25T00:44:53.800+0000", "customfield_12321240":
        null, "customfield_12313140": null, "priority": {"self": "https://issues.stage.redhat.com/rest/api/2/priority/10300",
        "iconUrl": "https://issues.stage.redhat.com/images/icons/priorities/trivial.svg",
        "name": "Undefined", "id": "10300"}, "labels": ["flawuuid:08b02ba4-d80e-4b3c-9a08-b86229f5f83c"],
        "customfield_12320947": [{"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-04-25T00:44:53.800+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.stage.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.stage.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.stage.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [], "timeoriginalestimate": null, "description": "Description for CVE-2020-0002",
        "customfield_12314040": null, "customfield_12320844": null, "timetracking":
        {}, "customfield_12320842": null, "archiveddate": null, "customfield_12310243":
        null, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "CVE-2020-0002 kernel: some description", "creator": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "GMT"}, "subtasks":
        [], "customfield_12321140": null, "customfield_12320850": null, "reporter":
        {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "GMT"}, "aggregateprogress":
        {"progress": 0, "total": 0}, "customfield_12310211": null, "customfield_12313441":
        "", "customfield_12315542": null, "customfield_12315740": null, "customfield_12313440":
        "0.0", "duedate": null, "customfield_12313240": null, "customfield_12311140":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "comment": {"comments": [], "maxResults": 0, "total": 0, "startAt": 0}, "votes":
        {"self": "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-275/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12319743": null, "customfield_12310213":
        null, "archivedby": null, "customfield_12311940": "1|za1110:"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-0
      x-arequestid:
      - 44x8425x1
      x-asessionid:
      - 45mxv8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4778ce17.1682383495.18e5e1f4
      x-rh-edge-request-id:
      - 18e5e1f4
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"fields": {"customfield_12311140": "OSIM-274"}, "update": {}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/14944318
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-0
      x-arequestid:
      - 44x8432x1
      x-asessionid:
      - 187lqmi
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.4778ce17.1682383498.18e5f3df
      x-rh-edge-request-id:
      - 18e5f3df
      x-seraph-loginreason:
      - OK
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3DOSIM+++++++++++++++++AND+cf%5B12311140%5D%3D%22OSIM-274%22&maxResults=50&startAt=0&validateQuery=True
  response:
    body:
      string: '{"expand": "schema,names", "startAt": 0, "maxResults": 50, "total":
        2, "issues": [{"expand": "operations,versionedRepresentations,editm[...]
