interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3D%22OSIM%22+AND+labels%3D%22flawuuid%3Abbb87fd5-5935-4df0-a39c-ca7f13cfd99e%22+AND+type%3D%22Story%22&startAt=0&validateQuery=True
  response:
    body:
      string: '{"startAt": 0, "maxResults": 50, "total": 0, "issues": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 1320x96198x1
      x-asessionid:
      - f5ukzr
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.554e4e68.1685311250.b5c6ff0a
      x-rh-edge-request-id:
      - b5c6ff0a
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issuetype
  response:
    body:
      string: '[{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/3","id":"3","description":"A
        task that needs to be done.","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13278&avatarType=issuetype","name":"Task","subtask":false,"avatarId":13278},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/5","id":"5","description":"The
        sub-task of the issue","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13276&avatarType=issuetype","name":"Sub-task","subtask":true,"avatarId":13276},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/17","id":"17","description":"Created
        by Jira Software - do not edit or delete. Issue type for a user story.","iconUrl":"https://issues.sta[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/project/OSIM
  response:
    body:
      string: '{"expand": "description,lead,url,projectKeys", "self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "description": "This project will serve Incident
        Response team as a task repository, managing the workflow in PSIR and integrating
        with OSIDB.", "lead": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta@redhat.com",
        "key": "JIRAUSER196381", "name": "concosta@redhat.com", "avatarUrls": {"48x48":
        "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true}, "components": [], "issueTypes":
        [{"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/3", "id":
        "3", "description": "A task that needs to be done.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13278&avatarType=issuetype",
        "name": "Task", "subtask": false, "avatarId": 13278}, {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/5",
        "id": "5", "description": "The sub-task of the issue", "iconUrl": "https://issues.stage.redhat.com/secure/v[...]
- request:
    body: '{"fields": {"issuetype": {"id": "17"}, "project": {"id": "12337520"}, "summary":
      "CVE-2020-0004 kernel: some description", "description": "Description for CVE-2020-0004",
      "labels": ["flawuuid:bbb87fd5-5935-4df0-a39c-ca7f13cfd99e"]}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue
  response:
    body:
      string: '{"id": "15282719", "key": "OSIM-10", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15282719"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 1320x96201x1
      x-asessionid:
      - 17l4qzo
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.554e4e68.1685311251.b5c7072a
      x-rh-edge-request-id:
      - b5c7072a
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-10
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "15282719", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15282719",
        "key": "OSIM-10", "fields": {"issuetype": {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/17",
        "id": "17", "description": "Created by Jira Software - do not edit or delete.
        Issue type for a user story.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13275&avatarType=issuetype",
        "name": "Story", "subtask": false, "avatarId": 13275}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "name": "Open Security Issue Manager", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/projectavatar?pid=12337520&avatarId=12560",
        "24x24": "https://issues.stage.redhat.com/secure/projectavatar?size=small&pid=12337520&avatarId=12560",
        "16x16": "https://issues.stage.redhat.com/secure/projectavatar?size=xsmall&pid=12337520&avatarId=12560",
        "32x32": "https://issues.stage.redhat.com/secure/projectavatar?size=medium&pid=12337520&avatarId=12560"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@3faec92a[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@363e6b8[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@3fe7c368[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@23adb40a[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@60519130[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@5b3bff8b[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@5ac69b07[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@148569b1[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@78b1b200[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@7c72dd3a[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@12826f10[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@2df55410[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":true}}",
        "resolutiondate": null, "workratio": -1, "customfield_12316840": null, "customfield_12317379":
        null, "customfield_12315950": null, "customfield_12316841": null, "customfield_12310940":
        null, "customfield_12319040": null, "lastViewed": null, "watches": {"self":
        "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-10/watchers", "watchCount":
        1, "isWatching": true}, "created": "2023-05-28T22:00:51.100+0000", "customfield_12321240":
        null, "customfield_12313140": null, "priority": {"self": "https://issues.stage.redhat.com/rest/api/2/priority/10300",
        "iconUrl": "https://issues.stage.redhat.com/images/icons/priorities/trivial.svg",
        "name": "Undefined", "id": "10300"}, "labels": ["flawuuid:bbb87fd5-5935-4df0-a39c-ca7f13cfd99e"],
        "customfield_12320947": [{"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-05-28T22:00:51.100+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.stage.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.stage.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.stage.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [], "timeoriginalestimate": null, "description": "Description for CVE-2020-0004",
        "customfield_12314040": null, "customfield_12320844": null, "archiveddate":
        null, "timetracking": {}, "customfield_12320842": null, "customfield_12310243":
        null, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "CVE-2020-0004 kernel: some description", "creator": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "subtasks": [], "customfield_12321140": null, "reporter": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "customfield_12320850": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12310211": null, "customfield_12315542": null, "customfield_12315740":
        null, "customfield_12313240": null, "duedate": null, "customfield_12311140":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "comment": {"comments": [], "maxResults": 0, "total": 0, "startAt": 0}, "votes":
        {"self": "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-10/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12319743": null, "customfield_12310213":
        null, "archivedby": null, "customfield_12311940": "1|zbkiuc:"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 1320x96202x1
      x-asessionid:
      - 6iqdwv
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.554e4e68.1685311251.b5c7103e
      x-rh-edge-request-id:
      - b5c7103e
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3DOSIM+++++++++++++++++AND+assignee+is+EMPTY+++++++++++++++++AND+type%3D%22Story%22&maxResults=50&startAt=0&validateQuery=True
  response:
    body:
      string: '{"expand": "schema,names", "startAt": 0, "maxResults": 50, "total":
        5, "issues": [{"expand": "operations,version[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/user/search?includeActive=True&includeInactive=False&maxResults=1&username=concosta%40redhat.com
  response:
    body:
      string: '[{"self":"https://issues.stage.redhat.com/rest/api/2/user?username=concosta@redhat.com","key":"JIRAUSER196381","name":"concosta@redhat.com","emailAddress":"concosta+stage@redhat.com","avatarUrls":{"48x48":"https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326","24x24":"https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326","16x16":"https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326","32x32":"https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},"displayName":"Conrado
        Costa","active":true,"deleted":false,"timeZone":"America/New_York","locale":"en_US"}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 1320x96205x1
      x-asessionid:
      - 1bfbpvs
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.554e4e68.1685311252.b5c719e3
      x-rh-edge-request-id:
      - b5c719e3
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "concosta@redhat.com"}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/api/latest/issue/OSIM-10/assignee
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-1
      x-arequestid:
      - 1320x96206x1
      x-asessionid:
      - 1tnmakp
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.554e4e68.1685311252.b5c71d0d
      x-rh-edge-request-id:
      - b5c71d0d
      x-seraph-loginreason:
      - OK
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3DOSIM+++++++++++++++++AND+assignee%3D%22concosta%40redhat.com%22+++++++++++++++++AND+type%3D%22Story%22&maxResults=50&startAt=0&validateQuery=True
  response:
    body:
      string: '{"expand": "names,schema", "startAt": 0, "maxResults": 50, "total":
        1, "issues": [{"expand"[...]
