interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/search?jql=PROJECT%3D%22OSIM%22+AND+labels%3D%22flawuuid%3A98c0c5fd-b2fc-46cb-adf4-5de2bdce2737%22+AND+type%3D%22Story%22&startAt=0&validateQuery=True
  response:
    body:
      string: '{"startAt": 0, "maxResults": 50, "total": 0, "issues": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 733x36608x2
      x-asessionid:
      - 5xkzca
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7ef02217.1689077588.1e46c895
      x-rh-edge-request-id:
      - 1e46c895
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issuetype
  response:
    body:
      string: '[{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/2","id":"2","description":"Feature
        requests from customers and/or users","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13271&avatarType=issuetype","name":"Feature
        Request","subtask":false,"avatarId":13271},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/13","id":"13","description":"An
        enhancement or refactoring of existing functionality","iconUrl":"https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13269&avatarType=issuetype","name":"Enhancement","subtask":false,"avatarId":13269},{"self":"https://issues.stage.redhat.com/rest/api/2/issuetype/1","id":"1","description":"A
        problem which impairs or prevents the functions of the product.","iconUrl[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/project/OSIM
  response:
    body:
      string: '{"expand": "description,lead,url,projectKeys", "self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "description": "This project will serve Incident
        Response team as a task repository, managing the workflow in PSIR and integrating
        with OSIDB.", "lead": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta@redhat.com",
        "key": "JIRAUSER196381", "name": "concosta@redhat.com", "avatarUrls": {"48x48":
        "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true}, "components": [], "issueTypes":
        [{"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/2", "id":
        "2", "description": "Feature requests from customers and/or users", "iconUrl":
        "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13271&avatarType=issuetype",
        "name": "Feature Request", "subtask": false, "avatarId": 13271}, {"self":
        "https://issues.stage.redhat.com/rest/api/2/issuetype/13", "id": "13", "description":
        "An enhancement or refactoring of exi[...]
- request:
    body: '{"fields": {"issuetype": {"id": "17"}, "project": {"id": "12337520"}, "summary":
      "CVE-2020-0001 kernel: some description", "description": "Description for CVE-2020-0001",
      "labels": ["flawuuid:98c0c5fd-b2fc-46cb-adf4-5de2bdce2737", "impact:MODERATE"]}}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue
  response:
    body:
      string: '{"id": "15284443", "key": "OSIM-248", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15284443"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 733x36611x2
      x-asessionid:
      - 1szbl7u
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7ef02217.1689077590.1e46cdb3
      x-rh-edge-request-id:
      - 1e46cdb3
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-248
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "15284443", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15284443",
        "key": "OSIM-248", "fields": {"issuetype": {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/17",
        "id": "17", "description": "Created by Jira Software - do not edit or delete.
        Issue type for a user story.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13275&avatarType=issuetype",
        "name": "Story", "subtask": false, "avatarId": 13275}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "name": "Open Security Issue Manager", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/projectavatar?pid=12337520&avatarId=12560",
        "24x24": "https://issues.stage.redhat.com/secure/projectavatar?size=small&pid=12337520&avatarId=12560",
        "16x16": "https://issues.stage.redhat.com/secure/projectavatar?size=xsmall&pid=12337520&avatarId=12560",
        "32x32": "https://issues.stage.redhat.com/secure/projectavatar?size=medium&pid=12337520&avatarId=12560"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@1e5ca01d[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1bbe8e0[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@75243fcd[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@2b862561[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@169396c7[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@155af27[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@55db2297[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@4f6ca860[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@45432ae4[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@69c399fc[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@6580d1c9[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@4f855ab1[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}",
        "resolutiondate": null, "workratio": -1, "customfield_12316840": null, "customfield_12317379":
        null, "customfield_12315950": null, "customfield_12316841": null, "customfield_12310940":
        null, "customfield_12319040": null, "lastViewed": null, "watches": {"self":
        "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-248/watchers", "watchCount":
        1, "isWatching": true}, "created": "2023-07-11T12:13:09.645+0000", "customfield_12321240":
        null, "customfield_12313140": null, "priority": {"self": "https://issues.stage.redhat.com/rest/api/2/priority/10300",
        "iconUrl": "https://issues.stage.redhat.com/images/icons/priorities/trivial.svg",
        "name": "Undefined", "id": "10300"}, "labels": ["flawuuid:98c0c5fd-b2fc-46cb-adf4-5de2bdce2737",
        "impact:MODERATE"], "customfield_12320947": [{"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-07-11T12:13:09.645+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.stage.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.stage.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.stage.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [], "timeoriginalestimate": null, "description": "Description for CVE-2020-0001",
        "customfield_12314040": null, "customfield_12320844": null, "archiveddate":
        null, "timetracking": {}, "customfield_12320842": null, "customfield_12310243":
        null, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "CVE-2020-0001 kernel: some description", "creator": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "subtasks": [], "customfield_12321140": null, "reporter": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "customfield_12320850": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12310211": null, "environment": null, "customfield_12315542":
        null, "customfield_12315740": null, "customfield_12313240": null, "duedate":
        null, "customfield_12311140": null, "customfield_12319742": null, "progress":
        {"progress": 0, "total": 0}, "comment": {"comments": [], "maxResults": 0,
        "total": 0, "startAt": 0}, "votes": {"self": "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-248/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12319743": null, "customfield_12310213":
        null, "archivedby": null, "customfield_12311940": "1|zbksec:"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 733x36613x2
      x-asessionid:
      - oddkns
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7ef02217.1689077590.1e46d154
      x-rh-edge-request-id:
      - 1e46d154
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: '{"body": "This is a new comment"}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-248/comment
  response:
    body:
      string: '{"self": "https://issues.stage.redhat.com/rest/api/2/issue/15284443/comment/22353036",
        "id": "22353036", "author": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "body": "This is a new comment", "updateAuthor": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "created": "2023-07-11T12:13:10.792+0000", "updated": "2023-07-11T12:13:10.792+0000"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://issues.stage.redhat.com/rest/api/2/issue/15284443/comment/22353036
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 733x36614x2
      x-asessionid:
      - 8pkp4w
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.7ef02217.1689077591.1e46d417
      x-rh-edge-request-id:
      - 1e46d417
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-248/comment/22353036
  response:
    body:
      string: '{"self": "https://issues.stage.redhat.com/rest/api/2/issue/15284443/comment/22353036",
        "id": "22353036", "author": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "con[...]
- request:
    body: '{"body": "This is a edited comment"}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: PUT
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/15284443/comment/22353036
  response:
    body:
      string: '{"self": "https://issues.stage.redhat.com/rest/api/2/issue/15284443/comment/22353036",
        "id": "22353036", "author": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%4[...]
[...]
