interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/85800/bugs.json
  response:
    body:
      string: '[{"id":2030932,"is_security":true,"last_updated":"2022-02-22T16:20:26Z","qa_whiteboard":"","reconciled_at":"2022-03-11T14:17:41Z","alias":"CVE-2021-44228","release_notes":"A
        flaw was found in the Apache Log4j logging library in versions from 2.0.0
        and before 2.15.0. A remote attacker who can control log messages or log message
        parameters, can execute arbitrary code on the server via JNDI LDAP endpoint.","flags":"hightouch+,needinfo?,requires_doc_text+","is_exception":false,"is_private":false,"package":"vulnerability","pm_score":0,"short_desc":"CVE-2021-44228
        log4j-core: Remote code execution in Log4j 2.x when logs contain an attacker-controlled
        string value","was_marked_on_qa":false,"bug_status":"CLOSED","issuetrackers":"","keywords":"Security","priority":"urgent","verified":"","bug_severity":"","is_blocker":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"02c07bcae5eea94379cba29e9e793296-gzip"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/85800/jira_issues.json
  response:
    body:
      string: '[{"id_jira":14388394,"key":"LOG-2064","summary":"CVE-2021-44228 logging-elasticsearch6-container:
        log4j-core: Remote code execution in Log4j 2.x when logs contain an attacker-controlled
        string value [openshift-logging-5]","status":"Closed","is_private":true,"labels":["CVE-2021-44228","Security","SecurityTracking","pscomponent:logging-elasticsearch6-container"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cfe10e1253abd59276ce6a794b793963-gzip"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
