interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/86100/bugs.json
  response:
    body:
      string: '[{"id":2019660,"is_security":true,"last_updated":"2022-01-17T14:11:21Z","qa_whiteboard":"","reconciled_at":"2022-01-17T14:12:26Z","alias":"CVE-2016-2124","release_notes":"A
        flaw was found in the way samba implemented SMB1 authentication. An attacker
        could use this flaw to retrieve the plaintext password sent over the wire
        even if Kerberos authentication was required.","flags":"requires_doc_text+","is_exception":false,"is_private":false,"package":"vulnerability","pm_score":0,"short_desc":"CVE-2016-2124
        samba: SMB1 client connections can be downgraded to plaintext authentication","was_marked_on_qa":false,"bug_status":"CLOSED","issuetrackers":"","keywords":"Security","priority":"medium","verified":"","bug_severity":"","is_blocker":false},{"id":2019672,"is_security":true,"last_updated":"2022-02-07T10:46:24Z","qa_whiteboard":"","reconciled_at":"2022-02-08T05:38:22Z","alias":"CVE-2020-25717","release_notes":"A
        flaw was found in the way Samba maps domain users to local users. An authenticated
        attacker could use this flaw to cause possible privilege escalation.","flags":"requires_doc_text+","is_exception":false,"is_private":false,"package":"vulnerability","pm_score":0,"short_desc":"CVE-2020-25717
        samba:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/86100/jira_issues.json
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/86100/jira_issues.json
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
