interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/cve/list.json
  response:
    body:
      string: '{"134": {"cve": ["CVE-2000-1134"], "advisory": "RHSA-2000:121", "issue_date":
        "2000-11-30T00:00:00Z", "update_date": "2000-12-01T00:00:00Z", "actual_ship_date":
        "2000-11-30T00:00:00Z"}, "135": {"cve": ["CVE-2000-0715"], "advisory": "RHSA-2000:122",
        "issue_date": "2000-12-01T00:00:00Z", "update_date": "2000-12-10T00:00:00Z",
        "actual_ship_date": "2000-12-01T00:00:00Z"}, "136": {"cve": ["CVE-2000-1137"],
        "advisory": "RHSA-2000:123", "issue_date": "2000-12-06T00:00:00Z", "update_date":
        "2000-12-06T00:00:00Z", "actual_ship_date": "2000-12-06T00:00:00Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b33ba6bbad6a7febe234f1ed0729608-gzip"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/134.json
  response:
    body:
      string: '{"id":134,"type":"RHSA","text_only":false,"advisory_name":"RHSA-2000:121","synopsis":": Updated tcsh packages are now available for Red Hat Linux.","revision":4,"status":"SHIPPED_LIVE","security_impact":"","is_operator_hotfix":false,"skip_customer_notifications":false,"prevent_auto_push_ready":false,"suppress_push_request_jira":false,"respin_count":0,"pushcount":1,"content_types":[],"timestamps":{"issue_date":"2000-11-30T00:00:00Z","update_date":"2000-12-01T00:00:00Z","release_date":null,"status_time":"2000-11-30T00:00:00Z","security_sla":null,"created_at":"2000-11-30T00:00:00Z","updated_at":"2017-05-16T08:44:02Z","actual_ship_date":"2000-11-30T00:00:00Z","publish_date":null,"embargo_date":null},"flags":{"text_ready":false,"mailed":true,"pushed":true,"published":true,"deleted":false,"qa_complete":true,"rhn_complete":false,"doc_complete":false,"rhnqa":true,"closed":true,"sign_requested":false,"embargo_undated":false},"product":{"id":2,"name":"Red Hat Linux","short_name":"RHL"},"release":{"id":21,"name":"ASYNC"},"people":{"assigned_to":"jturner@redhat.com","reporter":"dkl@redhat.com","qe_group":"Default","docs_group":"Default","doc_reviewer":"docs-errata-list@redhat.com","devel_group":"Default","package_owner":"dkl@redhat.com","security_reviewer":null},"content":{"topic":"Updated tcsh packages are now available for Red Hat Linux 5.2, 6.x, and 7.","description":"Versions 6.09 and below of tcsh are vulnerable to a symbolic link attack. \nThis attack can be used to cause users to destroy the contents of any file\nto which they have write access.","solution":"For each RPM for your particular architecture, run:\n\nrpm -Fvh [filename]\n\nwhere filename is the name of the RPM.","keywords":"tcsh symlink vulnerability"}}'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - '"a33-5efdc210fbf64"'
      Last-Modified:
      - Thu, 15 Dec 2022 11:26:50 GMT
      WWW-Authenticate:
      - Negotiate
    status:
      code: 200
      message: OK
[...]
