interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>get_advisory_list</methodName>

      <params>

      <param>

      <value><struct>

      <member>

      <name>updated_at</name>

      <value><dateTime.iso8601>20220421T20:12:00</dateTime.iso8601></value>

      </member>

      <member>

      <name>per_page</name>

      <value><int>100</int></value>

      </member>

      <member>

      <name>page</name>

      <value><int>1</int></value>

      </member>

      </struct></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://errata.stage.engineering.redhat.com/errata/errata_service
  response:
    body:
      string: '<?xml version="1.0" ?><methodResponse><params><param><value><array><data><value><struct><member><name>advisory_name</name><value><string>RHBA-2021:62837-01</string></value></member><member><name>errata_id</name><value><i4>62837</i4></value></member><member><name>status</name><value><string>QE</string></value></member><member><name>synopsis</name><value><string>RPM-
        releng-training-pkhander for 2.0</string></value></member><member><name>priority</name><value><string>normal</string></value></member><member><name>product</name><value><string>RHCMTP-pkhander</string></value></member><member><name>errata_type</name><value><string>RHBA</string></value></member><member><name>content_types</name><value><array><da[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>get_advisory_list</methodName>

      <params>

      <param>

      <value><struct>

      <member>

      <name>updated_at</name>

      <value><dateTime.iso8601>20220421T20:12:00</dateTime.iso8601></value>

      </member>

      <member>

      <name>per_page</name>

      <value><int>100</int></value>

      </member>

      <member>

      <name>page</name>

      <value><int>2</int></value>

      </member>

      </struct></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://errata.stage.engineering.redhat.com/errata/errata_service
  response:
    body:
      string: '<?xml version="1.0" ?><methodResponse><params><param><value><array><data/></array></value></param></params></methodResponse>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      ETag:
      - W/"4f711e192399b05a69008dfd77d7a8e5-gzip"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
