interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/cve/list.json
  response:
    body:
      string: '{"134":{"cve":["CVE-2000-1134"],"advisory":"RHSA-2000:121","issue_date":"2000-11-30T00:00:00Z","update_date":"2000-12-01T00:00:00Z","actual_ship_date":"2000-11-30T00:00:00Z"},"135":{"cve":["CVE-2000-0715"],"advisory":"RHSA-2000:122","issue_date":"2000-12-01T00:00:00Z","update_date":"2000-12-10T00:00:00Z","actual_ship_date":"2000-12-01T00:00:00Z"},"136":{"cve":["CVE-2000-1137"],"advisory":"RHSA-2000:123","issue_date":"2000-12-06T00:00:00Z","update_date":"2000-12-06T00:00:00Z","actual_ship_date":"2000-12-06T00:00:00Z"},"138":{"cve":["CVE-2000-1211"],"advisory":"RHSA-2000:125","issue_date":"2000-12-13T00:00:00Z","update_date":"2000-12-15T00:00:00[...]
