interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/85801/bugs.json
  response:
    body:
      string: '[{"id":2032036,"is_security":false,"last_updated":"2021-12-13T22:42:06Z","qa_whiteboard":"","reconciled_at":"2021-12-13T22:43:04Z","alias":"","release_notes":"","flags":"devel_ack+,pm_ack+,qa_ack+,release-e2e-test-1.0-updates+","is_exception":false,"is_private":true,"package":"releng","pm_score":0,"short_desc":"This
        is a test bug to ensure proper operation of our release infrastructure.","was_marked_on_qa":true,"bug_status":"CLOSED","issuetrackers":"","keywords":"Rebase","priority":"unspecified","verified":"","bug_severity":"","is_blocker":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3830f671543aff2d3eedf9b07c4ba310-gzip"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://errata.stage.engineering.redhat.com/advisory/85801/jira_issues.json
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
