interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://services.nvd.nist.gov/rest/json/cves/2.0?lastModEndDate=2010-04-11T00%3A00%3A00%2B00%3A00&lastModStartDate=2010-01-01T00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"resultsPerPage": 300, "startIndex": 0, "totalResults": 300, "format":
        "NVD_CVE", "version": "2.0", "timestamp": "2023-04-13T13:09:42.080", "vulnerabilities":
        [{"cve": {"id": "CVE-2000-0835", "sourceIdentifier": "cve@mitre.org", "published":
        "2000-11-14T05:00:00.000", "lastModified": "2010-01-16T05:00:00.000", "vulnStatus":
        "Analyzed", "descriptions": [{"lang": "en", "value": "search.dll Sambar ISAPI
        Search utility in Sambar Server 4.4 Beta 3 allows remote attackers to read
        arbitrary directories by specifying the directory in the query parameter."}],
        "metrics": {"cvssMetricV2": [{"source": "nvd@nist.gov", "type": "Primary",
        "cvssData": {"version": "2.0", "vectorString": "AV:N/AC:L/Au:N/C:P/I:N/A:N",
        "accessVector": "NETWORK", "accessComplexity": "LOW", "authentication": "NONE",
        "confidentialityImpact": "PARTIAL", "integrityImpact": "NONE", "availabilityImpact":
        "NONE", "baseScore": 5.0}, "baseSeverity": "MEDIUM", "exploitabilityScore":
        10.0, "impactScore": 2.9, "acInsufInfo": false, "obtainAllPrivilege": false,
        "obtainUserPrivilege": false, "obtainOtherPrivilege": false, "userInteractionRequired":
        false}]}, "weaknesses": [{"source": "nvd@nist.gov", "type": "Primary", "description":
        [{"lang": "en", "value": "NVD-CWE-Other"}]}], "configurations": [{"nodes":
        [{"operator": "OR", "negate": false, "cpeMatch": [{"vulnerable": true, "criteria":
        "cpe:2.3:a:sambar:sambar_server:4.3:*:*:*:*:*:*:*", "matchCriteriaId": "94F70201-3D0E-463A-82B8-4CDE086EAF61"},
        {"vulnerable": true, "criteria": "cpe:2.3:a:sambar:sambar_server:4.4:beta3:*:*:*:*:*:*",
        "matchCriteriaId": "2147F86B-2293-4D20-B5FC-58F5DA936D7D"}]}]}], "references":
        [{"url": "http://archives.neohapsis.com/archives/bugtraq/2000-09/0175.html",
        "source": "cve@mitre.org"}, {"url": "http://www.securityfocus.com/bid/1684",
        "source": "cve@mitre.org", "tags": ["Exploit", "Patch", "Vendor Advisory"]}]}},
        {"cve": {"id": "CVE-2002-0596", "sourceIdentifier": "cve@mitre.org", "published":
        "2002-06-18T04:00:00.000", "lastModified": "2010-01-16T05:00:00.000", "vulnStatus":
        "Analyzed", "descriptions": [{"lang": "en", "value": "WebTrends Reporting
        Center 4.0d allows remote attackers to determine the real path of the web
        server via a GET request to get_od_toc.pl with an empty Profile parameter,
        which leaks the p[...]
