interactions:
- request:
    body: '{"issueUpdates": [{"fields": {"project": {"key": "OSIM"}, "issuetype":
      {"name": "Bug"}, "priority": {"name": "Normal"}, "summary": "CVE-2999-2001 fixed-ps-component-0:
      CVE-2999-2001 kernel: some description [bar-1.2.3]", "description": "Public
      Security Tracking Issue\nhttps://osidb.prodsec.redhat.com/osidb/api/v1/flaws/0bd02877-e04c-4174-a436-cafb7b79f111.\n",
      "labels": ["pscomponent:fixed-ps-component-0", "CVE-2999-2001", "Security",
      "SecurityTracking"]}}]}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/bulk
  response:
    body:
      string: '{"issues": [{"id": "15282986", "key": "OSIM-190", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15282986"}],
        "errors": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 1378x166948x2
      x-asessionid:
      - 52w5ed
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1685573922.8649327
      x-rh-edge-request-id:
      - '8649327'
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/OSIM-190
  response:
    body:
      string: '{"expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
        "id": "15282986", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15282986",
        "key": "OSIM-190", "fields": {"issuetype": {"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.stage.redhat.com/rest/api/2/project/12337520",
        "id": "12337520", "key": "OSIM", "name": "Open Security Issue Manager", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/projectavatar?pid=12337520&avatarId=12560",
        "24x24": "https://issues.stage.redhat.com/secure/projectavatar?size=small&pid=12337520&avatarId=12560",
        "16x16": "https://issues.stage.redhat.com/secure/projectavatar?size=xsmall&pid=12337520&avatarId=12560",
        "32x32": "https://issues.stage.redhat.com/secure/projectavatar?size=medium&pid=12337520&avatarId=12560"}},
        "fixVersions": [], "customfield_12320944": null, "aggregatetimespent": null,
        "resolution": null, "customfield_12310220": null, "customfield_12314740":
        "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@e966065[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@5296d954[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@4b5bcc68[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@2fe3e02e[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@10202af0[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@7ec1f0a8[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@6b6c4b94[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@5b3e2447[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@4ad8f27a[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@3bed1f39[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@3254d33b[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@18e2d52a[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}",
        "customfield_12310183": null, "resolutiondate": null, "workratio": -1, "customfield_12316840":
        null, "customfield_12317379": null, "customfield_12315950": null, "customfield_12316841":
        null, "customfield_12310940": null, "customfield_12319040": null, "lastViewed":
        null, "watches": {"self": "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-190/watchers",
        "watchCount": 1, "isWatching": true}, "created": "2023-05-31T22:58:41.275+0000",
        "customfield_12321240": null, "customfield_12313140": null, "priority": {"self":
        "https://issues.stage.redhat.com/rest/api/2/priority/10200", "iconUrl": "https://issues.stage.redhat.com/images/icons/priorities/medium.svg",
        "name": "Normal", "id": "10200"}, "labels": ["CVE-2999-2001", "Security",
        "SecurityTracking", "pscomponent:fixed-ps-component-0"], "customfield_12320947":
        [{"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27714",
        "value": "Unclassified", "id": "27714", "disabled": false}], "customfield_12320946":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/27705",
        "value": "False", "id": "27705", "disabled": false}, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [], "issuelinks": [], "assignee":
        null, "updated": "2023-05-31T22:58:41.275+0000", "customfield_12313942": null,
        "customfield_12313941": null, "status": {"self": "https://issues.stage.redhat.com/rest/api/2/status/10016",
        "description": "Initial creation status. Implies nothing yet and should be
        very short lived; also can be a Bugzilla status.", "iconUrl": "https://issues.stage.redhat.com/images/icons/statuses/generic.png",
        "name": "New", "id": "10016", "statusCategory": {"self": "https://issues.stage.redhat.com/rest/api/2/statuscategory/2",
        "id": 2, "key": "new", "colorName": "default", "name": "To Do"}}, "components":
        [], "customfield_12316142": null, "timeoriginalestimate": null, "description":
        "Public Security Tracking Issue\nhttps://osidb.prodsec.redhat.com/osidb/api/v1/flaws/0bd02877-e04c-4174-a436-cafb7b79f111.\n",
        "customfield_12314040": null, "customfield_12320844": null, "archiveddate":
        null, "timetracking": {}, "customfield_12320842": null, "customfield_12310243":
        null, "attachment": [], "aggregatetimeestimate": null, "customfield_12316542":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14655",
        "value": "False", "id": "14655", "disabled": false}, "customfield_12316543":
        {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/14657",
        "value": "False", "id": "14657", "disabled": false}, "customfield_12317313":
        null, "customfield_12316544": "None", "customfield_12310840": "9223372036854775807",
        "summary": "CVE-2999-2001 fixed-ps-component-0: CVE-2999-2001 kernel: some
        description [bar-1.2.3]", "creator": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "subtasks": [], "customfield_12321140": null, "reporter": {"self": "https://issues.stage.redhat.com/rest/api/2/user?username=concosta%40redhat.com",
        "name": "concosta@redhat.com", "key": "JIRAUSER196381", "emailAddress": "concosta+stage@redhat.com",
        "avatarUrls": {"48x48": "https://issues.stage.redhat.com/secure/useravatar?ownerId=JIRAUSER196381&avatarId=41326",
        "24x24": "https://issues.stage.redhat.com/secure/useravatar?size=small&ownerId=JIRAUSER196381&avatarId=41326",
        "16x16": "https://issues.stage.redhat.com/secure/useravatar?size=xsmall&ownerId=JIRAUSER196381&avatarId=41326",
        "32x32": "https://issues.stage.redhat.com/secure/useravatar?size=medium&ownerId=JIRAUSER196381&avatarId=41326"},
        "displayName": "Conrado Costa", "active": true, "timeZone": "America/New_York"},
        "customfield_12320850": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12310211": null, "customfield_12315542": null, "customfield_12315740":
        null, "customfield_12313240": null, "duedate": null, "customfield_12311140":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "comment": {"comments": [], "maxResults": 0, "total": 0, "startAt": 0}, "votes":
        {"self": "https://issues.stage.redhat.com/rest/api/2/issue/OSIM-190/votes",
        "votes": 0, "hasVoted": false}, "worklog": {"startAt": 0, "maxResults": 20,
        "total": 0, "worklogs": []}, "customfield_12319743": null, "customfield_12310213":
        null, "archivedby": null, "customfield_12311940": "1|zbkkic:"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 1378x166949x2
      x-asessionid:
      - oe4p42
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1685573922.864a576
      x-rh-edge-request-id:
      - 864a576
      x-seraph-loginreason:
      - OK
    status:
      code: 200
      message: OK
- request:
    body: '{"issueUpdates": [{"fields": {"project": {"key": "OSIM"}, "issuetype":
      {"name": "Bug"}, "priority": {"name": "Critical"}, "summary": "CVE-2999-2002
      fixed-ps-component-1: EMBARGOED CVE-2999-2002 kernel: some description [bar-1.2.3]",
      "description": "Security Tracking Issue\n\nDo not make this issue public.\nhttps://osidb.prodsec.redhat.com/osidb/api/v1/flaws/4c534902-c270-4302-97f5-878bece153f3.\n",
      "labels": ["pscomponent:fixed-ps-component-1", "CVE-2999-2002", "Security",
      "SecurityTracking"], "security": {"name": "Embargoed Security Issue"}}}, {"fields":
      {"project": {"key": "OSIM"}, "issuetype": {"name": "Bug"}, "priority": {"name":
      "Critical"}, "summary": "CVE-2999-2002 fixed-ps-component-1: EMBARGOED CVE-2999-2002
      kernel: some description [baz-2]", "description": "Security Tracking Issue\n\nDo
      not make this issue public.\nhttps://osidb.prodsec.redhat.com/osidb/api/v1/flaws/4c534902-c270-4302-97f5-878bece153f3.\n",
      "labels": ["pscomponent:fixed-ps-component-1", "CVE-2999-2002", "Security",
      "SecurityTracking"], "security": {"name": "Embargoed Security Issue"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: POST
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/bulk
  response:
    body:
      string: '{"issues": [{"id": "15282987", "key": "OSIM-191", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15282987"},
        {"id": "15282988", "key": "OSIM-192", "self": "https://issues.stage.redhat.com/rest/api/2/issue/15282988"}],
        "errors": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-anodeid:
      - rh1-jira-dc-stg-mpp-0
      x-arequestid:
      - 1378x166950x2
      x-asessionid:
      - 10qw3s6
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.644e4e68.1685573924.864a87f
      x-rh-edge-request-id:
      - 864a87f
      x-seraph-loginreason:
      - OK
    status:
      code: 201
      message: Created
[...]
