interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.osv.dev/v1/vulns/GO-2023-2400
  response:
    body:
      string: '{"id": "GO-2023-2400", "summary": "Escalation of privileges in github.com/sap/cloud-security-client-go",
        "details": "An unauthenticated attacker can obtain arbitrary permissions within
        the application under certain conditions.", "aliases": ["CVE-2023-50424",
        "GHSA-92cg-ghq6-9587", "GHSA-m8rw-rcpq-2vp2"], "modified": "2023-12-16T04:56:23.602460Z",
        "published": "2024-01-16T04:35:08Z", "database_specific": {"url": "https://pkg.go.dev/vuln/GO-2023-2400"},
        "references": [{"type": "WEB", "url": "https://me.sap.com/notes/3411067"},
        {"type": "WEB", "url": "https://www.sap.com/documents/2022/02/fa865ea4-167e-0010-bca6-c68f7e60039b.html"},
        {"type": "WEB", "url": "https://blogs.sap.com/2023/12/12/unveiling-critical-security-updates-sap-btp-security-note-3411067/"},
        {"type": "ADVISORY", "url": "https://github.com/SAP/cloud-security-services-integration-library/security/advisories/GHSA-59c9-pxq8-9c73"},
        {"type": "FIX", "url": "https://github.com/SAP/cloud-security-client-go/commit/2e3bd63e152e09f267316a1071034eb5d4b7f498"}],
        "affected": [{"package": {"name": "github.com/sap/cloud-security-client-go",
        "ecosystem": "Go", "purl": "pkg:golang/github.com/sap/cloud-security-client-go"},
        "ranges": [{"type": "SEMVER", "events": [{"introduced": "0"}, {"fixed": "0.17.0"}]}],
        "ecosystem_specific": {"imports": [{"symbols": ["Middleware.Authenticate",
        "Middleware.AuthenticateWithProofOfPossession", "matchesDomain"], "path":
        "github.com/sap/cloud-security-client-go/auth"}, {"symbols": ["NewOIDCTenant",
        "OIDCTenant.GetJWKs", "OIDCTenant.getJWKsFromServer", "OIDCTenant.performDiscovery"],
        "path": "github.com/sap/cloud-security-client-go/oidcclient"}, {"symbols":
        ["TokenFlows.ClientCredentials"], "path": "github.com/sap/cloud-security-client-go/tokenclient"}]},
        "database_specific": {"source": "https://vuln.go.dev/ID/GO-2023-2400.json"}}],
        "schema_version": "1.6.0"}'
    headers:
      X-Cloud-Trace-Context:
      - e6b5069442989351e75333ef86226084
      content-type:
      - application/json
      grpc-accept-encoding:
      - identity, deflate, gzip
      grpc-message:
      - ''
      grpc-status:
      - '0'
    status:
      code: 200
      message: OK
version: 1
