interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.osv.dev/v1/vulns/GO-2023-1602
  response:
    body:
      string: '{"id": "GO-2023-1602", "summary": "Denial of service via deflate decompression
        bomb in github.com/russellhaering/gosaml2", "details": "A bug in SAML authentication
        library can result in Denial of Service attacks.\n\nAttackers can craft a
        \"deflate\"-compressed request which will consume significantly more memory
        during processing than the size of the original request. This may eventually
        lead to memory exhaustion and the process being killed.", "aliases": ["CVE-2023-26483",
        "GHSA-6gc3-crp7-25w5"], "modified": "2023-12-14T15:52:23Z", "published": "2023-03-03T17:17:54Z",
        "database_specific": {"url": "https://pkg.go.dev/vuln/GO-2023-1602"}, "references":
        [{"type": "ADVISORY", "url": "https://github.com/advisories/GHSA-6gc3-crp7-25w5"},
        {"type": "FIX", "url": "https://github.com/russellhaering/gosaml2/commit/f9d66040241093e8702649baff50cc70d2c683c0"},
        {"type": "WEB", "url": "https://github.com/russellhaering/gosaml2/releases/tag/v0.9.0"}],
        "affected": [{"package": {"name": "github.com/russellhaering/gosaml2", "ecosystem":
        "Go", "purl": "pkg:golang/github.com/russellhaering/gosaml2"}, "ranges": [{"type":
        "SEMVER", "events": [{"introduced": "0"}, {"fixed": "0.9.0"}]}], "ecosystem_specific":
        {"imports": [{"symbols": ["DecodeUnverifiedBaseResponse", "DecodeUnverifiedLogoutResponse",
        "SAMLServiceProvider.RetrieveAssertionInfo", "SAMLServiceProvider.ValidateEncodedLogoutRequestPOST",
        "SAMLServiceProvider.ValidateEncodedLogoutResponsePOST", "SAMLServiceProvider.ValidateEncodedResponse",
        "SAMLServiceProvider.validationContext", "maybeDeflate", "parseResponse"],
        "path": "github.com/russellhaering/gosaml2"}]}, "database_specific": {"source":
        "https://vuln.go.dev/ID/GO-2023-1602.json"}}], "schema_version": "1.6.0"}'
    headers:
      X-Cloud-Trace-Context:
      - 9e777dfdc33abe49524a87b211e68409
      content-type:
      - application/json
      grpc-accept-encoding:
      - identity, deflate, gzip
      grpc-message:
      - ''
      grpc-status:
      - '0'
    status:
      code: 200
      message: OK
version: 1
