interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://issues.redhat.com/rest/api/2/field
  response:
    body:
      string: "[{\"id\":\"customfield_12322243\",\"name\":\"Release Date\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322243]\",\"Release
        Date\"],\"schema\":{\"type\":\"date\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:datepicker\",\"customId\":12322243}},{\"id\":\"customfield_12322244\",\"name\":\"PX
        Impact Score\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322244]\",\"PX
        Impact Score\"],\"schema\":{\"type\":\"number\",\"custom\":\"org.jboss.labs.jira.plugin.jboss-custom-field-types-plugin:jbonlynumber\",\"customId\":12322244}},{\"id\":\"customfield_12322240\",\"name\":\"Staffing\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322240]\",\"Staffing\"],\"schema\":{\"type\":\"number\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:float\",\"customId\":12322240}},{\"id\":\"customfield_12322241\",\"name\":\"Gating
        Tests\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322241]\",\"Gating
        Tests\"],\"schema\":{\"type\":\"array\",\"items\":\"option\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:multiselect\",\"customId\":12322241}},{\"id\":\"resolution\",\"name\":\"Resolution\",\"custom\":false,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"resolution\"],\"schema\":{\"type\":\"resolution\",\"system\":\"resolution\"}},{\"id\":\"customfield_12310022\",\"name\":\"SVN
        / CVS Isolated Branch\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12310022]\",\"SVN
        / CVS Isolated Branch\"],\"schema\":{\"type\":\"string\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:textfield\",\"customId\":12310022}},{\"id\":\"customfield_12314742\",\"name\":\"Percent
        confident\",\"custom\":true,\"orderable\":true,\"navigable\":true[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://issues.redhat.com/rest/api/2/search?jql=labels%3D%22SecurityTracking%22+AND+type%3D%22Bug%22+AND+updated%3E%3D%222015-12-12+00%3A00%22+AND+updated%3C%3D%222016-12-11+00%3A01%22&startAt=0&validateQuery=True
  response:
    body:
      string: '{"expand": "schema,names", "startAt": 0, "maxResults": 50, "total":
        8, "issues": [{"expand": "operations,versionedRepresentations,editmeta,changelog,renderedFields",
        "id": "12650206", "self": "https://issues.redhat.com/rest/api/2/issue/12650206",
        "key": "UNDERTOW-835", "fields": {"issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.redhat.com/rest/api/2/project/12312521",
        "id": "12312521", "key": "UNDERTOW", "name": "Undertow", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.redhat.com/secure/projectavatar?pid=12312521&avatarId=10011",
        "24x24": "https://issues.redhat.com/secure/projectavatar?size=small&pid=12312521&avatarId=10011",
        "16x16": "https://issues.redhat.com/secure/projectavatar?size=xsmall&pid=12312521&avatarId=10011",
        "32x32": "https://issues.redhat.com/secure/projectavatar?size=medium&pid=12312521&avatarId=10011"}},
        "fixVersions": [{"self": "https://issues.redhat.com/rest/api/2/version/12330059",
        "id": "12330059", "description": "", "name": "2.0.0.Beta1", "archived": false,
        "released": true, "releaseDate": "2018-01-30"}, {"self": "https://issues.redhat.com/rest/api/2/version/12331200",
        "id": "12331200", "name": "1.3.25.Final", "archived": false, "released": true,
        "releaseDate": "2016-09-15"}, {"self": "https://issues.redhat.com/rest/api/2/version/12331460",
        "id": "12331460", "name": "1.4.3.Final", "archived": false, "released": true,
        "releaseDate": "2016-09-15"}], "customfield_12320944": null, "aggregatetimespent":
        null, "resolution": {"self": "https://issues.redhat.com/rest/api/2/resolution/1",
        "id": "1", "description": "This issue is closed, and complete.", "name": "Done"},
        "customfield_12310220": null, "customfield_12314740": "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@401a122b[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@11434e0e[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@6dc54d81[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@66fd4d09[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@136a63f5[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@1a277e88[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@5dc98108[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@51d00abd[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1165beb9[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@30174123[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@214747e8[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@7013349f[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":true}}",
        "customfield_12310183": null, "resolutiondate": "2016-09-14T19:59:19.000+0000",
        "workratio": -1, "customfield_12317379": null, "customfield_12316840": null,
        "customfield_12315950": null, "customfield_12316841": null, "customfield_12310940":
        null, "customfield_12319040": null, "lastViewed": null, "watches": {"self":
        "https://issues.redhat.com/rest/api/2/issue/UNDERTOW-835/watchers", "watchCount":
        4, "isWatching": false}, "created": "2016-09-14T11:34:28.000+0000", "customfield_12321240":
        null, "customfield_12313140": null, "priority": {"self": "https://issues.redhat.com/rest/api/2/priority/2",
        "iconUrl": "https://issues.redhat.com/images/icons/priorities/critical.svg",
        "name": "Critical", "id": "2"}, "labels": ["CVE-2016-7046", "Security", "SecurityTracking"],
        "customfield_12311640": null, "customfield_12311244": null, "customfield_12311245":
        null, "customfield_12311641": null, "customfield_12320947": null, "customfield_12311242":
        null, "customfield_12320946": null, "customfield_12311243": null, "customfield_12311240":
        null, "aggregatetimeoriginalestimate": null, "timeestimate": null, "versions":
        [{"self": "https://issues.redhat.com/rest/api/2/version/12330950", "id": "12330950",
        "name": "1.4.0.Final", "archived": false, "released": true, "releaseDate":
        "2016-08-03"}], "customfield_12311241": null, "customfield_12313340": null,
        "customfield_12310031": null, "issuelinks": [{"id": "12459425", "self": "https://issues.redhat.com/rest/api/2/issueLink/12459425",
        "type": {"id": "12310120", "name": "Cloners", "inward": "is cloned by", "outward":
        "clones", "self": "https://issues.redhat.com/rest/api/2/issueLinkType/12310120"},
        "inwardIssue": {"id": "12650793", "key": "JBEAP-6066", "self": "https://issues.redhat.com/rest/api/2/issue/12650793",
        "fields": {"summary": "(7.1.0) CVE-2016-7046: Long URL proxy request lead
        to java.nio.BufferOverflowException and DoS", "status": {"self": "https://issues.redhat.com/rest/api/2/status/10015",
        "description": "Work has been verified to have the intended effect or behavior",
        "iconUrl": "https://issues.redhat.com/images/icons/statuses/generic.png",
        "name": "Verified", "id": "10015", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/3",
        "id": 3, "key": "done", "colorName": "success", "name": "Done"}}, "priority":
        {"self": "https://issues.redhat.com/rest/api/2/priority/2", "iconUrl": "https://issues.redhat.com/images/icons/priorities/critical.svg",
        "name": "Critical", "id": "2"}, "issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avata[...]
