interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/createmeta/OSIM/issuetypes/1?maxResults=100&startAt=0
  response:
    body:
      string: '{"maxResults": 100, "startAt": 0, "total": 20, "isLast": true, "values":
        [{"required": true, "schema": {"type": "issuetype", "system": "issuetype"},
        "name": "Issue Type", "fieldId": "issuetype", "hasDefaultValue": false, "operations":
        [], "allowedValues": [{"self": "https://issues.stage.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.stage.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}]}, {"required": true,
        "schema": {"type": "string", "system": "summary"}, "name": "Summary", "fieldId":
        "summary", "hasDefaultValue": false, "operations": ["set"]}, {"required":
        false, "schema": {"type": "string", "system": "description"}, "name": "Description",
        "fieldId": "description", "hasDefaultValue": false, "operations": ["set"]},
        {"required": false, "schema": {"type": "array", "items": "component", "system":
        "components"}, "name": "Component/s", "fieldId": "components", "hasDefaultValue":
        false, "operations": ["add", "set", "remove"], "allowedValues": []}, {"required":
        true, "schema": {"type": "user", "system": "reporter"}, "name": "Reporter",
        "fieldId": "reporter", "autoCompleteUrl": "https://issues.stage.redhat.com/rest/api/latest/user/search?username=",
        "hasDefaultValue": false, "operations": ["set"]}, {"required": false, "schema":
        {"type": "array", "items": "version", "system": "versions"}, "name": "Affects
        Version/s", "fieldId": "versions", "hasDefaultValue": false, "operations":
        ["set", "add", "remove"], "allowedValues": []}, {"required": false, "schema":
        {"type": "option", "custom": "com.atlassian.jira.plugin.system.customfieldtypes:select",
        "customId": 12316142}, "name": "Severity", "fieldId": "customfield_12316142",
        "hasDefaultValue": false, "operations": ["set"], "allowedValues": [{"self":
        "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26750", "value":
        "Critical", "id": "26750", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26751",
        "value": "Important", "id": "26751", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26752",
        "value": "Moderate", "id": "26752", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26753",
        "value": "Low", "id": "26753", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOp[...]
