interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://squid.corp.redhat.com:3128/rest/api/2/issue/createmeta/OSIM/issuetypes/1
  response:
    body:
      string: '{"maxResults": 50, "startAt": 0, "total": 17, "isLast": true, "values":
        [{"required": false, "schema": {"type": "user", "system": "assignee"}, "name":
        "Assignee", "fieldId": "assignee", "autoCompleteUrl": "https://issues.stage.redhat.com/rest/api/latest/user/assignable/search?issueKey=null&username=",
        "hasDefaultValue": false, "operations": ["set"]}, {"required": false, "schema":
        {"type": "array", "items": "attachment", "system": "attachment"}, "name":
        "Attachment", "fieldId": "attachment", "hasDefaultValue": false, "operations":
        []}, {"required": false, "schema": {"type": "array", "items": "component",
        "system": "components"}, "name": "Component/s", "fieldId": "components", "hasDefaultValue":
        false, "operations": ["add", "set", "remove"], "allowedValues": []}, {"required":
        false, "schema": {"type": "array", "items": "user", "custom": "com.atlassian.jira.plugin.system.customfieldtypes:multiuserpicker",
        "customId": 12315950}, "name": "Contributors", "fieldId": "customfield_12315950",
        "autoCompleteUrl": "https://issues.stage.redhat.com/rest/api/1.0/users/picker?fieldName=customfield_12315950&query=",
        "hasDefaultValue": false, "operations": ["add", "set", "remove"]}, {"required":
        false, "schema": {"type": "option", "custom": "com.atlassian.jira.plugin.system.customfieldtypes:select",
        "customId": 12316142}, "name": "Severity", "fieldId": "customfield_12316142",
        "hasDefaultValue": false, "operations": ["set"], "allowedValues": [{"self":
        "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26750", "value":
        "Critical", "id": "26750", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26751",
        "value": "Important", "id": "26751", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26752",
        "value": "Moderate", "id": "26752", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOption/26753",
        "value": "Low", "id": "26753", "disabled": false}, {"self": "https://issues.stage.redhat.com/rest/api/2/customFieldOp[...]
