interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://issues.redhat.com/rest/api/2/field
  response:
    body:
      string: "[{\"id\":\"customfield_12322243\",\"name\":\"Release Date\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322243]\",\"Release
        Date\"],\"schema\":{\"type\":\"date\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:datepicker\",\"customId\":12322243}},{\"id\":\"customfield_12322244\",\"name\":\"PX
        Impact Score\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322244]\",\"PX
        Impact Score\"],\"schema\":{\"type\":\"number\",\"custom\":\"org.jboss.labs.jira.plugin.jboss-custom-field-types-plugin:jbonlynumber\",\"customId\":12322244}},{\"id\":\"customfield_12322240\",\"name\":\"Staffing\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322240]\",\"Staffing\"],\"schema\":{\"type\":\"number\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:float\",\"customId\":12322240}},{\"id\":\"customfield_12322241\",\"name\":\"Gating
        Tests\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12322241]\",\"Gating
        Tests\"],\"schema\":{\"type\":\"array\",\"items\":\"option\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:multiselect\",\"customId\":12322241}},{\"id\":\"resolution\",\"name\":\"Resolution\",\"custom\":false,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"resolution\"],\"schema\":{\"type\":\"resolution\",\"system\":\"resolution\"}},{\"id\":\"customfield_12310022\",\"name\":\"SVN
        / CVS Isolated Branch\",\"custom\":true,\"orderable\":true,\"navigable\":true,\"searchable\":true,\"clauseNames\":[\"cf[12310022]\",\"SVN
        / CVS Isolated Branch\"],\"schema\":{\"type\":\"string\",\"custom\":\"com.atlassian.jira.plugin.system.customfieldtypes:textfield\",\"customId\":12310022}},{\"id\":\"customfield_12314742\",\"name\":\"Percent
        confident\",\"custom\":true,\"orderable\":true,\"navigable\":true[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Atlassian-Token:
      - no-check
    method: GET
    uri: https://issues.redhat.com/rest/api/2/search?jql=labels%3D%22SecurityTracking%22+AND+type%3D%22Bug%22+AND+updated%3E%3D%222014-01-01+00%3A00%22+AND+updated%3C%3D%222015-01-01+00%3A01%22&startAt=0&validateQuery=True
  response:
    body:
      string: '{"expand": "schema,names", "startAt": 0, "maxResults": 50, "total":
        15, "issues": [{"expand": "operations,versionedRepresentations,editmeta,changelog,renderedFields",
        "id": "12548499", "self": "https://issues.redhat.com/rest/api/2/issue/12548499",
        "key": "ENTMQ-755", "fields": {"issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avatarType=issuetype",
        "name": "Bug", "subtask": false, "avatarId": 13263}, "customfield_12322244":
        null, "customfield_12318341": null, "timespent": null, "customfield_12320940":
        null, "project": {"self": "https://issues.redhat.com/rest/api/2/project/12314575",
        "id": "12314575", "key": "ENTMQ", "name": "JBoss A-MQ", "projectTypeKey":
        "software", "avatarUrls": {"48x48": "https://issues.redhat.com/secure/projectavatar?pid=12314575&avatarId=10011",
        "24x24": "https://issues.redhat.com/secure/projectavatar?size=small&pid=12314575&avatarId=10011",
        "16x16": "https://issues.redhat.com/secure/projectavatar?size=xsmall&pid=12314575&avatarId=10011",
        "32x32": "https://issues.redhat.com/secure/projectavatar?size=medium&pid=12314575&avatarId=10011"},
        "projectCategory": {"self": "https://issues.redhat.com/rest/api/2/projectCategory/10130",
        "id": "10130", "description": "Active projects migrated from Fusesource issue
        tracker", "name": "Fuse"}}, "fixVersions": [{"self": "https://issues.redhat.com/rest/api/2/version/12323365",
        "id": "12323365", "description": "7.1 release", "name": "7.1.0.fuse-046",
        "archived": false, "released": true, "releaseDate": "2012-12-21"}], "customfield_12320944":
        null, "aggregatetimespent": null, "resolution": {"self": "https://issues.redhat.com/rest/api/2/resolution/1",
        "id": "1", "description": "This issue is closed, and complete.", "name": "Done"},
        "customfield_12310220": null, "customfield_12312840": null, "customfield_12312442":
        null, "customfield_12314740": "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@111b566f[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1ca214e[overall=PullRequestOverallBean{stateCount=0,
        state=''OPEN'', details=PullRequestOverallDetails{openCount=0, mergedCount=0,
        declinedCount=0}},byInstanceType={}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@7895686b[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@2805f666[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@4a5b6f4e[overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@4eeb8a89[stateCount=0,state=<null>,dueDate=<null>,overDue=false,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1dee650f[overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@1a5f0612[topEnvironments=[],showProjects=false,successfulCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@b6f2b08[overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@19c2472e[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}],
        branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@77ea8f04[overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@15e7787d[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>],byInstanceType={}]},errors=[],configErrors=[]],
        devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":true}}",
        "customfield_12310183": null, "resolutiondate": "2014-09-10T01:43:37.000+0000",
        "customfield_12312848": null, "workratio": -1, "customfield_12317379": null,
        "customfield_12316840": null, "customfield_12315950": null, "customfield_12316841":
        null, "customfield_12310940": null, "customfield_12319040": null, "lastViewed":
        "2023-04-21T08:02:12.196+0000", "watches": {"self": "https://issues.redhat.com/rest/api/2/issue/ENTMQ-755/watchers",
        "watchCount": 3, "isWatching": false}, "created": "2014-08-04T15:07:19.000+0000",
        "customfield_12321240": null, "customfield_12313140": null, "priority": {"self":
        "https://issues.redhat.com/rest/api/2/priority/3", "iconUrl": "https://issues.redhat.com/images/icons/priorities/major.svg",
        "name": "Major", "id": "3"}, "labels": ["CVE-2014-3120", "Security", "SecurityTracking",
        "component:elasticsearch"], "customfield_12311640": null, "customfield_12311244":
        null, "customfield_12311245": null, "customfield_12311641": null, "customfield_12320947":
        null, "customfield_12311242": null, "customfield_12320946": null, "aggregatetimeoriginalestimate":
        null, "timeestimate": null, "versions": [{"self": "https://issues.redhat.com/rest/api/2/version/12323365",
        "id": "12323365", "description": "7.1 release", "name": "7.1.0.fuse-046",
        "archived": false, "released": true, "releaseDate": "2012-12-21"}], "customfield_12311241":
        null, "customfield_12310031": null, "issuelinks": [], "assignee": {"self":
        "https://issues.redhat.com/rest/api/2/user?username=acunning%40redhat.com",
        "name": "acunning@redhat.com", "key": "aileenc", "emailAddress": "acunning@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/c1d56f16088f3b6e97589cd0cff6de3a?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/c1d56f16088f3b6e97589cd0cff6de3a?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/c1d56f16088f3b6e97589cd0cff6de3a?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/c1d56f16088f3b6e97589cd0cff6de3a?d=mm&s=32"},
        "displayName": "Aileen Cunningham", "active": true, "timeZone": "UTC"}, "updated":
        "2014-09-10T01:43:37.000+0000", "customfield_12313942": null, "customfield_12311840":
        null, "customfield_12313941": null, "status": {"self": "https://issues.redhat.com/rest/api/2/status/6",
        "description": "The issue is closed. See the resolution for context regarding
        why (for example Done, Abandoned, Duplicate, etc)", "iconUrl": "https://issues.redhat.com/images/icons/statuses/closed.png",
        "name": "Closed", "id": "6", "statusCategory": {"self": "https://issues.redhat.com/rest/api/2/statuscategory/3",
        "id": 3, "key": "done", "colorName": "success", "name": "Done"}}, "components":
        [], "customfield_12316142": null, "timeoriginalestimate": null, "customfield_12310080":
        null, "description": "https://bugzilla.redhat.com/show_bug.cgi?id=1124252",
        "customfield_12314040": null, "customfield_12320844": null, "customfield_12320842":
        null, "customfield_12310440": null, "customfield_12310120": null, "security":
        {"self": "https://issues.redhat.com/rest/api/2/securitylevel/11697", "id":
        "11697", "description": "Red Hat Employee and Contractors only", "name": "Red
        Hat Employee"}, "customfield_12310243": null, "customfield_12312340": null,
        "aggregatetimeestimate": null, "customfield_12316542": null, "customfield_12316543":
        null, "customfield_12317313": null, "customfield_12316544": null, "customfield_12310840":
        "9223372036854775807", "summary": "CVE-2014-3120 elasticsearch: remote code
        execution flaw via dynamic scripting [amq-7.1]", "creator": {"self": "https://issues.redhat.com/rest/api/2/user?username=chess.hazlett",
        "name": "chess.hazlett", "key": "chazlett", "emailAddress": "chazlett@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=32"},
        "displayName": "Chess Hazlett", "active": true, "timeZone": "UTC"}, "subtasks":
        [], "customfield_12321140": null, "customfield_12310091": null, "customfield_12310090":
        null, "reporter": {"self": "https://issues.redhat.com/rest/api/2/user?username=chess.hazlett",
        "name": "chess.hazlett", "key": "chazlett", "emailAddress": "chazlett@redhat.com",
        "avatarUrls": {"48x48": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=48",
        "24x24": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=24",
        "16x16": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=16",
        "32x32": "https://www.gravatar.com/avatar/850d3ad61d93c0925018db52d1c9f6ba?d=mm&s=32"},
        "displayName": "Chess Hazlett", "active": true, "timeZone": "UTC"}, "customfield_12320850":
        null, "customfield_12310092": null, "aggregateprogress": {"progress": 0, "total":
        0}, "customfield_12310010": null, "customfield_12310211": null, "customfield_12313441":
        "", "customfield_12315740": null, "customfield_12315542": null, "customfield_12313440":
        "0.0", "customfield_12313240": null, "duedate": null, "customfield_12311140":
        null, "customfield_12319742": null, "progress": {"progress": 0, "total": 0},
        "votes": {"self": "https://issues.redhat.com/rest/api/2/issue/ENTMQ-755/votes",
        "votes": 0, "hasVoted": false}, "customfield_12319743": null, "customfield_12310213":
        null, "customfield_12311940": "1|hz4zfj:"}}, {"expand": "operations,versionedRepresentations,editmeta,changelog,renderedFields",
        "id": "12548498", "self": "https://issues.redhat.com/rest/api/2/issue/12548498",
        "key": "ENTMQ-754", "fields": {"issuetype": {"self": "https://issues.redhat.com/rest/api/2/issuetype/1",
        "id": "1", "description": "A problem which impairs or prevents the functions
        of the product.", "iconUrl": "https://issues.redhat.com/secure/viewavatar?size=xsmall&avatarId=13263&avat[...]
[...]
