interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh72"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - N+BsQ7i/1W9hh3ZOgehzwQ
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1655989686.93108
      x-rh-edge-request-id:
      - '93108'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"email": "aander07@packetmaster.com", "can_login": true,
        "real_name": "Need Real Name", "name": "aander07@packetmaster.com", "id":
        1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - Bzigpk5BKkP43rGInQ0TDw
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1655989686.9323b
      x-rh-edge-request-id:
      - 9323b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?component=vulnerability&f1=delta_ts&f2=delta_ts&include_fields=id&include_fields=last_change_time&include_fields=summary&limit=1000&o1=greaterthan&o2=lessthaneq&product=Security+Response&query_format=advanced&v1=2000-01-01+00%3A00%3A00%2B00%3A00&v2=2005-01-01+00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"total_matches": 0, "offset": 0, "bugs": [], "limit": "1000"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - 9r7Nb3IdIGKX6LYMOXYAzA
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1655989687.933e7
      x-rh-edge-request-id:
      - 933e7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?component=vulnerability&f1=delta_ts&f2=delta_ts&include_fields=id&include_fields=last_change_time&include_fields=summary&limit=1000&o1=greaterthan&o2=lessthaneq&product=Security+Response&query_format=advanced&v1=2000-01-01+00%3A00%3A00%2B00%3A00&v2=2010-01-01+00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"offset": 0, "total_matches": 199, "limit": "1000", "bugs": [{"id":
        240155, "last_change_time": "2007-05-15T15:27:32Z", "summary": "CVE-2007-0905
        php session extension safe_mode/open_basedir bypass"}, {"summary": "CVE-2007-1383
        php variable counter integer overflow", "last_change_time": "2007-05-15T15:43:09Z",
        "id": 240158}, {"summary": "CVE-2007-1376 php shmop argument validation",
        "last_change_time": "2007-05-15T15:47:15Z", "id": 240161}, {"last_change_time":
        "2007-05-15T15:49:44Z", "id": 240162, "summary": "CVE-2007-1452 fdf extension
        input filtering"}, {"id": 240163, "las[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?component=vulnerability&f1=delta_ts&f2=delta_ts&include_fields=id&include_fields=last_change_time&include_fields=summary&limit=1000&o1=greaterthan&o2=lessthaneq&product=Security+Response&query_format=advanced&v1=2009-12-17+21%3A27%3A37%2B00%3A00&v2=2015-12-17+21%3A27%3A37%2B00%3A00
  response:
    body:
      string: '{"bugs": [{"last_change_time": "2015-03-02T10:30:21Z", "summary": "CVE-2006-1390
        nethack: Local privilege escalation via crafted score file", "id": 187353},
        {"id": 215089, "last_change_time": "2015-01-04T22:29:24Z", "summary": "xchat
        segfaulted"}, {"last_change_time": "2013-03-06T03:48:50Z", "summary": "at_console
        isn''t respected in some cases", "id": 223187}, {"summary": "Heap corruption
        in Imagemagick''s PCX coder", "last_change_time": "2010-03-22T15:27:24Z",
        "id": 245179}, {"id": 245195, "summary": "Out-of-bound write in Imagemagick''s
   [...]
