interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh81"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.bd045368.1674473890.28cf9182
      x-rh-edge-request-id:
      - 28cf9182
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"email": "aander07@packetmaster.com", "real_name": "Need
        Real Name", "can_login": true, "name": "aander07@packetmaster.com", "id":
        1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.bd045368.1674473890.28cf9621
      x-rh-edge-request-id:
      - 28cf9621
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/product/get?include_fields=components&include_fields=name&names=Container+Native+Virtualization+%28CNV%29
  response:
    body:
      string: '{"products": [{"name": "Container Native Virtualization (CNV)", "components":
        [{"sort_key": 0, "id": 174757, "default_assigned_to": "gbenhaim@redhat.com",
        "default_docs_contact": "", "default_cc": [], "name": "Build", "description":
        "Build", "is_active": true, "flag_types": {"attachment": [{"is_active": true,
        "description": "The code attached is in need of peer review.", "is_requesteeble":
        true, "name": "review", "grant_group": null, "cc_list": "", "request_group":
        null, "is_multiplicable": true, "sort_key": 1, "id": 155, "is_requestable":
        true}], "bug": [{"grant_group": null, "cc_list": "", "request_group": null,
        "description": "Set this flag to ? to request this issue be proposed in the
        5.11.z release of CloudForms Management Engine (CloudForms 4.8.z). Your request
        will be reviewed by Product Management.", "is_active": true, "name": "cfme-5.11.z",
        "is_requesteeble": true, "is_requestable": true, "is_multiplicable": true,
        "sort_key": 1, "id": 1630}, {"id": 1211, "sort_key": 1, "is_multiplicable":
       [...]
