interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh90"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.5adfda17.1692625097.2ce1c57b
      x-rh-edge-request-id:
      - 2ce1c57b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "id": 1, "email":
        "aander07@packetmaster.com", "can_login": true, "real_name": "Need Real Name"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.5adfda17.1692625098.2ce1cda9
      x-rh-edge-request-id:
      - 2ce1cda9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1824033
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "bugs": [{"groups": [], "tags":
        [], "deadline": null, "description": "OAuth2 refresh tokens do not respect
        the expiration specified in REFRESH_TOKEN_EXPIRE_SECONDS.", "cc": ["dmoppert@redhat.com",
        "gblomqui@redhat.com", "mabashia@redhat.com", "smcdonal@redhat.com"], "component":
        ["vulnerability"], "product": "Security Response", "creation_time": "2020-04-15T06:34:38Z",
        "external_bugs": [], "resolution": "", "target_milestone": "---", "assigned_to_detail":
        {"partner": false, "active": true, "name": "nobody@redhat.com", "email": "nobody@redhat.com",
        "real_name": "Nobody", "insider": false, "id": 29451}, "cf_build_id": "",
        "cf_qa_whiteboard": "", "is_creator_accessible": true, "flags": [{"modification_date":
        "2020-04-16T13:08:13Z", "creation_date": "2020-04-16T13:08:13Z", "id": 4485441,
        "type_id": 415, "name": "requires_doc_text", "setter": "rtillery@redhat.com",
        "status": "+", "is_active": 1}, {"id": 5079959, "modification_date": "2021-06-21T14:00:09Z",
        "creation_date": "2021-06-21T14:00:09Z", "is_active": 1, "status": "?", "type_id":
        1637, "name": "nist_cvss_validation", "setter": "btarraso@redhat.com"}], "whiteboard":
        "", "cf_clone_of": null, "docs_contact": "", "status": "NEW", "cf_conditional_nak":
        [], "cf_qe_conditional_nak": [], "depends_on": [1824034, 1824035], "id": 1824033,
        "qa_contact": "", "cf_pgm_internal": "", "cf_doc_type": "If docs needed, set
        a value", "keywords": ["Security"], "priority": "medium", "data_category":
        "Public", "cf_pm_score": "0", "creator": "btarraso@redhat.com", "last_change_time":
        "2023-07-07T08:33:40Z", "blocks": [1824028], "op_sys": "Linux", "creator_detail":
        {"active": true, "name": "btarraso@redhat.com", "email": "btarraso@redhat.com",
        "partner": false, "id": 406891, "insider": true, "real_name": "Borja Tarraso"},
        "summary": "CVE-2020-10709 Tower: OAuth2 refresh tokens do not respect the
        expiration", "is_open": true, "url": "", "cf_internal_whiteboard": "", "actual_time":
        0, "cc_detail": [{"real_name": "Doran Moppert", "insider": true, "id": 395911,
        "partner": false, "name": "dmoppert@redhat.com", "active": true, "email":
        "dmoppert@redhat.com"}, {"partner": false, "email": "gblomqui@redhat.com",
        "name": "gblomqui@redhat.com", "active": true, "insider": true, "real_name":
        "Greg Blomquist", "id": 200751}, {"active": true, "name": "mabashia@redhat.com",
        "email": "mabashia@redhat.com", "partner": false, "id": 447308, "real_name":
        "Michael Abashian", "insider": false}, {"id": 404843, "insider": true, "real_name":
        "Shane McDonald", "active": true, "name": "smcdonal@redhat.com", "email":
        "smcdonal@redhat.com", "partner": false}], "version": ["unspecified"], "cf_last_closed":
        null, "platform": "All", "remaining_time": 0, "is_confirmed": true, "severity":
        "medium", "comments": [{"attachment_id": null, "time": "2020-04-15T06:34:38Z",
        "bug_id": 1824033, "tags": [], "text": "OAuth2 refresh tokens do not respect
        the expiration specified in REFRESH_TOKEN_EXPIRE_SECONDS.", "creator": "btarraso@redhat.com",
        "is_private": false, "creation_time": "2020-04-15T06:34:38Z", "creator_id":
        406891, "count": 0, "id": 13801479}, {"count": 3, "id": 13805740, "creator":
        "btarraso@redhat.com", "is_private": false, "creation_time": "2020-04-16T08:05:08Z",
        "creator_id": 406891, "text": "Acknowledgments:\n\nName: @sdwru", "attachment_id":
        null, "time": "2020-04-16T08:05:08Z", "tags": [], "bug_id": 1824033}, {"text":
        "Statement:\n\nAnsible Tower 3.5.5 and 3.6.3 as well as previous versions
        are affected.", "bug_id": 1824033, "tags": [], "attachment_id": null, "time":
        "2020-04-16T08:05:11Z", "id": 13805741, "count": 4, "creator_id": 406891,
        "creation_time": "2020-04-16T08:05:11Z", "creator": "btarraso@redhat.com",
        "is_private": false}, {"time": "2020-04-16T08:05:14Z", "attachment_id": null,
        "tags": [], "bug_id": 1824033, "text": "Mitigation:\n\nWhenever is possible,
        deleting the user from Ansible Tower is the only way to mitigate the authentication
        of OAuth2 tokens.", "creation_time": "2020-04-16T08:05:14Z", "is_private":
        false, "creator": "btarraso@redhat.com", "creator_id": 406891, "id": 13805744,
        "count": 5}, {"id": 13805750, "count": 6, "creator_id": 406891, "creation_time":
        "2020-04-16T08:08:10Z", "creator": "btarraso@redhat.com", "is_private": false,
        "text": "Upstream AWX fix: https://github.com/ansible/awx/issues/6630", "tags":
        [], "bug_id": 1824033, "attachment_id": null, "time": "2020-04-16T08:08:10Z"}],
        "estimated_time": 0, "target_release": ["---"], "cf_embargoed": null, "cf_cust_facing":
        "---", "cf_major_incident": null, "alias": ["CVE-2020-10709"], "cf_devel_whiteboard":
        "(DO NOT MODIFY THIS FIELD MANUALLY; YOUR CHANGES WILL BE OVERWRITTEN ON NEXT
        UPDATE.)\r\n\r\nSTATEMENT\r\n---------\r\n\r\nAnsible Tower 3.5.5 and 3.6.3
        as well as previous versions are affected.\r\n\r\nMITIGATION\r\n-----------\r\n\r\nWhenever
        is possible, deleting the user from Ansible Tower is the only way to mitigate
        the authentication of OAuth2 tokens.\r\n\r\nACKNOWLEDGMENTS\r\n---------------\r\n\r\n@sdwru",
        "is_cc_accessible": true, "dupe_of": null, "cf_environment": "", "assigned_to":
        "nobody@redhat.com", "cf_srtnotes": "{\"acknowledgments\": [{\"affiliation\":
        null, \"from_upstream\": false, \"name\": \"@sdwru\"}], \"affects\": [{\"affectedness\":
        \"affected\", \"cvss2\": null, \"cvss3\": null, \"impact\": null, \"ps_component\":
        \"ansible-tower\", \"ps_module\": \"ansible_tower-3\", \"resolution\": \"fix\"}],
        \"checklists\": [{\"items\": [{\"checked\": true, \"comment\": null, \"item\":
        \"0. Concise and precise summary\", \"not_applicable\": false}, {\"checked\":
        true, \"comment\": null, \"item\": \"1. Accurate technical information\",
        \"not_applicable\": false}, {\"checked\": true, \"comment\": null, \"item\":
        \"2. Appropriate CVSS\", \"not_applicable\": false}, {\"checked\": true, \"comment\":
        null, \"item\": \"3. Fixed in version\", \"not_applicable\": false}, {\"checked\":
        true, \"comment\": null, \"item\": \"4. Appropriate CWE(s) \", \"not_applicable\":
        false}, {\"checked\": true[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1824033
  response:
    body:
      string: '{"limit": "20", "bugs": [{"cf_major_incident": null, "estimated_time":
        0, "classification": "Other", "platform": "All", "flags": [{"is_active": 1,
        "id": 4485441, "name": "requires_doc_text", "status": "+", "setter": "rtillery@redhat.com",
        "type_id": 415, "creation_date": "2020-04-16T13:08:13Z", "modification_date":
        "2020-04-16T13:08:13Z"}, {"type_id": 1637, "status": "?", "setter": "btarraso@redhat.com",
        "modification_date": "2021-06-21T14:00:09Z", "creation_date": "2021-06-21T14:00:09Z",
        "name": "nist_cvss_validation", "id": 5079959, "is_active": 1}], "cf_devel_whiteboard":
        "(DO NOT MODIFY THIS FIELD MANUALLY; YOUR CHANGES WILL BE OVERWRITTEN ON NEXT
        UPDATE.)\r\n\r\nSTATEMENT\r\n---------\r\n\r\nAnsible Tower 3.5.5 and 3.6.3
        as well as previous versions are affected.\r\n\r\nMITIGATION\r\n-----------\r\n\r\nWhenever
        is possible, deleting the user from Ansible Tower is the only way to mitigate
        the authentication of OAuth2 tokens.\r\n\r\nACKNOWLEDGMENTS\r\n---------------\r\n\r\n@sdwru",
        "creation_time": "2020-04-15T06:34:38Z", "data_category": "Public", "groups":
        [], "creator": "btarraso@redhat.com", "product": "Security Response", "cf_clone_of":
        null, "cf_conditional_nak": [], "cf_pgm_internal": "", "component": ["vulnerability"],
        "sub_components": {}, "severity": "medium", "target_milestone": "---", "cf_doc_type":
        "If docs needed, set a value", "deadline": null, "cf_environment": "", "cf_qa_whiteboard":
        "", "dupe_of": null, "comments": [{"bug_id": 1824033, "creator_id": 406891,
        "count": 0, "attachment_id": null, "time": "2020-04-15T06:34:38Z", "id": 13801479,
        "tags": [], "is_private": false, "creator": "btarraso@redhat.com", "text":
        "OAuth2 refresh tokens do not respect the expiration specified in [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/1824033/comment
  response:
    body:
      string: '{"bugs": {"1824033": {"comments": [{"text": "OAuth2 refresh tokens
        do not respect the expiration specified in REFRESH_TOKEN_EXPIRE_SECONDS.",
        "tags": [], "creation_time": "2020-04-15T06:34:38Z", "is_private": false,
        "creator": "btarraso@redhat.com", "creator_id": 406891, "time[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1824028&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"offset": 0, "limit": "20", "bugs": [{"assigned_to_detail": {"insider":
        true, "id": 406891, "name": "btarraso@redhat.com", "email": "btarraso@redhat.com",
        "partner": false, "active": true, "real_name": "Borja Tarraso"}, "data_category":
        "Security Restricted", "id": 1824028, "product": "Security Response", "assigned_to":
        "btarraso@redhat.com"}], "total_matches": 1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.5adfda17.1692625103.2ce22ee6
      x-rh-edge-request-id:
      - 2ce22ee6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1824034
  response:
    body:
      string: '{"offset": 0, "total_matches": 1, "limit": "20", "bugs": [{"cf_qa_whiteboard":
        "", "cf_release_notes": "", "cf_conditional_nak": [], "dupe_of": null, "alias":
        [], "keywords": ["Security", "SecurityTracking"], "cf_pm_score": "0", "tags":
        [], "cf_major_incident": null, "cf_doc_type": "No Doc Update", "data_category":
        "Red Hat", "product": "Red Hat Ansible Tower and Controller", "status": "CLOSED",
        "target_milestone": "---", "component": ["Security"], "cf_build_id": "", "cf_verified":
        [], "summary": "CVE-2020-10709 ansible-tower: Tower: OAuth2 refresh tokens
        do not respect the expiration [ansible_tower-3.5]", "depends_on": [], "cc_detail":
        [{"email": "awithrow@redhat.com", "partner": false, "active": true, "real_name":
        "", "insider": true, "id": 426493, "name": "awithrow@redhat.com"}, {"insider":
        false, "name": "cmeyers@redhat.com", "id": 424312, "active": false, "email":
        "cmeyers@redhat.com", "partner": false, "real_name": "Ch[...]
[...]
