interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh90"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.3cf06e68.1693409483.3a030c47
      x-rh-edge-request-id:
      - 3a030c47
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"email": "aander07@packetmaster.com", "can_login": true,
        "real_name": "Need Real Name", "name": "aander07@packetmaster.com", "id":
        1}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.3cf06e68.1693409484.3a030d97
      x-rh-edge-request-id:
      - 3a030d97
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?component=vulnerability&f1=delta_ts&f2=delta_ts&include_fields=id&include_fields=last_change_time&include_fields=summary&limit=100&o1=greaterthan&o2=lessthaneq&product=Security+Response&query_format=advanced&v1=2000-01-01+00%3A00%3A00%2B00%3A00&v2=2005-01-01+00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"offset": 0, "bugs": [], "total_matches": 0, "limit": "100"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.3cf06e68.1693409485.3a031044
      x-rh-edge-request-id:
      - 3a031044
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?component=vulnerability&f1=delta_ts&f2=delta_ts&include_fields=id&include_fields=last_change_time&include_fields=summary&limit=100&o1=greaterthan&o2=lessthaneq&product=Security+Response&query_format=advanced&v1=2000-01-01+00%3A00%3A00%2B00%3A00&v2=2010-01-01+00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"limit": "100", "total_matches": 199, "bugs": [{"id": 240155, "data_category":
        "Public", "last_change_time": "2007-05-15T15:27:32Z", "summary": "CVE-2007-0905
        php session extension safe_mode/open_basedir bypass"}, {"id": 240158, "data_category":
        "Public", "last_change_time": "2007-05-15T15:43:09Z", "summary": "CVE-2007-1383
        php variable counter integer overflow"}, {"last_change_time": "2007-05-15T15:47:15Z",
        "summary": "CVE-2007-1376 php shmop argument validation", "id": 240161, "data_category":
        "Public"}, {"summary": "CVE-2007-1452 fdf extension input filtering", "last_change_time":
        "200[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?component=vulnerability&f1=delta_ts&f2=delta_ts&f98=bug_id&include_fields=id&include_fields=last_change_time&include_fields=summary&limit=100&o1=greaterthan&o2=lessthaneq&o98=greaterthan&product=Security+Response&query_format=advanced&v1=2000-01-01+00%3A00%3A00%2B00%3A00&v2=2010-01-01+00%3A00%3A00%2B00%3A00&v98=437037
  response:
    body:
      string: '{"total_matches": 99, "bugs": [{"data_category": "Public", "last_change_time":
        "2008-03-31T09:43:51Z", "id": 438127, "summary": "CVE-2008-1289 asterisk:
        Two buffer overflows in RTP Codec Payload Handling (AST-2008-002)"}, {"last_change_time":
        "2008-03-31T09:44:01Z", "data_category": "Public", "id": 438129, "summary":
        "CVE-2008-1332 asterisk: Unauthenticated calls allowed from SIP channel driver
        (AST-2008-003)"}, {"data_category": "Public", "last_change_time": "2008-03-31T09:35:24Z",
        "id": 438130, "summary": "CVE-2008-1333 asterisk: Format String Vulnerability
        in Logger and Manager (AST-2008-004)"}, {"summary": "CVE-2008-1390 asterisk:
        HTTP Manager ID is predictable (AST-2008-005)", "data_category": "Public",
        "last_change_time": "2008-03-31T09:44:13Z", "id": 438131}, {"summary": "CVE-2008-0073
        xine-lib: sdpplin_parse() Array Indexing Vulnerability", "id": 438182, "last_change_time":
        "2008-04-09T05:16:46Z", "data_category": "Public"}, {"summary": "CVE-2008-1394
        Plone stores a password in a cookie", "data_category": "Public", "last_change_time":
        "2008-03-20T17:27:32Z", "id": 438379}, {"last_change_time": "2009-01-09T09:37:43Z",
        "data_category": "Security Restricted", "id": 438383, "summary": "EMBARGOED
        Mozilla Catchall Bug"}, {"id": 438410, "data_category"[...]
[...]
