interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh72"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - N+BsQ7i/1W9hh3ZOgehzwQ
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1655989795.a989c
      x-rh-edge-request-id:
      - a989c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"can_login": true, "email": "aander07@packetmaster.com",
        "name": "aander07@packetmaster.com", "id": 1, "real_name": "Need Real Name"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - Bzigpk5BKkP43rGInQ0TDw
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1655989795.a99f1
      x-rh-edge-request-id:
      - a99f1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=577404
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"cc_detail":
        [{"id": 163483, "email": "bressers@redhat.com", "real_name": "Josh Bressers",
        "name": "bressers@redhat.com"}, {"id": 8542, "email": "paul@city-fan.org",
        "name": "paul@city-fan.org", "real_name": "Paul Howarth"}], "severity": "medium",
        "target_milestone": "---", "whiteboard": "", "assigned_to": "paul@city-fan.org",
        "summary": "CVE-2010-1132 spamass-milter: remote command execution", "creator_detail":
        {"email": "vdanen@redhat.com", "id": 275188, "real_name": "Vincent Danen",
        "name": "vdanen@redhat.com"}, "is_cc_accessible": true, "cf_cust_facing":
        "---", "alias": [], "qa_contact": "extras-qa@fedoraproject.org", "platform":
        "All", "assigned_to_detail": {"email": "paul@city-fan.org", "id": 8542, "real_name":
        "Paul Howarth", "name": "paul@city-fan.org"}, "comments": [{"tags": [], "id":
        2742308, "bug_id": 577404, "count": 0, "creator": "vdanen@redhat.com", "creation_time":
        "2010-03-26T21:10:29Z", "creator_id": 275188, "is_private": false, "text":
        "fedora-11 tracking bug for spamass-milter: see blocks bug list for full details
        of the security issue(s).\n\nThis bug is never intended to be made public,
        please put any public notes\nin the ''blocks'' bugs.\n\n\n[bug automatically
        created by: add-tracking-bugs]", "time": "2010-03-26T21:10:29Z", "attachment_id":
        null}], "depends_on": [], "cf_doc_type": "Release Note", "cf_devel_whiteboard":
        "", "classification": "Fedora", "description": "fedora-11 tracking bug for
        spamass-milter: see blocks bug list for full details of the security issue(s).\n\nThis
        bug is never intended to be made public, please put any public notes\nin the
        ''blocks'' bugs.\n\n\n[bug automatically created by: add-tracking-bugs]",
        "status": "CLOSED", "version": ["11"], "creation_time": "2010-03-26T21:10:29Z",
        "product": "Fedora", "cf_pgm_internal": "", "tags": [], "qa_contact_detail":
        {"real_name": "Fedora Extras Quality Assurance", "name": "extras-qa@fedoraproject.org",
        "email": "extras-qa@fedoraproject.org", "id": 171387}, "docs_contact": "",
        "op_sys": "Linux", "creator": "vdanen@redhat.com", "last_change_time": "2010-04-13T22:20:14Z",
        "resolution": "NOTABUG", "cf_conditional_nak": [], "is_confirmed": true, "cf_release_notes":
        "", "is_open": false, "is_creator_accessible": true, "flags": [], "cc": ["bressers@redhat.com",
        "paul@city-fan.org"], "cf_last_closed": "2010-03-26T23:37:51Z", "cf_qe_conditional_nak":
        [], "component": ["spamass-milter"], "dupe_of": null, "estimated_time": 0,
        "blocks": [577401], "remaining_time": 0, "deadline": null, "id": 577404, "keywords":
        ["Security", "SecurityTracking"], "actual_time": 0, "url": "", "sub_components":
        {}, "external_bugs": [], "cf_pm_score": "0", "cf_clone_of": null, "cf_fixed_in":
        "", "priority": "medium", "cf_type": "---", "target_release": ["---"], "see_also":
        [], "cf_build_id": "", "groups": [], "cf_qa_whiteboard": "", "cf_environment":
        "", "cf_internal_whiteboard": ""}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - T1+G+xvpoJZNM6I49OPhdw
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1655989797.a9b88
      x-rh-edge-request-id:
      - a9b88
    status:
      code: 200
      message: OK
version: 1
