interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh72"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - N+BsQ7i/1W9hh3ZOgehzwQ
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1656003703.206216
      x-rh-edge-request-id:
      - '206216'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"can_login": true, "name": "aander07@packetmaster.com",
        "id": 1, "email": "aander07@packetmaster.com", "real_name": "Need Real Name"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - Bzigpk5BKkP43rGInQ0TDw
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1656003704.2062ca
      x-rh-edge-request-id:
      - 2062ca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2086753
  response:
    body:
      string: '{"bugs": [{"whiteboard": "", "cf_qa_whiteboard": "", "classification":
        "Other", "flags": [{"id": 5479138, "name": "requires_doc_text", "modification_date":
        "2022-05-19T13:00:43Z", "status": "+", "setter": "rtillery@redhat.com", "creation_date":
        "2022-05-16T14:32:48Z", "is_active": 1, "type_id": 415}], "target_release":
        ["---"], "creator_detail": {"name": "mrehak@redhat.com", "email": "mrehak@redhat.com",
        "id": 434842, "real_name": "Marian Rehak"}, "cf_release_notes": "A use-after-free
        flaw was found in the Linux kernel\u2019s performance events functionality.
        A user triggers a race condition in setting up performance monitoring between
        the leading PERF_TYPE_TRACEPOINT and sub PERF_EVENT_HARDWARE plus the PERF_EVENT_SOFTWARE
        using the perf_event_open() function with these three types. This flaw allows
        a local user to crash the system.", "remaining_time": 0, "target_milestone":
        "---", "cf_internal_whiteboard": "", "resolution": "", "version": ["unspecified"],
        "sub_components": {}, "creation_time": "2022-05-16T14:32:48Z", "see_also":
        [], "assigned_to_detail": {"real_name": "Red Hat Product Security", "email":
        "security-response-team@redhat.com", "id": 164808, "name": "security-response-team@redhat.com"},
        "component": ["vulnerability"], "qa_contact": "", "last_change_time": "2022-06-23T13:16:39Z",
        "cf_pgm_internal": "", "cf_environment": "", "is_creator_accessible": true,
        "cf_qe_conditional_nak": [], "op_sys": "Linux", "alias": ["CVE-2022-1729"],
        "cf_build_id": "", "cf_cust_facing": "---", "cf_srtnotes": "{\"acknowledgments\":
        [{\"affiliation\": \"\", \"from_upstream\": false, \"name\": \"Norbert Slusarek\"}],
        \"affects\": [{\"affectedness\": \"affected\", \"cvss2\": null, \"cvss3\":
        null, \"impact\": \"important\", \"ps_component\": \"kernel\", \"ps_module\":
        \"rhel-8\", \"resolution\": \"fix\"}, {\"affectedness\": \"affected\", \"cvss2\":
        null, \"cvss3\": null, \"impact\": null, \"ps_component\": \"kernel\", \"ps_module\":
        \"fedora-34\", \"resolution\": \"fix\"}, {\"affectedness\": \"affected\",
        \"cvss2\": null, \"cvss3\": null, \"impact\": null, \"ps_component\": \"kernel\",
        \"ps_module\": \"fedora-35\", \"resolution\": \"fix\"}, {\"affectedness\":
        \"affected\", \"cvss2\": null, \"cvss3\": null, \"im[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2086753
  response:
    body:
      string: '{"limit": "20", "total_matches": 1, "bugs": [{"flags": [{"type_id":
        415, "status": "+", "creation_date": "2022-05-16T14:32:48Z", "id": 5479138,
        "setter": "rtillery@redhat.com", "name": "requires_doc_text", "modification_date":
        "2022-05-19T13:00:43Z", "is_active": 1}], "cf_release_notes": "A use-after-free
        flaw was found in the Linux kernel\u2019s performance events functionality.
        A user triggers a race condition in setting up performance monitoring between
        the leading PERF_TYPE_TRACEPOINT and sub PERF_EVENT_HARDWARE plus the PERF_EVENT_SOFTWARE
        using the perf_event_open() function with these three types. This flaw allows
        a local user to crash the system.", "docs_contact": "", "cf_pgm_internal":
        "", "resolution": "", "see_also": [], "cf_build_id": "", "depends_on": [2087945,
        2087946, 2087947, 2087948, 2087949, 2087950, 2087952, 2087953, 2087954, 2087955,
        2087956, 2087959, 2087960, 2087961, 2087962, 2087963, 2087964, 2087965, 2087966,
        2087951, 2087957, 2087973, 2087974, 2087975, 2087976, 2087977, 2087978, 2087979,
        2087980, 2088501, 2088502, 2089288, 2089289], "product": "Security Response",
        "tags": [], "actual_time": 0, "cc_detail": [{"name": "acaringi@redhat.com",
        "real_name": "Augusto Caringi", "email": "acaringi@redhat.com", "id": 408364},
        {"id": 448206, "email": "adscvr@gmail.com", "real_name": "Facundo", "name":
        "adscvr@gmail.com"}, {"id": 215372, "name": "airlied@redhat.com", "real_name":
        "Dave Airlie", "email": "airlied@redhat.com"}, {"real_name": "Alessio", "email":
        "alciregi@posteo.net", "name": "alciregi@posteo.net", "id": 406321}, {"real_name":
        "Alex", "email": "al[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2086753/comment
  response:
    body:
      string: '{"bugs": {"2086753": {"comments": [{"creation_time": "2022-05-16T14:32:48Z",
        "text": "A race condition in perf_event_open() which can be exploited by an
        unprivileged user to gain root privileges. The bug allows to build several
        exploit primitives such as kernel address information leak, arbitrary execution,
        etc.", "creator": "mrehak@redhat.com", "id": 16250692, "creator_id": 434842,
        "count": 0, "tags": [], "time": "2022-05-16T14:32:48Z", "is_private": false,
        "attachment_id": null, "bug_id": 2086753}, {"creation_time": "2022-05-23T11:09:05Z",
        "text": "Created kernel tracking bugs for this issue:\n\nAffects: fedora-34
        [bug 2089288]\nAffects: fedora-35 [bug 2089289]", "creator": "mrehak@redhat.com",
        "id": 16277074, "creator_id": 434842, "count": 10, "tags": [], "time": "2022-05-23T11:09:05Z",
        "attachment_id": null, "is_private": false, "bug_id": 2086753}, {"creator_id":
        275234, "count": 11, "text": "Why are we creating separate Fedora tracking
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2086753
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"whiteboard":
        "", "cf_release_notes": "A use-after-free flaw was found in the Linux kernel\u2019s
        performance events functionality. A user triggers a race condition in setting
        up performance monitoring between the leading PERF_TYPE_TRACEPOINT and sub
        PERF_EVENT_HARDWARE plus the PERF_EVENT_SOFTWARE using the perf_event_open()
        function with these three types. This flaw allows a local user to crash the
        system.", "product": "Security Response", "cf_doc_type": "If docs needed,
        set a value", "estimated_time": 0, "assigned_to": "security-response-team@redhat.com",
        "severity": "high", "cf_last_closed": null, "is_creator_accessible": true,
        "cc_detail": [{"real_name": "Augusto Caringi", "id": 408364, "email": "acaringi@redhat.com",
        "name": "acaringi@redhat.com"}, {"id": 448206, "real_name": "Facundo", "email":
        "adscvr@gmail.com", "name": "adscvr@gmail.com"}, {"name": "airlied@redhat.com",
        "real_name": "Dave Airlie", "id": 215372, "email": "airlied@redhat.com"},
        {"email": "alciregi@posteo.net", "id": 406321, "real_name": "Alessio", "name":
        "alcireg[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/2086753/history
  response:
    body:
      string: '{"bugs": [{"alias": ["CVE-2022-1729"], "history": [{"when": "2022-05-16T14:32:48Z",
        "changes": [{"removed": "", "added": "security-response-team@redhat.com",
        "field_name": "cc"}], "who": "mrehak@redhat.com"}, {"changes": [{"field_name":
        "cf_srtnotes", "added": "{\"affects\": [{\"affectedness\": \"new\", \"cvss2\":
        null, \"cvss3\": null, \"impact\": null, \"ps_component\": \"kernel\", \"ps_module\":
        \"rhel-8\", \"resolution\": null}, {\"affectedness\": \"affected\", \"cvss2\":
        null, \"cvss3\": null, \"impact\": null, \"ps_component\": \"kernel\", \"ps_module\":
        \"fedora-34\", \"resolution\": \"fix\"}, {\"affectedness\": \"affected\",
     [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2086700&include_fields=assigned_to&include_fields=id&include_fields=product
  response:
    body:
      string: '{"limit": "20", "offset": 0, "total_matches": 1, "bugs": [{"assigned_to":
        "allarkin@redhat.com", "assigned_to_detail": {"email": "allarkin@redhat.com",
        "id": 443791, "real_name": "Alex", "name": "allarkin@redhat.com"}, "id": 2086700,
        "product": "Security Response"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - fTRQYDhCRnkzA2Q64OaDZg
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.b55a33b8.1656003713.207aac
      x-rh-edge-request-id:
      - 207aac
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087945
  response:
    body:
      string: '{"offset": 0, "limit": "20", "total_matches": 1, "bugs": [{"cf_release_notes":
        "", "severity": "high", "cf_epm_cdp": null, "depends_on": [], "comments":
        [{"id": 16265721, "time": "2022-05-18T15:06:13Z", "attachment_id": null, "count":
        0, "creator": "allarkin@redhat.com", "bug_id": 2087945, "creator_id": 443791,
        "creation_time": "2022-05-18T15:06:13Z", "tags": [], "text": "rhel-8 tracking
        bug for kernel: see the bugs linked in the \"Blocks\" field of this bug for
        full details of the security issue(s).\n\nThis bug is never intended to be
        made public, please put any public notes in the blocked bugs.\n\nImpact: Important\nPublic
        Date: 20-May-2022\nResolve Bug By: 10-Jun-2022\n\nIn case the dates above
        are already past, please evaluate this bug in your next prioritization review
        and make a decision then.\n\nPlease see the Security Errata Policy for further
        details: https://docs.engineering.redhat.com/x/9RBqB\n\nNOTE THIS ISSUE IS
        CURRENTLY EMBARGOED, DO NOT MAKE PUBLIC COMMITS OR COMMENTS ABOUT THIS ISSUE.\n\nWARNING:
        NOTICE THAT REMOVING THE \"SECURITY\" GROUP FROM THIS TRACKER MAY BREAK THE
        EMBARGO.\n\nInformation with regards to this bug is considered Red Hat Confidential
        until the embargo has lifted. Please post the patch only to the ''rhkernel-team-list''
        mailing list for review and acks.\n\nFor the Enterprise Linux security issues
        handling process overview see:\nhttps://source.redhat.com/groups/public/product-security/content/product_security_wiki/eus_z_stream_and_security_bugs\n\nReproducers,
        if any, will remain confidential and never be made public, unless done so
        by the security team.\n\nNOTICE: THIS BUG HAS THE DEFAULT QA CONTACT (kernel-general-qe@redhat.com)
        OVERRIDDEN BECAUSE IT WAS A MAILING LIST OR NON @redhat.com E-MAIL! PLEASE
        CONTACT secalert@redhat.com IF THIS CONFUSES YOU.", "is_private": false}],
        "product": "Red Hat Enterprise Linux 8", "is_cc_accessible": true, "cf_environment":
        "", "cf_devel_whiteboard": "EUS 8.1z kernel 23: GA 2022-07-19", "cf_doc_type":
        "No Doc Update", "cf_internal_target_release": "---", "last_change_time":
        "2022-06-20T06:53:41Z", "target_release": ["---"], "status": "VERIFIED", "url":
        "", "description": "rhel-8 tracking bug for kernel: see the bugs linked in
        the \"Blocks\" field of this bug for full details of the security issue(s).\n\nThis
        bug is never intended to be made public, please put any public notes in the
        blocked bugs.\n\nImpact: Important\nPublic Date: 20-May-2022\nResolve Bug
        By: 10-Jun-2022\n\nIn case the dates above are already past, please evaluate
        this bug in your next prioritization review and make a decision then.\n\nPlease
        see the Security Errata Policy for further details: https://docs.engineering.redhat.com/x/9RBqB\n\nNOTE
        THIS ISSUE IS CURRENTLY EMBARGOED, DO NOT MAKE PUBLIC COMMITS OR COMMENTS
        ABOUT THIS ISSUE.\n\nWARNING: NOTICE THAT REMOVING THE \"SECURITY\" GROUP
        FROM THIS TRACKER MAY BREAK THE EMBARGO.\n\nInformation with regards to this
        bug is considered Red Hat Confidential until the embargo has lifted. Please
        post the patch only to the ''rhkernel-team-list'' mailing list for review
        and acks.\n\nFor the Enterprise Linux security issues handling process overview
        see:\nhttps://source.redhat.com/groups/public/product-security/content/product_security_wiki/eus_z_stream_and_security_bugs\n\nReproducers,
        if any, will remain confidential and never be made public, unless done so
        by the security team.\n\nNOTICE: THIS BUG HAS THE DEFAULT QA CONTACT (kernel-general-qe@redhat.com)
        OVERRIDDEN BECAUSE IT WAS A MAILING LIST OR NON @redhat.com E-MAIL! PLEASE
        CONTACT secalert@redhat.com IF THIS CONFUSES YOU.", "assigned_to": "scweaver@redhat.com",
        "cf_type": "---", "platform": "Unspecified", "component": ["kernel"], "cf_approved_release":
        "", "cf_last_closed": null, "qa_contact": "qzhao@redhat.com", "cf_build_id":
        "", "cf_qa_whiteboard": "", "whiteboard": "", "is_creator_accessible": true,
        "cf_pm_score": "0", "creator_detail": {"id": 443791, "name": "allarkin@redhat.com",
        "email": "allarkin@redhat.com", "real_name": "Alex"}, "summary": "CVE-2022-1729
        kernel: race condition in perf_event_open leads to privilege escalation [rhel-8.1.0.z]",
        "cf_cust_facing": "---", "cf_internal_whiteboard": "", "cf_epm_phd": null,
        "cc_detail": [{"email": "acaringi@redhat.com", "real_name": "Augusto Caringi",
        "id": 408364, "name": "acaringi@redhat.com"}, {"email": "acme@redhat.com",
        "real_name": "Arnaldo Carvalho de Melo", "name": "acme@redhat.com", "id":
        209622}, {"id": 61112, "name": "bhu@redhat.com", "real_name": "Beth Uptagrafft",
        "email": "bhu@redhat.com"}, {"name": "brdeoliv@redhat.com", "id": 408404,
        "real_name": "Bruno Meneguele", "email": "brdeoliv@redhat.com"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087946
  response:
    body:
      string: '{"limit": "20", "total_matches": 1, "offset": 0, "bugs": [{"qa_contact_detail":
        {"email": "qzhao@redhat.com", "real_name": "Qiao Zhao", "name": "qzhao@redhat.com",
        "id": 335606}, "component": ["kernel"], "cf_cust_facing": "---", "blocks":
        [2083437, 2086753, 2087959, 2087977], "creation_time": "2022-05-18T15:06:17Z",
        "cf_epm_put": null, "target_release": ["---"], "resolution": "", "cf_release_notes":
        "", "cf_zstream_target_release": "8.2.0", "cf_build_id": "", "description":
        "rhel-8 tracking bug for kernel: see the bugs linked in the \"Blocks\" field
        of this bug for full details of the security issue(s).\n\nThis bug is never
        intended to be made public, please put any public notes in the blocked bugs.\n\nImpact:
        Important\nPublic Date: 20-May-2022\nResolve Bug By: 10-Jun-2022\n\nIn case
        the dates above are already past, please evaluate this bug in your next prioritization
        revi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087947
  response:
    body:
      string: '{"total_matches": 1, "offset": 0, "bugs": [{"cf_internal_target_milestone":
        null, "cf_fixed_in": "kernel-4.18.0-305.53.1.el8_4", "cf_epm_prf_state": null,
        "is_open": true, "cf_epm_cdp": null, "classification": "Red Hat", "qa_contact_detail":
        {"email": "qzhao@redhat.com", "name": "qzhao@redhat.com", "real_name": "Qiao
        Zhao", "id": 335606}, "target_milestone": "rc", "description": "rhel-8 tracking
        bug for kernel: see the bugs linked in the \"Blocks\" field of this bug for
        full details of the security issue(s).\n\nThis bug is never intended to be
        made public, please put any public notes in the blocked bugs.\n\nImpact: Im[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087948
  response:
    body:
      string: '{"offset": 0, "bugs": [{"op_sys": "Unspecified", "groups": ["redhat"],
        "is_creator_accessible": true, "is_open": true, "cf_internal_whiteboard":
        "", "cf_pgm_internal": "", "depends_on": [], "see_also": [], "cc": ["acaringi@redhat.com",
        "acme@redhat.com", "bhu@redhat.com", "brdeoliv@redhat.com", "ddepaula@redhat.com",
        "dhoward@redhat.com", "dvlasenk@redhat.com", "fhrbata@redhat.com", "hkrzesin@redhat.com",
        "jarod@redhat.com", "jfaracco@redhat.com", "jferlan@redhat.com", "jforbes@redhat.com",
        "joe.lawrence@redhat.com", "jshortt@redhat.com", "jstancek@redhat.com", "kcarcia@redhat.com",
        "lzampier@redhat.com", "nmurray@redhat.com", "ptalbert@redhat.com", "rvrbovsk@redhat.com",
        "scweaver@redhat.com", "walters@redhat.com", "zsun@redhat.com"], "cf_deadline_type":
        "Final", "cf_deadline": "2022-06-10T00:00:00Z", "target_milestone": "rc",
        "cf_verified": ["Tested"], "cf_epm_phd": null, "cf_doc_type": "No Doc Update",
        "summary": "CVE-2022-1729 kernel: race condition in perf_event_open leads
        to privilege escalation [rhel-8.6.0.z]", "assigned_to_detail": {"email": "acaringi@redhat.com",
        "name": "acaringi@redhat.com", "real_name": "Augusto Caringi", "id": 408364},
        "flags": [{"id": 5483129, "creation_date": "2022-05-18T15:06:26Z", "modification_date":
        "2022-05-18T15:06:26Z", "setter": "bugzilla@redhat.com", "i[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087952
  response:
    body:
      string: '{"offset": 0, "limit": "20", "bugs": [{"component": ["kernel"], "cf_clone_of":
        null, "creation_time": "2022-05-18T15:06:39Z", "alias": [], "cf_pgm_internal":
        "", "creator_detail": {"real_name": "Alex", "id": 443791, "name": "allarkin@redhat.com",
        "email": "allarkin@redhat.com"}, "sub_components": {"kernel": ["Debugging/Tracing",
        "Perf"]}, "qa_contact_detail": {"name": "qzhao@redhat.com", "id": 335606,
        "real_name": "Qiao Zhao", "email": "qzhao@redhat.com"}, "cf_docs_score": "0",
        "blocks": [2086753, 2087955, 2087973], "product": "Red Hat Enterprise Linux
        7", "cf_final_deadline": "2023-11-18T00:00:00Z", "classification": "Red Hat",
        "see_also": [], "whiteboard": "", "last_change_time": "2022-06-22T14:49:49Z",
        "cc_detail": [{"email": "acaringi@redhat.com", "id": 408364, "name": "acaringi@redhat.com",
        "real_name": "Augusto Caringi"}, {"email": "acme@redhat.com", "real_name":
        "Arnaldo Carvalho de Melo", "name": "acme@redhat.com", "id": 209622}, {"name":
        "bhu@redhat.com", "id": 61112, "real_name": "Beth Uptagrafft", "email": "bhu@redha[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087953
  response:
    body:
      string: '{"bugs": [{"creation_time": "2022-05-18T15:06:43Z", "cf_dev_target_milestone":
        null, "remaining_time": 0, "url": "", "cf_pm_score": "0", "cf_environment":
        "", "cf_internal_whiteboard": "", "cf_partner": [], "description": "rhel-7
        tracking bug for kernel: see the bugs linked in the \"Blocks\" field of this
        bug for full details of the security issue(s).\n\nThis bug is never intended
        to be made public, please put any public notes in the blocked bugs.\n\nImpact:
        Important\nPublic Date: 20-May-2022\nResolve Bug By: 10-Jun-2022\n\nIn case
        the dates above are already past, please evaluate this bug in your next prioritization
        review and make a decision t[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087954
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "bugs": [{"alias": [], "cf_build_id":
        "", "op_sys": "Unspecified", "cf_environment": "", "is_creator_accessible":
        true, "blocks": [2084382, 2086753, 2087956, 2087975], "priority": "high",
        "cc_detail": [{"name": "acaringi@redhat.com", "email": "acaringi@redhat.com",
        "id": 408364, "real_name": "Augusto Caringi"}, {"name": "acme@redhat.com",
        "id": 209622, "email": "acme@redhat.com", "real_name": "Arnaldo Carvalho de
        Melo"}, {"name": "bhu@redhat.com", "real_name": "Beth Uptagrafft", "email":
        "bhu@redhat.com", "id": 61112}, {"name": "brdeoliv@redhat.com", "email": "brdeoliv@redhat.com",
        "id": 408404, "real_name": "Bruno Meneguel[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087955
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "bugs": [{"assigned_to": "mpetlan@redhat.com",
        "dupe_of": null, "external_bugs": [{"id": 2016147, "ext_priority": "None",
        "ext_bz_id": 55, "ext_status": "None", "bug_id": 2087955, "ext_description":
        "None", "type": {"send_once": false, "full_url": "https://issues.redhat.com/browse/%id%",
        "id": 55, "url": "https://issues.redhat.com/", "type": "JIRA", "can_get":
        false, "must_send": false, "can_send": false, "description": "Red Hat Issue
        Tracker"}, "ext_bz_bug_id": "RHELPLAN-122787"}, {"ext_bz_id": 149, "ext_status":
        "None", "bug_id": 2087955, "id": 2034158, "ext_priority": "None", "type":
        {"url": "https://gitlab.com/", "id": 149, "full_url": "https://gitlab.com/%id%",
        "send_once": false, "description": "Gitlab", "can_send": false, "must_send":
        false, "type": "GitLab", "can_get": true}, "ext_bz_bug_id": "redhat/rhel/src/kernel/rhel-7/-/merge_requests/523",
        "ext_description": "None"}], "url": "", "see_also": [], "creator": "allarkin@redhat.com",
        "cf_build_id": "", "platform": "Unspecified", "is_confirmed": true, "description":
        "rhel-7 tracking bug for kernel-rt: see the bugs linked in the \"Blocks\"
        field of this bug for full details of the security issue(s).\n\nThis bug is
        never intended to be made public, please put any public notes in the blocked
        bugs.\n\nImpact: Important\nPublic Date: 20-May-2022\nResolve Bug By: 10-Jun-2022\n\nIn
        case the dates above are already past, please evaluate this bug in your next
        prioritization review and make a decis[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087959
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "bugs": [{"status": "VERIFIED",
        "cf_conditional_nak": [], "is_confirmed": true, "cf_qe_conditional_nak": [],
        "cf_pm_score": "0", "cf_final_deadline": "2023-11-18T00:00:00Z", "cf_release_notes":
        "", "qa_contact": "qzhao@redhat.com", "cf_type": "---", "cf_clone_of": null,
        "cf_internal_whiteboard": "", "cc_detail": [{"email": "acaringi@redhat.com",
        "name": "acaringi@redhat.com", "real_name": "Augusto Caringi", "id": 408364},
        {"name": "acme@redhat.com", "email": "acme@redhat.com", "id": 209622, "real_name":
    [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087960
  response:
    body:
      string: '{"total_matches": 1, "limit": "20", "bugs": [{"cf_internal_target_milestone":
        null, "cf_pm_score": "0", "target_release": ["---"], "op_sys": "Unspecified",
        "priority": "high", "cf_deadline": "2022-06-10T00:00:00Z", "classification":
        "Red Hat", "blocks": [2086753], "depends_on": [2087947], "tags": [], "cf_final_deadline":
        "2023-11-18T00:00:00Z", "cf_epm_pri": [], "cf_target_upstream_version": "",
        "deadline": "2022-06-10", "flags": [{"creation_date": "2022-05-18T15:07:08Z",
        "status": "-", "setter": "bugzilla@redhat.com", "modification_date": "2022-05-18T15:07:08Z",
        "type_id": 415, "id": 5483215, "is_active": 1, "name": "requires_doc_text"},
        {"setter": "allarkin@redhat.com", "status": "+", "creation_date": "2022-05-18T15:07:08Z",
        "modification_date": "2022-05-18T15:07:08Z", "type_id": 1197, "id": 5483211,
        "is_active": 1, "name": "release"}, {"modification_date"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=2087961
  response:
    body:
      string: '{"bugs": [{"cc": ["acaringi@redhat.com", "acme@redhat.com", "bhu@redhat.com",
        "brdeoliv@redhat.com", "chwhite@redhat.com", "dhoward@redhat.com", "dvlasenk@redhat.com",
        "fhrbata@redhat.com", "hkrzesin@redhat.com", "jarod@redhat.com", "jfaracco@redhat.com",
        "jforbes@redhat.com", "jlelli@redhat.com", "joe.lawrence@redhat.com", "jshortt@redhat.com",
        "jstancek@redhat.com", "jwyatt@redhat.com", "kcarcia@redhat.com", "lgoncalv@redhat.com",
        "lzampier@redhat.com", "nmurray@redhat.com", "ptalbert@redhat.com", "qzhao@redhat.com",
        "rvrbovsk@redhat.com", "scweaver@redhat.com", "swood@redhat.com", "walters@redhat.com",
        "williams@redhat.com", "zsun@redhat.com"], "keywords": ["Security", "SecurityTracking",
        "Triaged", "ZStream"], "cf_conditional_nak": [], "target_milestone": "rc",
        "resolution": "", "cf_clone_of": null, "version": ["8.6"], "assigned_to_detail":
        {"name": "chwhite@redhat.com", "email": "chwhite@redhat.com", "id": 440358,
        "real_name": "Chris White"}, "dupe_of": null, "cf_verified": ["Tested"], "qa_contact":
        "qzhao@redhat.com", "cf_epm_phd": null, "remaining_time": 0, "cf_dev_target_milestone":
        null, "id": 2087961, "cf_devdoctest": [], "target_release": ["---"], "cf_pm_score":
[...]
