interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/version
  response:
    body:
      string: '{"version": "5.0.4.rh94"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707466623.db2c73be
      x-rh-edge-request-id:
      - db2c73be
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/user?ids=1
  response:
    body:
      string: '{"users": [{"name": "aander07@packetmaster.com", "id": 1, "can_login":
        true, "real_name": "Need Real Name", "email": "aander07@packetmaster.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707466623.db2c7680
      x-rh-edge-request-id:
      - db2c7680
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984057
  response:
    body:
      string: '{"bugs": [{"cc_detail": [{"active": true, "insider": true, "id": 342077,
        "email": "bmontgom@redhat.com", "real_name": "Bill Montgomery", "partner":
        false, "name": "bmontgom@redhat.com"}, {"name": "eparis@redhat.com", "partner":
        false, "real_name": "Eric Paris", "email": "eparis@redhat.com", "id": 165117,
        "insider": true, "active": true}, {"email": "security-response-team@bot.bugzilla.redhat.com",
        "id": 464788, "insider": false, "real_name": "security-response-team", "partner":
        false, "name": "security-response-team@bot.bugzilla.redhat.com", "active":
        true}], "blocks": [], "cf_clone_of": null, "resolution": "", "remaining_time":
        0, "assigned_to": "nobody@redhat.com", "cf_devel_whiteboard": "", "cf_release_notes":
        "", "component": ["vulnerability"], "classification": "Other", "deadline":
        null, "cf_pgm_internal": "", "is_cc_accessible": true, "cf_build_id": "",
        "qa_contact": "", "version": ["unspecified"], "whiteboard": "", "actual_time":
        0, "summary": "EMBARGOED CVE-2017-79823 openshift: thing", "creator": "osoukup@redhat.com",
        "depends_on": [1984058], "assigned_to_detail": {"active": true, "real_name":
        "Nobody", "partner": false, "email": "nobody@redhat.com", "insider": false,
        "id": 29451, "name": "nobody@redhat.com"}, "product": "Security Response",
        "id": 1984057, "cf_doc_type": "If docs needed, set a value", "estimated_time":
        0, "last_change_time": "2024-01-08T01:58:15Z", "cf_fixed_in": "", "cf_qa_whiteboard":
        "", "comments": [{"private_groups": [], "is_private": false, "bug_id": 1984057,
        "id": 15297475, "creator": "osoukup@redhat.com", "creation_time": "2021-08-31T08:47:21Z",
        "count": 0, "time": "2021-08-31T08:47:21Z", "attachment_id": null, "text":
        "comment", "tags": [], "creator_id": 412888}, {"tags": [], "creator_id": 319892,
        "time": "2024-01-08T01:58:15Z", "count": 8, "text": "Add public comment",
        "attachment_id": null, "id": 15696951, "bug_id": 1984057, "creation_time":
        "2024-01-08T01:58:15Z", "creator": "huiwang@redhat.com", "private_groups":
        [], "is_private": false}], "target_release": ["---"], "cf_major_incident":
        null, "alias": ["CVE-2017-79823"], "is_creator_accessible": true, "dupe_of":
        null, "cf_pm_score": "0", "cf_environment": "", "cf_srtnotes": "{\"affects\":
        [{\"ps_module\": \"openshift-enterprise-3.11\", \"ps_component\": \"thing\",
        \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\": null,
        \"cvss2\": null, \"cvss3\": null}], \"checklists\": [{\"items\": [{\"checked\":
        false, \"comment\": null, \"item\": \"0. Concise and precise summary\", \"not_applicable\":
        false}, {\"checked\": false, \"comment\": null, \"item\": \"1. Accurate technical
        information\", \"not_applicable\": false}, {\"checked\": false, \"comment\":
        null, \"item\": \"2. Appropriate CVSS\", \"not_applicable\": false}, {\"checked\":
        false, \"comment\": null, \"item\": \"3. Fixed in version\", \"not_applicable\":
        false}, {\"checked\": false, \"comment\": null, \"item\": \"4. Appropriate
        CWE(s) \", \"not_applicable\": false}, {\"checked\": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984057
  response:
    body:
      string: '{"offset": 0, "bugs": [{"cf_internal_whiteboard": "", "priority": "medium",
        "classification": "Other", "cf_doc_type": "If docs needed, set a value", "cf_pgm_internal":
        "", "estimated_time": 0, "url": "", "sub_components": {}, "cc_detail": [{"real_name":
        "Bill Montgomery", "partner": false, "insider": true, "email": "bmontgom@redhat.com",
        "name": "bmontgom@redhat.com", "active": true, "id": 342077}, {"real_name":
        "Eric Paris", "partner": false, "insider": true, "email": "eparis@redhat.com",
        "name": "eparis@redhat.com", "active": true, "id": 165117}, {"name": "security-response-team@bot.bugzilla.redhat.com",
        "active": true, "id": 464788, "real_name": "security-response-team", "partner":
        false, "insider": false, "email": "security-response-team@bot.bugzilla.redhat.com"}],
        "data_category": "Security Restricted", "is_confirmed": true, "description":
        "comment", "remaining_time": 0, "target_milestone": "---", "version": ["unspecified"],
        "qa_contact": "", "blocks": [], "keywords": ["Security"], "actual_time": 0,
        "comments": [{"creator": "osoukup@redhat.com", "id": 15297475, "text": "comment",
        "count": 0, "bug_id": 1984057, "creation_time": "2021-08-31T08:47:21Z", "is_private":
        false, "attachment_id": null, "creator_id": 412888, "private_groups": [],
        "time": "2021-08-31T08:47:21Z", "tags": []}, {"text": "Add public comment",
        "count": 8, "bug_id": 1984057, "id": 15696951, "creator": "huiwang@redhat.com",
        "time": "2024-01-08T01:58:15Z", "tags": [], "creation_time": "2024-01-08T01:58:15Z",
        "is_private": false, "creator_id": 319892, "private_groups": [], "attachment_id":
        null}], "cf_build_id": "", "external_bugs": [], "cf_srtnotes": "{\"affects\":
        [{\"ps_module\": \"openshift-enterprise-3.11\", \"ps_component\": \"thing\",
        \"affectedness\": \"affected\", \"resolution\": \"fix\", \"impact\": null,
        \"cvss2\": null, \"cvss3\": null}], \"checklists\": [{\"items\": [{\"checked\":
        false, \"comment\": null, \"item\": \"0. Concise and precise summary\", \"not_applicable\":
        false}, {\"checked\": false, \"comment\": null, \"item\": \"1. Accurate technical
        information[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug/1984057/comment
  response:
    body:
      string: '{"comments": {}, "bugs": {"1984057": {"comments": [{"private_groups":
        [], "is_private": false, "id": 15297475, "bug_id": 1984057, "creation_time":
        "2021-08-31T08:47:21Z", "creator": "osoukup@redhat.com", "time": "2021-08-31T08:47:21Z",
        "count": 0, "attachment_id": null, "text": "comment", "tags": [], "creator_id":
        412888}, {"is_private": false, "private_groups": [], "creation_time": "2024-01-08T01:58:15Z",
        "creator": "huiwang@redhat.com", "id": 15696951, "bug_id": 1984057, "attachment_id":
        null, "text": "Add public comment", "time": "2024-01-08T01:58:15Z", "count":
        8, "creator_id": 319892, "tags": []}]}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.6f361060.1707466626.db2cab72
      x-rh-edge-request-id:
      - db2cab72
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://bugzilla.redhat.com/rest/bug?extra_fields=comments&extra_fields=description&extra_fields=external_bugs&extra_fields=flags&extra_fields=sub_components&extra_fields=tags&id=1984058
  response:
    body:
      string: '{"bugs": [{"cf_partner": [], "blocks": [1984057], "qa_contact": "",
        "comments": [{"bug_id": 1984058, "count": 0, "text": "openshift-enterprise-3.11
        tracking bug for thing: see the bugs linked in the \"Blocks\" field of this
        bug for full details of the security issue(s).\n\nThis bug is never intended
        to be made public, please put any public notes in the blocked bugs.\n\nImpact:
        Moderate\nPublic Date: not set\nPM Fix/Wontfix Decision By: 29-Nov-2021\nResolve
        Bug By: 365 calendar days from the public date\n\nIn case the dates above
        are already past, please evaluate this bug in your next prioritization review
        and make a decision then. Remember to explicitly set CLOSED:WONTFIX if you
        decide not to fix this bug.\n\nPlease see the Security Errata Policy for further
        details: https://docs.engineering.redhat.com/x/9RBqB\n\nNOTE THIS ISSUE IS
        CURRENTLY EMBARGOED, DO NOT MAKE PUBLIC COMMITS OR COMMENTS ABOUT THIS ISSUE.\n\nWARNING:
        NOTICE THAT REMOVING THE \"SECURITY\" GROUP FROM THIS TRACKER MAY BREAK THE
        EMBARGO.", "creator": "osoukup@redhat.com", "id": 15297476, "time": "2021-08-31T08:47:45Z",
        "tags": [], "creation_time": "2021-08-31T08:47:45Z", "attachment_id": null,
        "creator_id": 412888, "private_groups": [], "is_private": false}], "actual_time":
        0, "keywords": ["Security", "SecurityTracking", "Unconfirmed"], "version":
        ["3.11.0"], "cf_clone_of": null, "cf_environment": "", "creator_detail": {"insider":
        true, "email": "osoukup@redhat.com", "real_name": "Ondrej Soukup", "partner":
        false, "active": true, "id": 412888, "name": "osoukup@redhat.com"}, "cf_target_upstream_version":
        "", "cf_build_id": "", "platform": "Unspecified", "cf_pm_score": "0", "external_bugs":
        [], "estimated_time": 0, "cf_internal_whiteboard": "", "priority": "medium",
        "classification": "Red Hat", "cf_pgm_internal": "", "cf_doc_type": "No Doc
        Update", "is_confirmed": true, "data_category": "Security Restricted", "cc_detail":
        [{"insider": true, "email": "bmontgom@redhat.com", "real_name": "Bill Montgomery",
        "partner": false, "active": true, "id": 342077, "name": "bmontgom@redhat.com"},
        [...]
